{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}

{% extends 'ext/main.html' %}

{% block main %}
{% set table = '__account__' %}
<form action="" method="post">
    <fieldset>
        <div class="form-row">
            <div class="col-12 col-md">
                <span class="label-top">nome</span>
                {{ frm.input( table, '', '', 'nome', '', '', request ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">cognome</span>
                {{ frm.input( table, '', '', 'cognome', '', '', request ) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-sm">modifica dati</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
