{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
		<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

        {# SELETTORE LINGUA #}
	    <fieldset>
		<legend>lingua</legend>

		<div class="form-group form-row">
		    <div class="col-12">
				{{ frm.selectAuto( '__view__', '', '', '__lang__', '', localization.languages, request, localization.language.id ) }}
		    </div>
		</div>

	    </fieldset>

		{# DEFINIZIONI SPECIALI #}
		{% set subtable = form.subtable %}

		{# CICLO SULLE LINGUE #}
		{% set i = 0 %}
		{% for l in localization.languages %}

		{% set r = request[ table ][ subtable ][ i ] %}

		{{ frm.input( table, subtable, i, 'id', '', '', request, '', 'hidden' ) }}
	    {{ frm.input( table, subtable, i, 'id_popup', '', '', request, '__parent_id__', 'hidden' ) }}
	    {{ frm.input( table, subtable, i, 'id_lingua', '', '', request, '', 'hidden' ) }}

        {# MODULO PRINCIPALE #}
	    <fieldset>
		<legend>dati generali <small>{{ legend }}</small></legend>

		 <div class="form-group form-row">
            <div class="col">
                <span class="label-top">titolo</span>
                {{ frm.input( table, subtable, i,'h1', '', '', request ) }}
            </div>
        </div>
        </fieldset>
        
        <fieldset>
           <div class="form-group form-row">
                <div class="col">
                    <span class="label-top">contenuto del popup</span>
                    {{ frm.textarea( table, subtable, i, 'testo', ' ', 3, request, '', '', 'ckEditor', 200 ) }}
                </div>
            </div>
        
        </fieldset>

	    {% set i = i + 1 %}
        {% endfor %}
        
        {# BOTTONI E COMANDI DEL MODULO #}
	    <fieldset class="form-controls">
			{{ def.controls( page, pages, ietf, session, table, request ) }}
		</fieldset>

	</form>
    </div>
</section>

{% endblock %}






