{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set ietf = localization.language.ietf %}

{# FORM DI GESTIONE #}

<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

        <form id="form-filtro" class="form-main form-horizontal d-flex flex-column flex-fill" action="{{ page.path[ localization.language.ietf ] }}" method="post">
            <div class="form-row view-filters d-print-none cks">
                <div class="col-12 col-md">
                    <span class="label-top">operatore</span>
                    <div class="row m-0">
                        <div class="col combobox-container p-0">
                            <select name="__view__[{{ view.id }}][__filters__][id_anagrafica][EQ]" populate-api onchange="$('#pager').val('0');" class="selectbox form-control form-control-sm" id="operatore">
                                <option value="" ></option>
                            {% for operatore in etc.select.operatori %}
                                <option value="{{ operatore.id }}" {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == operatore.id %}selected{% endif %}>{{ operatore.__label__ }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto p-0 pl-1">
                            <button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="$('#operatore_inputbox').trigger('all');"><i class="fa fa-chevron-down"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <span class="label-top">&nbsp;</span>
                    <button type="button" style="height: 31px" class="form-control form-control-sm btn btn-sm btn-secondary" onclick="submit();">ELENCO RICHIESTE</button>
                </div>

            </div>
            

        {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ %}
    
            <div class="form-row mt-2">
                <div class="col-md-12 table-responsive">
                    <table class="view-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>attività</th>
                                <th>pianificazione</th>
                                <th>progetto</th>
                                <th>data richiesta</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for s in etc.sostituzioni %}
                            <tr>
                                <td class="text-left">{{ s.id }}</td>
                                <td class="text-left">{{ s.attivita }}</td>
                                <td class="text-left">{{ s.data_programmazione }} | {{ s.ora_inizio_programmazione }} - {{ s.ora_fine_programmazione }}</td>
                                <td class="text-left">{{ s.progetto }}</td>
                                <td class="text-left">{{ s.data_richiesta }}</td>
                                <td>
                                    <button type="button" style="width: auto; padding-left: 10px; padding-right: 10px" class="btn btn-sm btn-secondary" onclick="confermaSostituzione({{ s.id }});" placeholder="accetta sostituzione"  data-placement="bottom" data-delay="1000" title="" data-original-title="accetta sostituzione">accetta</button>
                                    <button type="button" style="width: auto; padding-left: 10px; padding-right: 10px" class="btn btn-sm btn-secondary" onclick="rifiutaSostituzione({{ s.id }});" placeholder="rifiuta sostituzione"  data-placement="bottom" data-delay="1000" title="" data-original-title="rifiuta sostituzione">rifiuta</button>
                                </td>         
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</section>


<script>

    function confermaSostituzione( s ){
        var call = '{{ site.url }}_mod/_1140.variazioni/_src/_api/_task/_sostituzioni.confirm.php?id='+s;

        getws( call,'', function() {
           window.open('{{ page.url[ietf] }}', '_self');
        });
    }

    function rifiutaSostituzione( s ){
        var call = '{{ site.url }}_mod/_1140.variazioni/_src/_api/_task/_sostituzioni.decline.php?id='+s;

        getws( call,'', function() {
           window.open('{{ page.url[ietf] }}', '_self');
        });
    }

</script>

{% endblock %}