{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# FORM DI GESTIONE #}

<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

        <div class="form-row mt-2">
            <div class="col-md-12 table-responsive">
                <table class="view-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>progetto</th>
                            <th>data coinvolta</th>
                            <th>orario</th>
                            <th>pianificato fino al</th>
                            <th>pianificazione</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for p in etc.progetti %}
                        <tr>
                            <td></td>
                            <td class="text-left">{{ p.progetto }}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>{{ p.data_fine }}</td>
                            <td>&nbsp;</td>
                            <td>
                                <button type="button" style="width: auto; padding-left: 10px; padding-right: 10px" class="btn btn-sm btn-secondary" onclick="" placeholder="estendi le pianificazioni del progetto corrente" data-toggle="modal" data-target="#estendiprogetto" data-placement="bottom" data-delay="1000" title="" data-original-title="estendi le pianificazioni del progetto">estendi</button>
                            </td>
                        </tr>
                        {% endfor %}

                        {% for a in etc.attivita %}
                        <tr>
                            <td>{{ a.id }}</td>
                            <td class="text-left">{{ a.progetto }}</td>
                            <td>{{ a.data_programmazione }}</td>
                            <td>{{ a.ora_inizio_programmazione }} - {{ a.ora_fine_programmazione }}</td>
                            <td>{{ a.data_fine }}</td>
                            <td>{{a.id_pianificazione}}</td>
                            <td>
                                {% if a.estendi == 1 %}
                                <button type="button" style="width: auto; padding-left: 10px; padding-right: 10px" class="btn btn-sm btn-secondary" onclick="$('#modalpianificazione').text({{ a.id_pianificazione }});" placeholder="estendi la pianificazione corrente"  data-toggle="modal" data-target="#estendi" data-placement="bottom" data-delay="1000" title="" data-original-title="estendi pianificazione">estendi</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            <!--
                <table class="view-table">
                    <thead>
                        <tr>
                            <th>data pianificazione</th>
                            <th>progetto</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for k,v in etc.attivita %}
                        <tr>
                            <td>{{ k }}</td>
                            <td class="text-left">
                                <ul> 
                                {% for p in v %}
                                     <li>
                                         {{ p.progetto }} - ORARI:                     
                                         {% for a in p.attivita %}
                                         [{{ a.ora_inizio_programmazione }} - {{ a.ora_fine_programmazione }}]
                                         {% if loop.index < loop.length %} | {% endif %}
                                         {% endfor %}

                                     </li>
                                {% endfor %}
                                </ul>
                            </td>                          
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            -->
            </div>
        </div>

        {% if etc.estendere == 0 %}
        <form class="form-main form-horizontal d-flex flex-column flex-fill" action="{{ page.path[ localization.language.ietf ] }}" method="post">
            {# BOTTONI E COMANDI DEL MODULO #}
            <fieldset class="form-controls mt-auto">
                <div class="row no-gutters d-print-none">
                    <div class="col col-md-7 text-center"></div>
                    <div class="col-auto col-md-5 text-right">
                        <div class="row">
                            <div class="col">
                                <button type="button" style="width: auto; padding-left: 10px; padding-right: 10px" class="btn btn-sm btn-secondary" onclick="submitFormOkay = true;" placeholder="approva la variazione corrente" data-toggle="modal" data-target="#conferma" data-placement="bottom" data-delay="1000" title="" data-original-title="approva variazione">APPROVA RICHIESTA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
</section>

<script>

    function pianificazione(p){
        idp = p;
    }

</script>
{% endblock %}