<!DOCTYPE html>
<html lang="{{ localization.language.ietf }}">

    <head>

        {% include '_inc/_page.head.html' %}

    </head>

    <body>

        {% include '_inc/_page.open.html' %}

        <header class="container d-flex flex-column">
            <div class="row d-flex flex-row flex-fill">
                {% block header %}{% include 'inc/header.html' %}{% endblock %}
            </div>
        </header>

        <div class="container nav d-flex flex-column">
            <div class="row d-flex flex-row flex-fill">
                {% block nav %}{% include 'inc/navbar.html' %}{% endblock %}
            </div>
        </div>

        {% block carousel %}{% include 'inc/carousel.html' %}{% endblock %}

        {% block jumbotron %}{% include 'inc/jumbotron.html' %}{% endblock %}

        <main class="container d-flex flex-column flex-fill">

            <div class="row">
                <div class="col">
                    <h1>{{ include( template_from_string( page.h1[ localization.language.ietf ] ) | raw ) }}</h1>
                    {% if page.h2[ localization.language.ietf ] %}<h2>{{ include( template_from_string( page.h2[ localization.language.ietf ] ) | raw ) }}</h2>{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="main">{% block main %}{% endblock %}</div>
                    {% block gallery %}{% include 'inc/gallery.html' %}{% endblock %}
                </div>
                <aside class="col-12 col-md-4">
                    {% block aside %}{% endblock %}
                </aside>
            </div>
        </main>

        <footer class="mt-auto container">
            <div class="row">
                {% block footersx %}{% include 'inc/footer.1.html' %}{% endblock %}
                {% block footercn %}{% include 'inc/footer.2.html' %}{% endblock %}
                {% block footerdx %}{% include 'inc/footer.3.html' %}{% endblock %}
            </div>
        </footer>

        {% include '_inc/_page.close.html' %}

        {% block javascript %}{% endblock %}

    </body>
</html>
