
{# FILE PER LA GENERAZIONE DEL TAG <script> DI GOOGLE ANALYTICS ALL'INTERNO DEL TAG <head> #}

{% if google.analytics.profile.ua %}
{% if google.analytics.profile.anonymous or privacy.cookie.terzi.analitici.identificativi.GoogleAnalytics.consenso == 1 %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google.analytics.profile.ua }}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){ dataLayer.push( arguments ); }
gtag( 'js', new Date() );
gtag( 'config', '{{ google.analytics.profile.ua }}'{% if google.analytics.profile.anonymous %}, { 'anonymize_ip': true }{% endif %} );
</script>
{% else %}
<script>/* profilo Analytics settato {% if google.analytics.profile.anonymous %}anonimo{% else %}identificativo{% endif %}/{% if privacy.cookie.terzi.analitici.identificativi.GoogleAnalytics.consenso %}consenso prestato{% else %}consenso non prestato{% endif %} */</script>
{% endif %}
{% else %}
<script>/* profilo Analytics non settato */</script>
{% endif %}
