
{# FILE PER LA GENERAZIONE DEL CODICE STANDARD DI RICHIESTA ACCETTAZIONE COOKIE #}
{# NOTA: VEDI LA DOCUMENTAZIONE TECNICA PER ULTERIORI INFORMAZIONI SULLA GESTIONE DEI COOKIE #}

{# variabile che determina se devo mostrare la richiesta di consensi #}
{% set consensi = 0 %}

{# verifico se devo acquisire consensi per cookie analitici di terze parti non anonimi #}
{% if privacy.cookie.terzi.analitici %}
{% for cookie, dettagli in privacy.cookie.terzi.analitici %}
{% if not dettagli.anonimo %}
{% if dettagli.consenso == '' %}
{% set consensi = consensi + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{# TODO rendere questo modulo un po' più user friendly (no submit a ogni click) #}
{% if consensi > 0 %}
<div class="container-fluid" id="cookie">
	<div class="row">
		<div class="col">
			<h4>consenso all'utilizzo dei cookie</h4>
		</div>
	</div>
	<div class="row">
		{% for cookie, dettagli in privacy.cookie.terzi.analitici %}
		<div class="col-12 col-md-6 pb-3">
			<form action="{{ page.path[ localization.language.ietf ] }}" method="post">
				<input type="hidden" name="__cookie__[owner]" value="terzi">
				<input type="hidden" name="__cookie__[type]" value="analitici">
				<input type="hidden" name="__cookie__[name]" value="{{ cookie }}">
				<input type="hidden" name="__cookie__[value]" value="1">
				<input type="submit" class="btn btn-default btn-light" value="{{ tr.generic.autorizzo_cookie[ localization.language.ietf ] }} {{ dettagli.nome[ localization.language.ietf ] }}">
			</form>
		</div>
		<div class="col-12 col-md-6 pb-3">
			<form action="{{ page.path[ localization.language.ietf ] }}" method="post">
				<input type="hidden" name="__cookie__[owner]" value="terzi">
				<input type="hidden" name="__cookie__[type]" value="analitici">
				<input type="hidden" name="__cookie__[name]" value="{{ cookie }}">
				<input type="hidden" name="__cookie__[value]" value="0">
				<input type="submit" class="btn btn-default btn-light" value="{{ tr.generic.non_autorizzo_cookie[ localization.language.ietf ] }} {{ dettagli.nome[ localization.language.ietf ] }}">
			</form>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
