
{# FILE PER LA GENERAZIONE DEL CODICE STANDARD DI RICHIESTA ACCETTAZIONE COOKIE #}
{# NOTA: VEDI LA DOCUMENTAZIONE TECNICA PER ULTERIORI INFORMAZIONI SULLA GESTIONE DEI COOKIE #}

{# variabile che determina se devo mostrare la richiesta di consensi #}
{% set consensi = 0 %}

{# verifico se devo acquisire consensi per cookie analitici di terze parti non anonimi #}
{% if privacy.cookie.terzi.analitici %}
{% for cookie, dettagli in privacy.cookie.terzi.analitici %}
{% if not dettagli.anonimo %}
{% if not dettagli.consenso %}
{% set consensi = consensi + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{# TODO rendere questo modulo un po' più user friendly (no submit a ogni click) #}
{% if consensi > 0 %}
<form action="{{ page.path[ localization.language.ietf ] }}" id="cookieForm" method="post">
	<div class="container-fluid" id="cookie">
		<div class="row">
			<div class="col">
				<h4>consenso all'utilizzo dei cookie</h4>
			</div>
		</div>
		{% for cookie, dettagli in privacy.cookie.terzi.analitici %}
		{% if not dettagli.consenso and not dettagli.anonimo %}
		<input type="hidden" id="cookie_{{ cookie }}_value" name="__cookie__[{{ cookie }}][value]" value="{{ dettagli.consenso }}">
		<input type="hidden" name="__cookie__[{{ cookie }}][owner]" value="terzi">
		<input type="hidden" name="__cookie__[{{ cookie }}][type]" value="analitici">
		{# TODO terzi e analitici dovrebbero essere presi da altri due cicli #}
		<div class="row">
			<div class="col-12 col-md-6 pb-3">
				<input type="button" class="btn btn-default btn-light" onclick="$('#cookie_{{ cookie }}_value').val('ok');$('#cookieForm').submit();" value="{{ tr.generic.autorizzo_cookie[ localization.language.ietf ] }} {{ dettagli.nome[ localization.language.ietf ] }}">
			</div>
			<div class="col-12 col-md-6 pb-3">
				<input type="button" class="btn btn-default btn-light" onclick="$('#cookie_{{ cookie }}_value').val('no');$('#cookieForm').submit();" value="{{ tr.generic.non_autorizzo_cookie[ localization.language.ietf ] }} {{ dettagli.nome[ localization.language.ietf ] }}">
			</div>
		</div>
		{% else %}
		<!-- consenso espresso per {{ cookie }}: {{ dettagli.consenso }} -->
		{% endif %}
		{% endfor %}
	</div>
</form>
{% endif %}
