
{# FILE PER LE OPERAZIONI STANDARD DA ESEGUIRE PRIMA DELLA CHIUSURA DEL TAG <body> #}
    {# NOTA: AL NETTO DELL'EVENTUALE JAVASCRIPT DELLE SPECIFICHE PAGINE, INCLUSO NEL BLOCCO %javascript% #}
    
    {% include '_inc/_cookie.overlay.html' %}
    
    <script>
        var siteRoot = '{{ site.root }}';
    </script>
    
    {% for j in page.js.external %}<script defer src="{{ include( template_from_string( j ) | raw ) }}"></script>{% endfor %}
    
    {% for j in page.js.internal %}<script defer src="{{ site.root }}{{ j }}"></script>{% endfor %}
    
    {% for j in page.js.template %}<script defer src="{{ site.root }}{{ page.template.path }}{{ j }}"></script>{% endfor %}
    
    {% if facebook.messenger.page.id %}{% include '_inc/_messenger.html' %}{% endif %}
    
    {% if criteo.account %}{% include '_inc/_criteo.html' %}{% endif %}
    
    {% if contents.chartjs %}{% include '_inc/_chartJs.html' %}{% endif %}
    
    {% if smartsupp.key %}{% include '_inc/_smartsupp.html' %}{% endif %}
    
    {% for ruolo,modals in page.contents.modals %}{% for modal in modals %}{% include modal.schema %}{% endfor %}{% endfor %}
    
    {# TODO: FAR CONFLUIRE IN QUESTO CICLO (page.contents.modals) ANCHE I MODAL DERIVANTI DA METRO E DA ERRORI MYSQL #}
    