{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/progetti.produzione.form.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
        <form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

            {# CAMPI HIDDEN DI BASE #}
            <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
            <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
            <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
            <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
            <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
            {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
            <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

            {# MODULO PRINCIPALE #}
            <fieldset>
                <legend>chiusura del progetto</legend>
                <div class="form-group form-row">
                    <div class="col-12 col-md-auto">
                        <span class="label-top">data apertura</span>
                        {{ frm.date( table, '', '', 'data_apertura', '', '', request ) }}
                    </div>
                    <div class="col col-md-2">
                        <span class="label-top">periodicità</span>
                        {{ frm.select( table, '', '', 'id_periodicita_prevista', '', etc.select.periodicita, request ) }}
                    </div>
                    <div class="col-12 col-md-2">
                        <span class="label-top">valore progetto (€)</span>
                        {{ frm.inputRequired( table, '', '', 'entrate_previste', '', '', request, __preset__[table].nome ) }}
                    </div>
                    <div class="col-12 col-md-2">
                        <span class="label-top">stima costi (€)</span>
                        {{ frm.inputRequired( table, '', '', 'costi_previsti', '', '', request, __preset__[table].nome ) }}
                    </div>
                    <div class="col-12 col-md-2">
                        <span class="label-top">stima ore</span>
                        {{ frm.inputRequired( table, '', '', 'ore_previste', '', '', request, __preset__[table].nome ) }}
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-12 col-md-auto">
                        <span class="label-top">data accettazione</span>
                        {{ frm.date( table, '', '', 'data_accettazione', '', '', request ) }}
                    </div>
                    <div class="col col-md-2">
                        <span class="label-top">periodicità</span>
                        {{ frm.select( table, '', '', 'id_periodicita_prevista', '', etc.select.periodicita, request ) }}
                    </div>
                    <div class="col-12 col-md-2">
                        <span class="label-top">valore accettazione (€)</span>
                        {{ frm.inputRequired( table, '', '', 'entrate_accettazione', '', '', request ) }}
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-12 col-md-auto">
                        <span class="label-top">data chiusura</span>
                        {{ frm.date( table, '', '', 'data_chiusura', '', '', request ) }}
                    </div>
                    <div class="col col-md-2">
                    </div>
                    <div class="col-12 col-md-2">
                        <span class="label-top">valore finale (€)</span>
                        {{ frm.inputRequired( table, '', '', 'entrate_totali', '', '', request, __preset__[table].nome ) }}
                    </div>
                    <div class="col-12 col-md-2">
                        <span class="label-top">costi finali (€)</span>
                        {{ frm.inputRequired( table, '', '', 'uscite_totali', '', '', request, __preset__[table].nome ) }}
                    </div>
                    <div class="col-12 col-md-2">
                        <span class="label-top">ore finali</span>
                        {{ frm.inputRequired( table, '', '', 'ore_totali', '', '', request, __preset__[table].nome ) }}
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-12 col-md">
                        <span class="label-top">note chiusura</span>
                        {{ frm.textarea( table, '', '', 'note_chiusura', '', 3, request ) }}
                    </div>
                </div>
            </fieldset>

            {# BOTTONI E COMANDI DEL MODULO #}
            <fieldset class="form-controls mt-auto">
                {{ def.controls( page, pages, ietf, session, table, request ) }}
            </fieldset>

        </form>
    </div>
</section>

{% endblock %}
