/_src/_lib/_ext*
/_usr/_docs/_html*
/_usr/_docs/_pdf*
/_usr/_test/_tests/_data*
/_usr/_test/_tests/_output*
/_usr/_test/_tests/_support*
/etc
/mod
/src
/src/ext/shadow.*
/src/shadow.*
src/py/*/*/.buildozer/
src/py/*/*/bin/
src/py/*/*/include/
src/py/*/*/lib/
src/py/*/*/lib64/
src/py/*/*/share/
src/py/*/*/lib64
/tmp
/usr
/var
/.dockerignore
/.gitignore
/*.html
/*.lock
/*.php
/*.xml
/*.txt
*.pem
*.old
*.log
.#*
