{% import '_bin/_default.html' as cms %}

{% extends 'ext/main.html' %}

{% block main %}
{% set table = '__account__' %}
<h1>{{ include( template_from_string( page.h1[ localization.language.ietf ] ) | raw ) }}</h1>
<div class="form-row">
    <div class="col">
        <span class="label-top">nome</span>
        {{ frm.input( table, '', '', 'nome', '', '', session ) }}
    </div>
</div>
<div class="form-row">
    <div class="col">
        <span class="label-top">cognome</span>
        {{ frm.input( table, '', '', 'cognome', '', '', session ) }}
    </div>
</div>
<div class="form-row">
    <div class="col">
        <button type="submit" class="btn btn-sm">modifica dati</button>
    </div>
</div>
{% endblock %}
