{% import '_bin/_default.html' as cms %}

{% extends 'ext/login.html' %}

{% block subnav %}{% endblock %}

{% block main %}
        <form action="" class="" id="form-login" method="post">
            <fieldset>
            <legend>login</legend>
            <div class="form-group form-row">
            <label class="d-none d-md-block col-md-4 col-form-label">username</label>
            <div class="col-12 col-md-8"><input type="text" class="form-control form-control-sm" name="__login__[user]" placeholder="username"></div>
            </div>
            <div class="form-group form-row">
            <label class="d-none d-md-block col-md-4 col-form-label">password</label>
            <div class="col-12 col-md-8"><input type="password" class="form-control form-control-sm" name="__login__[pasw]" placeholder="password"></div>
            </div>
            <div class="form-group form-row">
            <div class="col-12"><button type="submit" class="btn btn-secondary btn-sm btn-block">login</button></div>
            </div>
            </fieldset>
        </form>
{% endblock %}
