.github/
_*/
etc/secret/
etc/latest.conf
etc/latest.release.conf
etc/latest.version.conf
/src/ext/shadow.*
/src/shadow.*
src/py/*/*/.buildozer/
src/py/*/*/bin/
src/py/*/*/include/
src/py/*/*/lib/
src/py/*/*/lib64/
src/py/*/*/share/
src/py/*/*/lib64
tmp/
var/
.gitignore
.htaccess
composer.*
robots.*
sitemap.*
*.md
