{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

        {# MODULO PRINCIPALE #}
        <fieldset>
            <legend>dati generali <small>{{ legend }}</small></legend>
            <div class="form-group form-row">
                <div class="col-auto">
                    <span class="label-top">genitore</span>
                    {{ frm.select( table, '', '', 'id_genitore	', '', etc.select.zone, request ) }}
                </div>
                <div class="col-12 col-md">
                    <span class="label-top">nome</span>
                    {{ frm.inputRequired( table, '', '', 'nome', '', '', request ) }}
                </div>
            </div>

            <div class="form-group form-row">
                <div class="col-12">
                <span class="label-top">note</span>
                    {{ frm.textarea( table, '', '', 'note', '', 3, request ) }}
                </div>
            </div>

            <legend>associazione</legend>
            <div class="form-group form-row">
                <!--div class="col-auto">
                    <span class="label-top">tipologia</span>
                    {{ frm.select( table, '', '', 'id_tipologia', '', etc.select.tipologie_zone, request ) }}
                </div-->
                {% if '0900.progetti' in mods.active.array %}
				<div class="col-6 col-md-6">
					<span class="label-top">progetto</span>
					{{ frm.selectBox( table, '', '', 'id_progetto',   '', etc.select.progetti, request, '', '', '', '', '', 'progetti.form', 'progetti.form', 'progetti', 'id_progetto', page, pages, ietf, 'progetti' ) }}
				</div>
                {% endif %}
				{% if '0600.contratti' in mods.active.array %}
                <div class="col-6 col-md-6">
					<span class="label-top">contratto</span>
					{{ frm.selectBox( table, '', '', 'id_contratto',   '', etc.select.contratti, request, '', '', '', '', '', 'contratti.form', 'contratti.form', 'contratti', 'id_contratto', page, pages, ietf, 'contratti' ) }}
				</div>
                {% endif %}
				{% if '1200.todo' in mods.active.array %}
                <div class="col-6 col-md-6">
					<span class="label-top">todo</span>
					{{ frm.selectBox( table, '', '', 'id_todo',   '', etc.select.todo, request, '', '', '', '', '', 'todo.form', 'todo.form', 'todo', 'id_todo', page, pages, ietf, 'todo' ) }}
				</div>
                {% endif %}
				{% if '0200.attivita' in mods.active.array %}
                <div class="col-6 col-md-6">
					<span class="label-top">attività</span>
					{{ frm.selectBox( table, '', '', 'id_attivita',   '', etc.select.attivita, request, '', '', '', '', '', 'attivita.form', 'attivita.form', 'attivita', 'id_attivita', page, pages, ietf, 'attivita' ) }}
				</div>
                {% endif %}
            </div>

            <legend>pianificazione</legend>
            <div class="form-group form-row">
                <div class="col-auto col-md-4">
                    <span class="label-top">entità</span>
                    {{ frm.selectRequired( table, '', '', 'entita', '', etc.select.entita, request ) }}
                </div>
                <div class="col-auto col-md-4">
                    <span class="label-top">peridiocità</span>
                    {{ frm.selectRequired( table, '', '', 'id_periodicita', '', etc.select.periodicita, request ) }}
                </div>
                <div class="col-1">
                    <span class="label-top">cadenza</span>
                    {{ frm.input( table, '', '', 'cadenza', '', '', request ) }}
                </div>
                <div class="col-12 col-md">
                    <span class="label-top">schema di ripetizione</span>
                        {{ frm.input( table, '', '', 'schema_ripetizione', '', '', request ) }}
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-4 col-md-1 col-form-label">
                    <div class="form-check">
                        {{ frm.checkbox( table, '', '', 'se_lunedi', 'lunedì', '', request ) }}
                    </div>
                </div>
                <div class="col-4 col-md-1 col-form-label">
                    <div class="form-check">
                        {{ frm.checkbox( table, '', '', 'se_martedi', 'martedì', '', request ) }}
                    </div>
                </div>
                <div class="col-4 col-md-1 col-form-label">
                    <div class="form-check">
                        {{ frm.checkbox( table, '', '', 'se_mercoledi', 'mercoledì', '', request ) }}
                    </div>
                </div>
                <div class="col-4 col-md-1 col-form-label">
                    <div class="form-check">
                        {{ frm.checkbox( table, '', '', 'se_giovedi', 'giovedì', '', request ) }}
                    </div>
                </div>
                <div class="col-4 col-md-1 col-form-label">
                    <div class="form-check">
                        {{ frm.checkbox( table, '', '', 'se_venerdi', 'venerdì', '', request ) }}
                    </div>
                </div>
                <div class="col-4 col-md-1 col-form-label">
                    <div class="form-check">
                        {{ frm.checkbox( table, '', '', 'se_sabato', 'sabato', '', request ) }}
                    </div>
                </div>
                <div class="col-4 col-md-1 col-form-label">
                    <div class="form-check">
                        {{ frm.checkbox( table, '', '', 'se_domenica', 'domenica', '', request ) }}
                    </div>
                </div>
            </div>


            <legend>elaborazione</legend>
            <div class="form-group form-row">
                <div class="col-auto">
					<span class="label-top">data elaborazione</span>
					{{ frm.date( table, '', '', 'data_elaborazione', '', '', request ) }}
				</div>
                <div class="col-auto">
					<span class="label-top">data ultimo oggetto</span>
					{{ frm.date( table, '', '', 'data_ultimo_oggetto', '', '', request ) }}
				</div>
                <div class="col-12 col-md-5">
                    <span class="label-top">giorni estensione</span>
                        {{ frm.input( table, '', '', 'giorni_estensione', '', '', request ) }}
                </div>
				<div class="col-auto">
					<span class="label-top">data fine</span>
					{{ frm.date( table, '', '', 'data_fine', '', '', request ) }}
				</div>
                <div class="col-12 col-md-5">
                    <span class="label-top">token</span>
                        {{ frm.input( table, '', '', 'token', '', '', request ) }}
                </div>
            </div>
            <div class="form-group form-row">        
                <div class="col-12">
                    <span class="label-top">workspace</span>
                        {{ frm.textarea( table, '', '', 'workspace','', '5', request ) }}
                    </div>
            </div>

        </fieldset>
        {# BOTTONI E COMANDI DEL MODULO #}
        <fieldset class="form-controls mt-auto">
            {{ def.controls( page, pages, ietf, session, table, request ) }}
        </fieldset>
	
	</form>
    </div>
</section>

{% endblock %}
