
{# MACRO PER GLI ELEMENTI DEI FORM #}
{# NOTA: IMPORTARE SEMPRE COME FRM #}
{# import '_bin/_form.html' as frm #}

{% macro stars( voto ) %}
<!-- macro stars() -->
<ul class="stars">
{% for i in 0..4 %}
<li class="star {% if i < voto %}on{% endif %}"><i class="fa fa-star fa-fw"></i></li>
{% endfor %}
</ul>
{% endmacro %}

{% macro label( text, class ) %}
<label class="col-form-label{{ class }}">{{ text }}</label>
{% endmacro %}

{% macro selectAuto( table, subtable, counter, field, placeholder, etc, request, default, required, noempty, class, disabled ) %}
{% import _self as frm %}
{{ frm.select( table, subtable, counter, field, placeholder, etc, request, default, 1, required, noempty, class, disabled ) }}
{% endmacro %}

{% macro selectDisabled( table, subtable, counter, field, placeholder, etc, request, default, noempty, class ) %}
{% import _self as frm %}
{{ frm.select( table, subtable, counter, field, placeholder, etc, request, default, '', '', noempty, class, 1 ) }}
{% endmacro %}

{# macro selectRequired( table, subtable, counter, field, placeholder, etc, request, default, autosubmit, noempty, class, disabled, onchange ) #}
{% macro selectRequired( table, subtable, counter, field, placeholder, etc, request, default, noempty, class, disabled, onchange ) %}
{% import _self as frm %}
{{ frm.select( table, subtable, counter, field, placeholder, etc, request, default, '', 1, noempty, class, disabled, onchange ) }}
{% endmacro %}

{% macro selectAutoRequired( table, subtable, counter, field, placeholder, etc, request, default, noempty, class, disabled ) %}
{% import _self as frm %}
{{ frm.select( table, subtable, counter, field, placeholder, etc, request, default, 1, 1, noempty, class, disabled ) }}
{% endmacro %}

{% macro select( table, subtable, counter, field, placeholder, etc, request, default, autosubmit, required, noempty, class, disabled, onchange, edit, add ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{% if autosubmit %}
    {% if autosubmit == 1 %}{% set change = 'submitFormOkay=true;submit();' %}{% else %}{% set change = autosubmit %}{% endif %}
{% endif %}
{% if not vl %}{% set vl = default %}{% endif %}
{% if not vl and request.__preset__[ table ][ field ] %}{% set vl = request.__preset__[ table ][ field ] %}
{% elseif not vl and request.__preset__[ table ][ subtable ][ counter ][ field ] %}{% set vl = request.__preset__[ table ][ subtable ][ counter ][ field ] %}{% endif %}
{% if readonly %}
{% for option in etc %}{% if option.id == vl %}
<input type="hidden" name="{{ nm }}" value="{{ option.id }}" {% if disabled %}disabled{% endif %}>
<div class="form-control-plaintext {{ class }}">{{ option.__label__ }}</div>
{% endif %}{% endfor %}
{% else %}
<select vl="{{ vl }}" name="{{ nm }}" id="{{ id }}" class="form-control form-control-sm {% if class %}{{ class }}{% endif %}" {% if disabled %}disabled{% endif %} {% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %}  {% if change %} onchange="{{ change }}"{% endif %}{% if required %} required{% endif %}{% if default %} default="{{ default }}"{% endif %}{% if 'selectpicker' in class %} data-live-search="true" data-title="{{ placeholder }}" data-style="btn-outline-light" data-size="7" {% set placeholder = '' %}{% endif %} {% if not noempty %}empty{% endif %} default="{{ default }}" data-live-search="true" {% if onchange %}onchange="{{ onchange }}"{% endif %}>
    {% if not noempty %}<option value="">{# placeholder #}</option>{% endif %}
    {% for option in etc %}
    {# NOTA questa if deve funzionare con vl = 0, vl = '' e vl = qualsiasi cosa (vedi task.form) #}
    <option value="{{ option.id }}"{# if option.id is same as( vl ) #}{# if option.id == vl #}{% if vl != '' and option.id == vl %} selected{% endif %}>{{ option.__label__|raw }}</option>
    {% endfor %}
</select>
{# TODO FINIRE DI IMPLEMENTARE MANCANO GLI ARGOMENTI KEY, PAGE, PAGES, ECC. #}
{% if edit and vl %}<div class="col-auto p-0 pl-1">
<button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="window.open('{{ editor }}','_self')"><i class="fa fa-pencil"></i></button>
</div>{% endif %}
{% if add %}<div class="col-auto p-0 pl-1">
<button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="window.open('{{ adder }}','_self')"><i class="fa fa-plus"></i></button>
</div>{% endif %}
{% endif %}
{% endmacro %}

{% macro selectPicker( table, subtable, counter, field, placeholder, etc, request, default, autosubmit, required, noempty, class, disabled ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{% if vl is empty %}{% set vl = default %}{% endif %}
<input type="hidden" {% if disabled %}disabled{% endif %} name="{{ nm }}" id="{{ id }}" value="{{ vl }}" {% if required %}required{% endif %}>
<input type="text" class="{% if disabled %}disabled{% else %}form-control form-control-sm{% endif %} {% if class %}{{ class }}{% endif %}" value="{{ val }}"{% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %} {% if required %}required{% endif %}>
{% endmacro %}

{% macro selectBox( table, subtable, counter, field, placeholder, etc, request, default, autosubmit, required, noempty, class, edit, add, entity, key, page, pages, ietf, api, disabled, change, modal ) %}
{% if subtable %}
    {% if key %}{% set bl = request[ table ][ subtable ][ counter ][ key ] %}{% endif %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% if key %}{% set bl = request[ table ][ key ] %}{% endif %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{# NOTA if per retrocompatibilità con le chiamate che passano ancora le stringhe estese degli URL #}
{% if not vl %}{% set vl = default %}{% endif %}
{% if not vl and request.__preset__[ table ][ field ] %}{% set vl = request.__preset__[ table ][ field ] %}
{% elseif not vl and request.__preset__[ table ][ subtable ][ counter ][ field ] %}<!-- TEST -->{% set vl = request.__preset__[ table ][ subtable ][ counter ][ field ] %}{% endif %}
{% if not bl and vl %}{% set bl = vl %}{% endif %}
{% if key %}
    {% set editor = pages[ edit ].path[ ietf ] ~ '?' ~ entity ~ '[id]=' ~ bl ~ '&__backurl__=' ~ page.backurl[ ietf ] %}
    {% set adder = pages[ add ].path[ ietf ] ~ '?__backurl__=' ~ page.backurl[ ietf ] %}
{% else %}
    {% set editor = edit %}
    {% set adder = add %}
{% endif %}
{% if autosubmit %}
    {% if autosubmit == 1 %}{% set change = 'submit();' %}{% else %}{% set change = autosubmit %}{% endif %}
{% endif %}
{# NOTA SE PL NON È VALORIZZATO DI SOLITO È PERCHÉ LA LABEL NON VIENE GENERATA DALLA VIEW OPPURE PERCHÉ VA RIPOPOLATA LA VIEW STATIC O SVUOTATA LA CACHE #}
{% if vl %}{% set pl = null %}{% for option in etc %}{% if option.id == vl %}{% set pl = option.__label__ %}{% endif %}{% endfor %}{% if not pl %}{% set pl = '---' %}{% endif %}{% endif %}
<div class="row m-0">
    {% if api %}
    <div class="col combobox-container p-0">
	    <input type="hidden" value="{{ vl }}" placeholder-api="{{ pl }}" name="{{ nm }}" {% if disabled %}disabled{% endif %} class="selectbox" id="{{ id }}" {% if required %}data-required="true"{% endif %} min-filter="3" {% if change %} onchange="{{ change }}"{% endif %} {% if default %} default="{{ default }}"{% endif %} {% if not noempty %}empty{% endif %} default="{{ default }}" data-live-search="true" populate-api="{{ api }}">
    </div>
    {% else %}
    <div class="col combobox-container p-0">
        <select name="{{ nm }}" {% if disabled %}disabled{% endif %} id="{{ id }}" {% if required %}data-required="true"{% endif %} min-filter="3" class="selectbox form-control form-control-sm {% if class %}{{ class }}{% endif %}"  {% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %}  {% if change %} onchange="{{ change }}"{% endif %}{% if default %} default="{{ default }}"{% endif %}{% if 'selectpicker' in class %} data-live-search="true" data-title="{{ placeholder }}" data-style="btn-outline-light" data-size="7" {% set placeholder = '' %}{% endif %} {% if not noempty %}empty{% endif %} default="{{ default }}" data-live-search="true" populate-api="{{ api }}">
            {% if not noempty %}<option value="">{# placeholder #}</option>{% endif %}
            {% for option in etc %}
            <option value="{{ option.id }}"{% if option.id == vl %} selected{% endif %}>{{ option.__label__|raw }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto p-0 pl-1">
        <button type="button" class="btn btn-sm btn-secondary btn-sqr" {% if disabled %}disabled{% endif %} selectbox-field="{{ id }}_inputbox" onclick="$('#'+$(this).attr('selectbox-field')).trigger('all');"><i class="fa fa-chevron-down"></i></button>
    </div>
    {% endif %}
    {% if edit and vl %}<div class="col-auto p-0 pl-1">
	    <button type="button" class="btn btn-sm btn-secondary btn-sqr" {% if disabled %}disabled{% endif %} onclick="window.open('{{ editor }}','_self')"><i class="fa fa-pencil"></i></button>
    </div>{% endif %}
    {% if add %}<div class="col-auto p-0 pl-1">
	    <button type="button" class="btn btn-sm btn-secondary btn-sqr" {% if disabled %}disabled{% endif %} onclick="window.open('{{ adder }}','_self')"><i class="fa fa-plus"></i></button>
    </div>{% endif %}
    {% if modal %}<div class="col-auto p-0 pl-1">
        <button type="button" class="btn btn-sm btn-secondary btn-sqr" {% if disabled %}disabled{% endif %} onclick="$('#{{ modal }}').setAttribute('disabled');$('#{{ modal }}').toggleAttribute('disabled');$('#{{ modal }}').appendTo('#form-{{ table }}').modal('show');$('.modal-backdrop').appendTo('#form-{{ table }}');" data-toggle="modal" data-target=""><i class="fa fa-plus-circle"></i></button>
    </div>{% endif %}
</div>
{% endmacro %}

{% macro input( table, subtable, counter, field, placeholder, etc, request, default, type, required, class, disabled, step, pattern, extras ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
    {% if not vl  %}{% set vl = default %}{% endif %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
    {% if not request[ table ][ field ] %}
        {% if not vl and request.__preset__[ table ][ field ] %}{% set vl = request.__preset__[ table ][ field ] %}{% else %}{% set vl = default %}{% endif %}
    {% endif %}
{% endif %}
{% if disabled == 1 %}{% if request[ '__disabled_' ~ id ~ '__' ] %}{% set vl = request[ '__disabled_' ~ id ~ '__' ] %}{% endif %}<input type="hidden" name="__disabled_{{ id }}__" value="{{ vl }}">{% endif %}
<input type="{% if type %}{{ type }}{% else %}text{% endif %}" {% if default %} default="{{ default }}"{% endif %} {% if step %}step={{ step }} {% endif %} {% if disabled %}disabled{% endif %} name="{{ nm }}" id="{{ id }}" class="form-control form-control-sm {% if class %}{{ class }}{% endif %}" value="{{ vl }}"{% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %} {% if required %}required{% endif %} {% if pattern %}pattern="{{ pattern }}"{% endif %} {% if type == 'password' %}autocomplete="new-password" {% endif %} {{ extras|raw }}>
{% endmacro %}

{% macro inputRequired( table, subtable, counter, field, placeholder, etc, request, default, type, class, disabled, step ) %}
{% import _self as frm %}
{{ frm.input( table, subtable, counter, field, placeholder, etc, request, default, type, 'true', class, disabled, step ) }}
{% endmacro %}

{% macro inputDisabled( table, subtable, counter, field, placeholder, etc, request, default, type, class ) %}
{% import _self as frm %}
{{ frm.input( table, subtable, counter, field, placeholder, etc, request, default, type, '', class, 1 ) }}
{% endmacro %}

{% macro checkbox( table, subtable, counter, field, placeholder, etc, request, default, class, disabled ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
    {% set df = request[ table ][ subtable ][ counter ].id %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
    {% set df = request[ table ].id %}
{% endif %}
<input type="hidden" {% if disabled %}disabled{% endif %} name="{{ nm }}" id="{{ id }}" class="" {% if default %} default="{{ default }}" {% endif %} value="{% if vl or ( default and not df ) %}1{% else %}0{% endif %}">
<input type="checkbox" {% if disabled %}disabled{% endif %} class="form-check-input {{ class }}" {% if vl or ( default and not df ) %}checked{% endif %}>
{% if placeholder %}
<label class="form-check-label text-left" for="{{ id }}">{{ placeholder }}</label>
{% endif %}
{% endmacro %}

{% macro textarea( table, subtable, counter, field, placeholder, rows, request, default, required, class, height, console, static, disabled ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{% if not vl %}{% set vl = default %}{% endif %}
{% if static %}
<input  type="hidden" name="{{ nm }}" value="{{ vl }}">
<div class="form-control-plaintext {{ class }}">{{ vl }}</div>
{% else %}
<textarea {% if disabled %}disabled{% endif %} placeholder="{{ placeholder }}" name="{{ nm }}" id="{{ id }}" {% if height %}height="{{ height }}"{% else %}style="min-height: {{ rows * 30 }}px;"{% endif %} class="{% if static %}form-control-plaintext{% else %}form-control form-control-sm{% endif %} {% if class %}{{ class }}{% endif %}" placeholder="{{ placeholder }}" {% if console %}console="{{ console }}"{% endif %} {% if required %}required{% endif %}>{{ vl }}</textarea>
{% endif %}
{% endmacro %}

{% macro textareaRequired( table, subtable, counter, field, placeholder, rows, request, default, class, height, console ) %}
{% import _self as frm %}
{{ frm.textarea( table, subtable, counter, field, placeholder, rows, request, default, true, class, height, console ) }}
{% endmacro %}

{% macro date( table, subtable, counter, field, placeholder, etc, request, default, type, required, class, disabled ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{% if not vl %}{% set vl = default %}{% endif %}
{% if not vl and request.__preset__[ table ][ field ] %}{% set vl = request.__preset__[ table ][ field ] %}{% endif %}
{% if disabled == 1 %}{% if request[ '__disabled_' ~ id ~ '__' ] %}{% set vl = request[ '__disabled_' ~ id ~ '__' ] %}{% endif %}<input type="hidden" name="__disabled_{{ id }}__" value="{{ vl }}">{% endif %}
<input type="date" class="form-control form-control-sm {% if class %}{{ class }}{% endif %}" {% if disabled %}disabled{% endif %} {% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %} name="{{ nm }}" id="{{ id }}" value="{{ vl }}" placeholder="{{ placeholder }}" {% if required %}required{% endif %}>
{% endmacro %}

{% macro datetime( table, subtable, counter, field, placeholder, etc, request, default, type, required, class, disabled ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{% if not vl %}{% set vl = default %}{% endif %}
<input type="datetime-local" class="form-control form-control-sm {% if class %}{{ class }}{% endif %}" {% if disabled %}disabled{% endif %} {% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %}  name="{{ nm }}" id="{{ id }}" value="{{ vl }}" placeholder="{{ placeholder }}"  {% if required %}required{% endif %}>
{% endmacro %}

{% macro time( table, subtable, counter, field, placeholder, etc, request, default, type, required, class, disabled ) %}
{% if subtable %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{% if not vl %}{% set vl = default %}{% endif %}
{% if not vl and request.__preset__[ table ][ field ] %}{% set vl = request.__preset__[ table ][ field ] %}{% endif %}
<input type="time" class="form-control form-control-sm {% if class %}{{ class }}{% endif %}" {% if disabled %}disabled{% endif %}  {% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %}  name="{{ nm }}" id="{{ id }}" value="{{ vl }}" placeholder="{{ placeholder }}"  {% if required %}required{% endif %}>
{% endmacro %}

{% macro dateRequired( table, subtable, counter, field, placeholder, etc, request, default, type, class ) %}
{% import _self as frm %}
{{ frm.date( table, subtable, counter, field, placeholder, etc, request, default, type, 'true', class ) }}
{% endmacro %}

{% macro datetimeRequired( table, subtable, counter, field, placeholder, etc, request, default, type, class ) %}
{% import _self as frm %}
{{ frm.datetime( table, subtable, counter, field, placeholder, etc, request, default, type, 'true', class ) }}
{% endmacro %}

{% macro button( text, type, class, onclick, placeholder, id, disabled ) %}
<button type="{% if type %}{{ type }}{% else %}submit{% endif %}" {% if id %}id="{{id}}"{% endif %} class="btn btn-sm {% if class %}{{ class }}{% else %}btn-secondary{% endif %}" onclick="{{ onclick }}"  {% if placeholder %} placeholder="{{ placeholder|raw }}" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="{{ placeholder|raw }}" {% endif %} {% if disabled %}disabled{% endif %}>{{ text|raw }}</button>
{% endmacro %}

{% macro trashButton( table, subtable, page, pages, r, lang, request, back, rollback ) %}
{% import _self as frm %}
{% if request.__backurl__ %}{% set backurl = '&__backurl__=' ~ request.__backurl__ %}{% endif %}
{% if not subtable %}
    {% set submitOk = 'submitFormOkay = true;' %}
    {% set subtable = table %}
    {% set class = ' remove-on-duplicate' %}
{% else %}
    {% set query = '?' ~ table ~ '[id]=' ~ request[ table ].id %}
{% endif %}
{% if r %}
    {% set id = r.id %}
{% else %}
    {% set id = request[ table ].id %}
{% endif %}
{% if not back %}{% set back = page.path[ lang ] ~ query ~ backurl %}{% endif %}
{% if not rollback %}{% set rollback = page.path[ lang ] ~ '?' ~ table ~ '[id]=' ~ request[ table ].id ~ backurl %}{% endif %}
{{ frm.button( '<i class="fa fa-trash"></i>', 'button', 'btn-secondary btn-sqr' ~ class, submitOk ~ ' window.open("' ~ pages.delete.path[ lang ] ~ '?__delete__[table]=' ~ subtable ~ '&__delete__[id]=' ~ id ~ '&__delete__[target]=' ~ back|url_encode ~ '&__delete__[rollback]=' ~ rollback|url_encode ~ '","_self")','elimina' ) }}
{% endmacro %}

{% macro editButton( table, subtable, edit, page, pages, r, lang, request, back, rollback ) %}
{% import _self as frm %}
{% if page.backurl[ lang ] %}{% set backurl = '&__backurl__=' ~ page.backurl[ lang ] %}{% endif %}
{% if not subtable %}
    {% set subtable = table %}
    {% set class = ' remove-on-duplicate' %}
{% else %}
    {% set query = '?' ~ table ~ '[id]=' ~ request[ table ].id %}
{% endif %}
{% if r %}
    {% set id = r.id %}
{% else %}
    {% set id = request[ table ].id %}
{% endif %}
{{ frm.button( '<i class="fa fa-pencil"></i>', 'button', 'btn-secondary btn-sqr' ~ class, submitOk ~ ' window.open("' ~  pages[ edit ].path[ lang ] ~ '?' ~ subtable ~ '[id]=' ~ id ~ backurl ~'","_self")','modifica' ) }}
{% endmacro %}

{% macro subformLegend( subtable, legend, class, disabled ) %}
<legend>{% if not disabled %}<button class="btn btn-sm btn-secondary d-print-none" type="button" onclick="duplicate('{{ subtable }}');"><i class="fa fa-plus"></i></button> {% endif %}{{ legend }}</legend>
{% endmacro %}

{% macro uploader( table, subtable, counter, field, placeholder, etc, request, folder, site, edit, pages, lang, required, class, short, hidden, disabled ) %}
{% if subtable %}
    {% set pk = request[ table ][ subtable ][ counter ].id %}
    {% set nm = table ~ '[' ~ subtable ~ '][' ~ counter ~ '][' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ subtable ~ '_' ~ counter ~ '_' ~ field %}
    {% set ks = request[ table ][ subtable ]|keys %}
    {% set vl = request[ table ][ subtable ][ ks[ counter ] ][ field ] %}
{% else %}
    {% set pk = request[ table ].id %}
    {% set nm = table ~ '[' ~ field ~ ']' %}
    {% set id = table ~ '_' ~ field %}
    {% set vl = request[ table ][ field ] %}
{% endif %}
{% if not folder %}
    {% if vl %}
	{% set folder = vl|replace({ (vl|split('/')|last) : '' }) %}
    {% else %}
	{% set folder = 'var/contenuti/' %}
    {% endif %}
{% endif %}
<div class="row form-row">
    <input type="hidden" name="{{ nm }}" id="{{ id }}" value="{{ vl }}" {% if disabled and not pk %}disabled{% endif %}/>
    <div class="col-auto text-left {{ class }}">
	{% if vl %}
	<button title="apri il file in una nuova pagina" class="btn btn-secondary btn-sm btn-sqr remove-on-duplicate" type="button" onclick="window.open('{{ site.root }}{{ vl|replace({ ( constant("DIR_BASE") ) : ( site.url[ lang ] ) }) }}','_blank');"><i class="fa fa-external-link"></i></button>
	{% if edit %}
    {% if request[ table ][ subtable ][ ks[ counter ] ].id %}
	<button class="btn btn-secondary btn-sm btn-sqr remove-on-duplicate" type="button" onclick="window.open('{{ pages[ edit ].path[ lang ] }}?{{ subtable }}[id]={{ request[ table ][ subtable ][ ks[ counter ] ].id }}','_blank');"><i class="fa fa-pencil"></i></button>
    {% endif %}
	<button class="btn btn-secondary btn-sm btn-sqr remove-on-duplicate" type="button" onclick="$(this).metroWs('/task/bookmark.add?__work__[mailattach][items][{{ table ~ '-' ~ request[ table ][ subtable ][ ks[ counter ] ].id }}][path]={{ vl }}&__work__[mailattach][items][{{ table ~ '-' ~ request[ table ][ subtable ][ ks[ counter ] ].id }}][label]={{ vl|split("/")|last }}', aggiornaBookmarks );"><i class="fa fa-bookmark-o"></i></button>
	{% endif %}
    {% endif %}
	{% if not hidden %}
	<input type="file" style="display: none;" class="form-control-file-sm form-control-sm ajax-uploader" name="__{{ id }}_uploader__" id="{{ id }}_uploader" placeholder="{{ label }}" uploader-folder="{{ folder }}" uploader-field="{{ id }}" small>
	<button title="seleziona il file"  class="btn btn-secondary btn-sm btn-sqr show-on-duplicate" type="button" onclick="$(this).prev('input').trigger('click');"><i class="fa fa-folder-open"></i></button>
    <button class="btn btn-sm btn-secondary btn-sqr btn-spin hide-on-duplicate" style="display:none;" disabled=""><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
	{% endif %}
    </div>
    {% if vl %}
    {% if not short %}
    <div class="col col-form-label remove-on-duplicate text-left" style="overflow: hidden;">
	{{ vl|split("/")|last }}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endmacro %}

{% macro shortUploader( table, subtable, counter, field, placeholder, etc, request, folder, site, edit, pages, lang, required, class, disabled ) %}
{{ frm.uploader( table, subtable, counter, field, placeholder, etc, request, folder, site, edit, pages, lang, required, class, '1', disabled ) }}
{% endmacro %}

{% macro selectModalitaPagamento( carrello, etc ) %}
<select class="form-control form-control-sm hint-toggle" id="costo-pagamento" hint-toggle="modalita_pagamento" name="__carrello__[id_modalita_pagamento]">
    {% for cons in etc.id_modalita_pagamento %}
    <option value="{{ cons.id }}" min="{{ cons.importo_min }}" max="{{ cons.importo_max }}" prezzo="{{ cons.prezzo }}" relativo="{{ cons.prezzo_relativo }}" {% if cons.id == carrello.id_modalita_pagamento %}selected{% endif %}>{{ cons.__label__ }}</option>
    {% endfor %}
</select>
{% endmacro %}
