
{# MACRO PER GLI ELEMENTI DI NAVIGAZIONE #}
{# NOTA: IMPORTARE SEMPRE COME NAV #}
{# import '_bin/_navigation.html' as nav #}

{% macro menu( links, lang, site, query, parent ) %}
<!-- macro menu() -->
{% import _self as nav %}
{% for id,link in links %}{% set id = id|replace({'|': "-", "." : "-"}) %}<li class="nav-item{% if link.active %} active{% elseif link.current %} current{% endif %} {% if parent %}child-of-{{ parent }}{% endif %}" data-page-id="{{ id }}">
    {% if link.label[ lang ] %}<a {% if link.location[ lang ] %}href="{{ link.location[ lang ] }}{% if link.ancora %}#{{ link.ancora }}{% endif %}{% if query %}?{{ query }}{% endif %}"{% endif %} class="nav-link"{% if link.target %} target="{{ link.target }}"{% endif %}>{{ link.label[ lang ]|raw }}</a>{% endif %}
    {% if link.content %}<ul>{{ nav.menu( link.content, lang, site, query, id ) }}</ul>{% endif %}
</li>{% endfor %}
{% endmacro %}

{% macro selectMenu( links, lang, site, query, offset ) %}
{% import _self as nav %}
{% for link in links %}
    <option class="nav-item nav-link{% if link.active %} active{% elseif link.current %} current{% endif %}" href="{{ link.location[ lang ] }}{% if query %}?{{ query }}{% endif %}"{% if link.active or link.current %} selected{% endif %}>{{ offset }}{{ link.label[ lang ] }}</option>
    {% if link.content %}
    {{ nav.selectMenu( link.content, lang, site, query, offset ~ '— ' ) }}
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro lineMenu( links, lang, site, query ) %}
{% import _self as nav %}
<div>
{% for link in links %}
    <a class="nav-item nav-link{% if link.active %} active{% elseif link.current %} current{% endif %}" href="{{ link.location[ lang ] }}{% if query %}?{{ query }}{% endif %}">{{ link.label[ lang ] }}</a>{% if not loop.last %} | {% endif %}
    {% if link.content %}
    {% set submenu = link.content %}
    {% endif %}
{% endfor %}
</div>
{% if submenu %}{{ nav.selectMenu( submenu , lang, site, query ) }}{% endif %}
{% endmacro %}

{% macro tabs( page, pages, lang, etc, form, request ) %}
{% if pages[ page.id ].etc.tabs %}
<section class="row d-print-none">
    <div class="col-12 d-block d-md-none div-tabs">
        <select class="form-control form-control-sm select-tabs" onchange="window.open( $('option:selected',this).attr('href'), '_self' );">
            {% for t in pages[ page.id ].etc.tabs %}
            <option class="nav-item nav-link{% if t == page.id %} active{% endif %}" href="{{ pages[ t ].path[ lang ]}}{% if request[ form.table ].id %}?{{ form.table }}[id]={{ request[ form.table ].id }}{% endif %}{% if request.__backurl__ %}{% if request[ form.table ].id %}&{% else %}?{% endif %}__backurl__={{ request.__backurl__ }}{% endif %}""{% if t == page.id %} selected{% endif %}>{{ offset }}{{ pages[ t ].h1[ lang ] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12 d-none d-md-block">
	<ul class="nav nav-tabs">
        {% for t in pages[ page.id ].etc.tabs %}
        {% if not pages[ t ].icon %}
        <li class="nav-item"><a class="nav-link {% if t == page.id %}active{% endif %}" href="{{ pages[ t ].path[ lang ]}}{% if request[ form.table ].id %}?{{ form.table }}[id]={{ request[ form.table ].id }}{% endif %}{% if request.__backurl__ %}{% if request[ form.table ].id %}&{% else %}?{% endif %}__backurl__={{ request.__backurl__ }}{% endif %}">{% if pages[ t ].icon %}{{ pages[ t ].icon|raw }}{% else %}{{ pages[ t ].h1[ lang ] }}{% endif %}</a></li>
        {% endif %}
	    {% endfor %}
        <span style="margin-left: auto;">        </span>
        {% for t in pages[ page.id ].etc.tabs %}
        {% if pages[ t ].icon %}
        {% if pages[ t ].onclick %}
        <li class="nav-item nav-icon d-flex align-items-stretch"><a class="nav-link {% if t == page.id %}active{% endif %} d-flex align-items-center" href="{{ pages[  pages[ t ].onclick[ lang ] ].path[ lang ]}}{% if request[ form.table ].id %}?{{ form.table }}[id]={{ request[ form.table ].id }}{% endif %}{% if request.__backurl__ %}{% if request[ form.table ].id %}&{% else %}?{% endif %}__backurl__={{ request.__backurl__ }}{% endif %}" target="{{  pages[ t ].target  }}">{{ pages[ t ].icon|raw }}</a></li>
        {% else %}
        <li class="nav-item nav-icon d-flex align-items-stretch"><a class="nav-link {% if t == page.id %}active{% endif %} d-flex align-items-center" href="{{ pages[ t ].path[ lang ]}}{% if request[ form.table ].id %}?{{ form.table }}[id]={{ request[ form.table ].id }}{% endif %}{% if request.__backurl__ %}{% if request[ form.table ].id %}&{% else %}?{% endif %}__backurl__={{ request.__backurl__ }}{% endif %}">{{ pages[ t ].icon|raw }}</a></li>
        {% endif %}
        {% endif %}
	    {% endfor %}
    </ul>
    </div>
</section>
{% endif %}
{% endmacro %}

{% macro breadcrumbs( links, lang, site, query ) %}
{% for link in links %}<li class="breadcrumb-item{% if link.active %} active{% endif %}"><a href="{{ link.location[ lang ] }}{% if query %}?{{ query }}{% endif %}" class="breadcrumb-link">{{ link.label[ lang ] }}</a></li>{% endfor %}
{% endmacro %}

{% macro lineBreadcrumbs( links, lang, site, query, separator ) %}
{% for link in links %}<a href="{{ link.location[ lang ] }}{% if query %}?{{ query }}{% endif %}" class="breadcrumb-link">{{ link.label[ lang ] }}</a>{% if not loop.last %} {% if separator %} {{ separator }} {% else %} | {% endif %}{% endif %}{% endfor %}
{% endmacro %}

{% macro flags( links, lang, site, query ) %}
{% for link in links %}<li class="flags-item{% if link.active %} active{% endif %}"><a href="{{ link.location }}{% if query %}?{{ query }}{% endif %}" class="flags-link"><img data-src="{{ site.root }}_src/_img/_flags/{{ link.country }}.png" alt="change language to {{ link.country }}" class="lazyload"></a></li>{% endfor %}
{% endmacro %}

{% macro sheets( page, pages, lang, etc, form, request ) %}
{% if pages[ page.id ].etc.sheets %}

    {% for t in pages[ page.id ].etc.sheets %}
        <div class="text-left  d-flex justify-content-start">
            <button type="button" class="btn {% if pages[ t ].id == page.id %} btn-dark{% else %}btn-secondary {% endif %}  btn-sm " onclick='window.open( "{{ pages[ t ].path[ lang ]}}{% if request.__backurl__ %}{% if request[ form.table ].id %}&{% else %}?{% endif %}__backurl__={{ request.__backurl__ }}{% endif %}", "_self" );' data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">{% if pages[ t ].icon %}{{ pages[ t ].icon|raw }}{% else %}{{ pages[ t ].h1[ lang ] }}{% endif %}</button>
        </div>
    {% endfor %}

{% endif %}

</section>

{% endmacro %}

