{# MACRO PER LA RAPPRESENTAZIONE DEI CONTENUTI #}
{# NOTA: IMPORTARE SEMPRE COME PRV #}

{% macro checkPrivacy( form, contatti, pages, tr, lang, class, rclass, modulo ) %}
{% if not class %}{% set class = 'col-12 col-md-10 offset-md-2' %}{% endif %}
{% if not rclass %}{% set rclass = 'form-group form-row' %}{% endif %}
{% if not modulo %}{% set modulo = '__contatti__[' ~ form ~ ']' %}{% endif %}
<div class="{{ rclass }} row-privacy">
    <div class="{{ class }}">
	<div class="form-check">
	    <input type="hidden" id="privacy_policy" name="{{ modulo }}[privacy][policy]" value="0">
	    <input class="form-check-input" type="checkbox" required>
	    <label class="form-check-label text-left" for="privacy_policy">
		{{ tr.accetto_privacy[ lang ] | raw }}
		<a href="{{ pages.privacy.path[ lang ] }}" target="_blank">{{ tr.privacy_policy_sito[ lang ] | raw }}</a> ({{ tr.obbligatorio[ lang ] | raw }})
	    </label>
	</div>
    </div>
</div>
{% for label,check in contatti[ form ].privacy[ lang ].finalita %}
<div class="{{ rclass }} row-privacy">
    <div class="{{ class }}">
	<div class="form-check">
	    <input type="hidden" id="privacy_{{ label }}" name="{{ modulo }}[privacy][{{ label }}]" value="0">
	    <input class="form-check-input" type="checkbox" {% if check.required %}required{% endif %}>
	    <label class="form-check-label text-left" for="privacy_{{ label }}">
		{{ check.label | raw }} ({% if check.required %}{{ tr.obbligatorio[ lang ] | raw }}{% else %}{{ tr.facoltativo[ lang ] | raw }}{% endif %})
	    </label>
	</div>
    </div>
</div>
{% endfor %}
{% for label,check in contatti[ form ].condizioni[ lang ] %}
<div class="{{ rclass }} row-privacy">
    <div class="{{ class }}">
	<div class="form-check">
	    <input type="hidden" id="condizioni_{{ label }}" name="{{ modulo }}[condizioni][{{ label }}]" value="0">
	    <input class="form-check-input" type="checkbox" {% if check.required %}required{% endif %}>
	    <label class="form-check-label text-left" for="condizioni_{{ label }}">
		{{ tr.accetto_privacy[ lang ] | raw }}
		<a href="{{ pages[ check.page ].path[ lang ] }}" target="_blank">{{ check.label | raw }}</a> ({% if check.required %}{{ tr.obbligatorio[ lang ] | raw }}{% else %}{{ tr.facoltativo[ lang ] | raw }}{% endif %})
	    </label>
	</div>
    </div>
</div>
{% endfor %}
{% endmacro %}
