<div class="form-row view-filters d-print-none">
    <div class="col-12 col-md-auto">
		<span class="label-top">stato</span>
		<select name="__view__[{{ view.id }}][__filters__][stato][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.stato.EQ == "" %}selected{% endif %}>tutti</option>
			{% for tipologia in etc.select.stati %}
			<option value="{{ tipologia.__label__ }}" {% if request.__view__[ view.id ].__filters__.stato.EQ == tipologia.__label__ %}selected{% endif %}>{{ tipologia.__label__ }}</option>
			{% endfor %}
		</select>
	</div>

    <div class="col-12 col-md">
		<span class="label-top">fascia</span>
		<select name="__view__[{{ view.id }}][__filters__][fasce][LK]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.fasce.LK == "" %}selected{% endif %}>tutte</option>
			{% for tipologia in etc.select.fasce %}
			<option value="{{ tipologia.__label__ }}" {% if request.__view__[ view.id ].__filters__.fasce.LK == tipologia.__label__ %}selected{% endif %}>{{ tipologia.__label__ }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="col-12 col-md-auto">
		<span class="label-top">disciplina</span>
		<select name="__view__[{{ view.id }}][__filters__][discipline][LK]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.discipline.LK == "" %}selected{% endif %}>tutte</option>
			{% for tipologia in etc.select.discipline %}
			<option value="{{ tipologia.__label__ }}" {% if request.__view__[ view.id ].__filters__.discipline.LK == tipologia.__label__ %}selected{% endif %}>{{ tipologia.__label__ }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="col-12 col-md-auto">
		<span class="label-top">livello</span>
		<select name="__view__[{{ view.id }}][__filters__][livelli][LK]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.livelli.LK == "" %}selected{% endif %}>tutte</option>
			{% for tipologia in etc.select.classi %}
			<option value="{{ tipologia.__label__ }}" {% if request.__view__[ view.id ].__filters__.livelli.LK == tipologia.__label__ %}selected{% endif %}>{{ tipologia.__label__ }}</option>
			{% endfor %}
		</select>
	</div>
</div>
	<div class="form-row view-filters d-print-none">

    <div class="col">
		<input type="text" class="form-control form-control-sm" name="__view__[{{ view.id }}][__search__]" value="{{ request.__view__[ view.id ].__search__ }}" onchange="$('#pager').val('0');" autofocus>
	</div>
		<div class="col-auto">
		<button type="submit" class="btn btn-secondary btn-sqr btn-sm"><i class="fa fa-search"></i></button>
		{% if view.insert.path %}
		<button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}','_self');"><i class="fa fa-plus"></i></button>
		{% endif %}
		</div>
</div>
