<div class="form-row view-filters d-print-none">
	<div class="col-12 col-md-auto">
		<span class="label-top">giorno</span>
		<select name="__view__[{{ view.id }}][__filters__][note_programmazione][LK]" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.note_programmazione.LK == "" %}selected{% endif %}>tutti</option>
			{% for giorno in ['lunedì','martedì','mercoledì','giovedì','venerdì','sabato','domenica'] %}
			<option value="{{ giorno }}" {% if request.__view__[ view.id ].__filters__.note_programmazione.LK == giorno %}selected{% endif %}>{{ giorno }}</option>
			{% endfor %}
		</select>
	</div>

    <div class="col-12 col-md-auto">
		<span class="label-top">luogo</span>
		<select name="__view__[{{ view.id }}][__filters__][luoghi][LK]" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.livelli.LK == "" %}selected{% endif %}>tutti</option>
			{% for tipologia in etc.select.luoghi %}
			<option value="{{ tipologia.__label__ }}" {% if request.__view__[ view.id ].__filters__.livelli.LK == tipologia.__label__ %}selected{% endif %}>{{ tipologia.__label__ }}</option>
			{% endfor %}
		</select>
	</div>

    <div class="col">
		<input type="text" class="form-control form-control-sm" name="__view__[{{ view.id }}][__search__]" value="{{ request.__view__[ view.id ].__search__ }}" onchange="$('#pager').val('0');" autofocus>
	</div>
		<div class="col-auto">
		<button type="submit" class="btn btn-secondary btn-sqr btn-sm"><i class="fa fa-search"></i></button>
		{% if view.insert.path %}
		<button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}','_self');"><i class="fa fa-plus"></i></button>
		{% endif %}
		</div>
</div>
