<div class="form-row view-filters d-print-none">
    <div class="col-12 col-md-auto">
		<span class="label-top">stato</span>
		<select name="__view__[{{ view.id }}][__filters__][timestamp_archiviazione][NL]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="1" {% if request.__view__[ view.id ].__filters__.timestamp_archiviazione.NL == "1" %}selected{% endif %}>attive</option>
			<option value="" {% if request.__view__[ view.id ].__filters__.timestamp_archiviazione.NL == "" %}selected{% endif %}>archiviate</option>
		</select>
	</div>
    <div class="col">
		<input type="text" class="form-control form-control-sm" name="__view__[{{ view.id }}][__search__]" value="{{ request.__view__[ view.id ].__search__ }}" onchange="$('#pager').val('0');" autofocus>
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-secondary btn-sqr btn-sm"><i class="fa fa-search"></i></button>
		{% if view.insert.path %}
		<button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}','_self');"><i class="fa fa-plus"></i></button>
		{% endif %}
	</div>
</div>
