{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
{% set account = session.account.id %}
{% else %}
{% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
{% set method = 'update' %}
{% set activity = 'aggiornamento' %}
{% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
{% set method = 'post' %}
{% set activity = 'inserimento' %}
{% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
        <form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill"
            action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

            {# CAMPI HIDDEN DI BASE #}
            <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
            <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
            <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
            <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
            <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
            {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
            <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

            {# CAMPI HIDDEN SPECIALI #}
            {# MODULO PRINCIPALE #}
            <fieldset>
                <legend>dati generali <small>{{ legend }}</small></legend>
                    
                    {% set subtable = 'contratti_anagrafica' %}
                    {{ frm.input( table, subtable, 0, 'id', '', '', request, '', 'hidden' ) }}
                    {{ frm.input( table, subtable, 0, 'id_contratto', '', '', '', '__parent_id__', 'hidden' ) }}
                    {{ frm.input( table, subtable, 0, 'id_ruolo', '', '', '', '33', 'hidden' ) }}
                
                    <div class="form-group form-row">

                        <div class="col-3 col-md">
                            <span class="label-top">tipologia</span>
                            {{ frm.selectRequired( table, '', '', 'id_tipologia', '', etc.select.tipologia, request ) }}
                        </div>

                        <div class="col-12 col-md">
                            <span class="label-top">numero di tessera</span>
                            {{ frm.inputRequired( table, '', '', 'codice', '', '', request ) }}
                        </div>

                        {% if not request[ table ].codice %}
                        <div class="col-12 col-md-auto">
                            {{ frm.button(  'OTTIENI NUMERO' ,'button','btn btn-secondary btn-sm btn-block', 'getNumeroTessera();','ottieni in modo automatico il numero di tessera' ) }}
                        </div>
                        {% endif %}
    
                        <div class="col-md">
                            <span class="label-top">tesserato</span>
                            {{ frm.selectBox( table, subtable, 0, 'id_anagrafica', '', etc.select.anagrafica, request, '', '', 1, '', '', 'anagrafica.form', 'anagrafica.form', 'anagrafica', 'id_anagrafica', page, pages, ietf, 'anagrafica' ) }}
                        </div>
                
                        {{ frm.input( table, subtable, 1, 'id', '', '', request, '', 'hidden' ) }}
                        {{ frm.input( table, subtable, 1, 'id_contratto', '', '', '', '__parent_id__', 'hidden' ) }}
                        {{ frm.input( table, subtable, 1, 'id_ruolo', '', '', '', '30', 'hidden' ) }}
                        {{ frm.input( table, subtable, 1, 'id_anagrafica', '', '', request, etc.gestita, 'hidden' ) }}
                        
<!--
                    <input type="hidden" id="id" name="{{ table }}[rinnovi][0][id]">
                    <input type="hidden" name="{{ table }}[rinnovi][0][id_contratto]" value="__parent_id__">
                    <input type="hidden" name="{{ table }}[rinnovi][0][id_tipologia]" value="1">
                    <input type="hidden" id="timestamp" name="{{ table }}[rinnovi][0][timestamp_inserimento]" value="{{ 'now'|date('U') }}" >
                    <input type="hidden" id="account" name="{{ table }}[rinnovi][0][id_account_inserimento]" value="{{ account }}" >
                    <div class="col-auto">
                        <span class="label-top">dal</span>
                        {{ frm.date( table, 'rinnovi', '0', 'data_inizio', '', '', request ) }}
                    </div>
                    <div class="col-auto">
                        <span class="label-top">al</span>
                        {{ frm.date( table, 'rinnovi', '0', 'data_fine', '', '', request ) }}
                    </div>
                </div>
-->
            </fieldset>
<!--
            {# BOTTONI E COMANDI DEL MODULO #}
-->
            {% if request[ table ].id %}
            <fieldset>
                <legend>acquisto del tesseramento</legend>
                <div class="form-row metro">
                    {% if etc.carrello %}
                    <div class="col-md"><p>questo tesseramento è già nel carrello #{{ etc.carrello }}</p></div>
                    {% elseif not etc.rinnovi_da_pagare %}
                    <div class="col-md"><p>questo tesseramento non ha rinnovi da pagare</p></div>
                    {% else %}
                    {% set colspan = 4 %}
                    {% for a in etc.rinnovi_da_pagare %}
                        {# TODO rendere asincrono questo bottone #}
                        <div class="col-12 col-md-{{ colspan }}">
                            <a href="{{ pages['ecommerce.carrello'].url[ ietf ] }}?__carrello__[__articolo__][quantita]=1&__carrello__[__articolo__][id_iva]={{ a.id_iva }}&__carrello__[__articolo__][id_articolo]={{ a.id_articolo }}&__carrello__[__articolo__][destinatario_id_anagrafica]={{ request.contratti.contratti_anagrafica[0].id_anagrafica }}&__carrello__[__articolo__][id_rinnovo]={{ a.id }}" target="_self">
                                <div class="media">
                                    <div class="media-left">	
                                        <i class="fa fa-cart-plus"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-title">tesseramento {{ a.tipologia }}</h5>
                                        <p class="media-text">dal {{ a.data_inizio }} al {{ a.data_fine }}</p>
                                        <p class="media-text">€ {{ a.prezzo|number_format(2, ',', '.') }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            {% endif %}
<!--
            {% if request[ table ].id %}
            <fieldset class="d-flex flex-column flex-fill">
                <legend>periodi di validità</legend>
                {# VIEW PRINCIPALE #}
                {# include 'inc/view.html' #}
            </fieldset>
            {% else %}
            <fieldset class="form-controls mt-auto">
                {{ def.controls( page, pages, ietf, session, table, request ) }}
            </fieldset>
            {% endif %}
-->

            {# BOTTONI E COMANDI DEL MODULO #}
            <fieldset class="form-controls mt-auto">
                {{ def.controls( page, pages, ietf, session, table, request ) }}
            </fieldset>

        </form>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>

    function getNumeroDocumento( id ) {

        getws(
            '/task/0620.tesseramenti/tessere.genera.numero',
            null,
            function( data ) {
                console.log( data );
                $( '#'+id ).val( data.new );
                if( data.err ) { alert( data.err ); }
            }
        );

    }

</script>
{% endblock %}