{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

        <fieldset>
            <form id="form-filtro" class="form-main form-horizontal d-flex flex-column flex-fill" action="{{ page.path[ localization.language.ietf ] }}" method="post">
                <div class="form-row view-filters d-print-none cks">
                    <div class="col-12 col-md-auto">
                        <span class="label-top">mese</span>
                        <select name="__turni__[mese]" onchange="$('#pager').val('0');" class="form-control form-control-sm">
                        {% for id, nome in etc.select.mesi %}
                            <option value="{{ id }}" {% if request.__turni__.mese == id %}selected{% endif %}>{{ nome }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div class="col-12 col-md-auto">
                        <span class="label-top">anno</span>
                        <select name="__turni__[anno]" onchange="$('#pager').val('0');" class="form-control form-control-sm">
                        {% for id, nome in etc.select.anni %}
                            <option value="{{ id }}" {% if request.__turni__.anno == id %}selected{% endif %}>{{ nome }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div class="col-12 col-md">
                        <span class="label-top">contratto</span>
                        <div class="row m-0">
                            <div class="col combobox-container p-0">
                                <select name="__view__[{{ view.id }}][__filters__][id_contratto][EQ]" populate-api onchange="$('#pager').val('0');" class="selectbox form-control form-control-sm" id="contratto">
                                    <option value="" {% if request.__view__[ view.id ].__filters__.id_contratto.EQ == "" %}selected{% endif %}></option>
                                {% for contratto  in etc.select.contratti %}
                                    <option value="{{ contratto.id }}" {% if request.__view__[ view.id ].__filters__.id_contratto.EQ == contratto.id %}selected{% endif %}>{{ contratto.__label__ }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto p-0 pl-1">
                                <button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="$('#contratto_inputbox').trigger('all');"><i class="fa fa-chevron-down"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="button" style="height: 31px" class="form-control form-control-sm btn btn-sm btn-secondary" onclick="submit();">VISUALIZZA TURNI</button>
                    </div>

                </div>

            {% if request.__turni__.anno and request.__turni__.mese and request.__view__[ view.id ].__filters__.id_contratto.EQ %}
                <div class="form-row">
                    <div class="col-md-12 table-responsive">
                        <table class="view-table">
                            <thead>
                                <tr>
                                    <th>turno</th>
                                    {% for g in etc.giorni %}
                                    <th {% if g.festivo == 1 %} style="color: red;" {% endif %}>{{ g.nome }}<br>{{ g.giorno }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in 1..9 %}
                                <tr>
                                    <td>{{ t }}</td>
                                    {% for g in etc.giorni %}
                                    <td {% if g.turni[t] %} style="cursor: pointer"{% endif %}>{% if g.turni[t] %}<i class="fa fa-check" aria-hidden="true" data-toggle="modal" data-target="#orari_turno" onclick="$('.orari').css('display','none');$('.turno-{{ t }}').css('display','');"></i>{% endif %}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            {% endif %}               
            </form>
        </field>
    
    </div>
</section>

{% endblock %}

