<div class="form-row view-filters d-print-none">
    <div class="col-4 col-md-auto">
    <span class="label-top">approvazione</span>
	<select name="__view__[{{ view.id }}][__filters__][approvato][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
	    <option value="0" {% if request.__view__[ view.id ].__filters__.approvato.EQ == "0" %}selected{% endif %}>da approvare</option>
	    <option value="1" {% if request.__view__[ view.id ].__filters__.approvato.EQ == "1" %}selected{% endif %}>approvati</option>
	    <option value="" {% if request.__view__[ view.id ].__filters__.approvato.EQ is empty %}selected{% endif %}>tutti</option>
	</select>
    </div>
    <div class="col-6 col-md-auto">
		<span class="label-top">mese</span>
		<select name="__view__[{{ view.id }}][__filters__][mese][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.mese.EQ == "" %}selected{% endif %}>tutti</option>
		{% for idmese, nomemese in etc.select.mesi %}
			<option value="{{ idmese }}"   {% if request.__view__[ view.id ].__filters__.mese.EQ == idmese %}selected{% endif %}>{{ nomemese }}</option>
		{% endfor %}
		</select>
	</div>
	<div class="col-6 col-md-auto">
		<span class="label-top">anno</span>
		<select name="__view__[{{ view.id }}][__filters__][anno][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.anno.EQ == "" %}selected{% endif %}>tutti</option>
		{% for idanno, nomeanno in etc.select.anni %}
			<option value="{{ idanno }}" {% if request.__view__[ view.id ].__filters__.anno.EQ == idanno %}selected{% endif %}>{{ nomeanno }}</option>
		{% endfor %}
		</select>
	</div>
	<div class="col-6 col-md-auto">
		<span class="label-top">operatore</span>
		<select name="__view__[{{ view.id }}][__filters__][id_anagrafica][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == "" %}selected{% endif %}>tutti</option>
		{% for operatore  in etc.select.operatori %}
			<option value="{{ operatore.id }}"   {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == operatore.id %}selected{% endif %}>{{ operatore.__label__ }}</option>
		{% endfor %}
		</select>
	</div>
    <div class="col">
		<div class="label-top">ricerca per parola chiave</div>
		<input type="text" class="form-control form-control-sm" name="__view__[{{ view.id }}][__search__]" value="{{ request.__view__[ view.id ].__search__ }}" onchange="$('#pager').val('0');" autofocus>
		</div>
		<div class="col-auto">
		<button type="submit" class="btn btn-secondary btn-sqr btn-sm"><i class="fa fa-search"></i></button>
		{% if view.insert.path %}
		<button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}','_self');"><i class="fa fa-plus"></i></button>
		{% endif %}
	</div>
</div>
