
/* stili di base */

body {
    background-color: #ffffff;
    font-family: Helvetica, Verdana, FontAwesome;
    font-size: 1.0em;
}

/* stili dell'header */

header {
    background-color: #aaaaaa;
    font-size: 1.8em;
}

header nav.navbar {
    padding: 0px;
}

header a,
header a:visited {
    color: #333333;
}

header a:hover,
header a:active {
    color: #666666;
    text-decoration: none;
}

header a,
header a:visited {
    color: #333333;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header a:hover,
header a:active {
    color: #666666;
    text-decoration: underline;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header nav.navbar-light li.nav-item > a.nav-link,
header nav.navbar-light li.nav-item > a.nav-link:visited {
    border: 0px solid #333333;
    color: #333333;
    height: 2em;
    font-weight: bold;
    transition: background-color 100ms linear;
    padding: 0.15em 0.75em;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header nav.navbar-light li.nav-item.current > a.nav-link {
    border: 0px solid #333333;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header nav.navbar-light li.nav-item.active > a.nav-link,
header nav.navbar-light li.nav-item > a.nav-link:hover,
header nav.navbar-light li.nav-item > a.nav-link:active {
    border: 0px solid #333333;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 100ms linear;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header nav.navbar-light ul.icons li.nav-item > a.nav-link,
header nav.navbar-light ul.icons li.nav-item > a.nav-link:visited {
    border: 0px solid #333333;
    background-color: #333333;
    color: #ffffff;
    border-radius: 0px;
    font-size: 1em;
    width: 2em;
    height: 2em;
    font-weight: bold;
    transition: background-color 100ms linear;
    padding: 0.15em 0.75em;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header nav.navbar-light ul.icons li.nav-item.current > a.nav-link {
    border: 0px solid #ffffff;
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header nav.navbar-light ul.icons li.nav-item.active > a.nav-link,
header nav.navbar-light ul.icons li.nav-item > a.nav-link:hover,
header nav.navbar-light ul.icons li.nav-item > a.nav-link:active {
    border: 0px solid #ffffff;
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header .btn-sqr {
    border-radius: 0px;
    font-size: 1em;
    width: 2em;
    height: 2em;
}

header .btn-sqr,
header .btn-sqr:visited {
    border: 0px solid #333333;
    background-color: #333333;
    color: #ffffff;
}

header .btn-sqr:hover,
header .btn-sqr:active {
    border: 0px solid #ffffff;
    background-color: #ffffff;
    color: #333333;
}

/* stili del main */

main {
    margin-bottom: 1em;
}

main > div.row > div {
    margin-top: 1em;
}

main > div.row {
    margin-bottom: 1em;
}

main h1,
main h2,
main p {
    margin: 0em;
}

main p {
    margin: 0em;
    margin-bottom: 1em;
}

main .annunci h1,
main .annunci h2,
main .annunci p {
    margin: 0em;
}

main .form-login h1,
main .form-login h2,
main .form-login p\ {
    margin: .2em 0em;
}

/* stili del footer */

footer {
    margin: 0em;
}

footer {
    border-top: 2px solid #cccccc;
}

footer > .container > .row > .col {
    min-height: 3em;
}

footer p {
    margin: 0em;
    font-size: 0.8em;
}

/* stili della navigazione a icone */

div.subnav a,
div.subnav a:visited,
div.subnav a:hover,
div.subnav a:active {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

div.subnav a:hover .media,
div.subnav a:active .media {
    background-color: #eeeeee;
}

div.subnav .media {
    border: 2px solid #dddddd;
    border-radius: 5px;
}

div.subnav .media-left {
    padding: 10px;
    padding-right: 5px;
}

div.subnav .media-left i {
    font-size: 3.0em;
}

div.subnav .media-body {
    padding: 10px;
}

div.subnav h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
}

div.subnav p {
    font-size: .9em;
    margin: 0px;
}

/* stili dei form */

.form-login {
    width: 20%;
    min-width: 280px;
    margin: auto;
}

.label-top {
    font-size: .9em;

    color: #777777;

    position: absolute;
    top: -1.10em;
    left: 1.35em;
    background-color: white;
    padding: 0em 0.5em;
    z-index: 30;

    border: 1px solid rgba(206,212,218,1);
    border-bottom: 0px;
    border-top-right-radius: .3em;
}

.form-col {
    position: relative;
}

.form-control:focus {
    border-color: #cccccc;
    box-shadow: inset 0 1px 1px rgba(64, 64, 64, 0.075), 0 0 8px rgba(128, 128, 128, 0.6);
}

.form-control-sm {
    margin-bottom: 1.5em;
}

fieldset legend {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid #333333;
    margin-bottom: 1em;
}

.divSelected {
    background-color: #dddddd;
}
