{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/contratti.form.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

        {# MODULO PRINCIPALE #}
        <fieldset>
        <legend>dati generali <small>{{ legend }}</small></legend>
    
        <div class="form-group form-row">
            <div class="col-12 col-md-2">
                <span class="label-top">data valutazione</span>
                {{ frm.dateTime( table, '', '', 'timestamp_valutazione', '', '', request ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">esecutore</span>
                {{ frm.selectBox( table, '', '', 'id_anagrafica', '', etc.select.anagrafica, request, session.account.id_anagrafica, '', 1, '', '', 'anagrafica.form', 'anagrafica.form', 'anagrafica', 'id_anagrafica', page, pages, ietf, 'anagrafica' ) }}
            </div>

        </div>
        <div class="form-group form-row">
            <div class="col">
            <span class="label-top">descrizione e note</span>
			{{ frm.textarea( table, '', '', 'note', '', 3, request ) }}
            </div>
        </div>
        
        <legend>valutazione</legend>
        <div class="form-group form-row">
                <div class="col-12 col-md-2">
                    <span class="label-top">condizione</span>
                    {{ frm.select( table, '', '', 'id_condizione', '', etc.select.condizioni, request ) }}
                </div>              
                <div class="col-12 col-md">
                    <span class="label-top">disponibilità</span>
                    {{ frm.select( table, '', '', 'id_disponibilita', '', etc.select.disponibilita, request ) }}
                </div>
                {% if 'V300.immobiliari' in mods.active.array %}
                    <div class="col-12 col-md-2">
                        <span class="label-top">classe energetica</span>
                        {{ frm.select( table, '', '', 'id_classe_energetica', '', etc.select.classi_energetiche, request ) }}
                    </div>
                    <div class="col-2 col-md-2">
                        <span class="label-top">mq commerciali</span>
                        {{ frm.input( table, '', '', 'mq_commerciali', '', '', request ) }}
                    </div>
                    <div class="col-2 col-md-2">
                        <span class="label-top">mq calpestabili</span>
                        {{ frm.input( table, '', '', 'mq_calpestabili', '', '', request ) }}
                    </div>
                {% endif %}
        </div>

        

       
    </fieldset>

    <legend>riferimenti</legend>
    <div class="form-group form-row">
        {% if '4110.matricole' in mods.active.array %}
        <div class="col-12 col-md">
            <span class="label-top">matricola</span>
            {{ frm.selectBox( table, '', '', 'id_matricola', '', etc.select.matricole, request, '', '', '', '', '', 'matricole.form', 'matricole.form', 'matricole', 'id_matricola', page, pages, ietf, 'matricole' ) }}
        </div>
        {% endif %}
        {% if 'V300.immobiliari' in mods.active.array %}
        <div class="col-12 col-md">
            <span class="label-top">immobile</span>
            {{ frm.selectBox( table, '', '', 'id_immobile', '', etc.select.immobili, request, '', '', '', '', '', 'immobili.form', 'immobili.form', 'immobili', 'id_immobile', page, pages, ietf, 'immobili' ) }}
        </div>
        {% endif %}
    </div>

    {# BOTTONI E COMANDI DEL MODULO #}
    <fieldset class="form-controls mt-auto">
        {{ def.controls( page, pages, ietf, session, table, request ) }}
	</fieldset>
	
	</form>
    </div>
</section>

{% endblock %}
