<div class="form-row view-filters d-print-none">
    <div class="col-6 col-md-auto">
    <span class="label-top">giorno</span>
	<select name="__view__[{{ view.id }}][__filters__][giorno_attivita][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
	    <option value="" {% if request.__view__[ view.id ].__filters__.giorno_attivita.EQ == "" %}selected{% endif %}>tutti</option>
	{% for i in 1..31 %}
	    <option value="{{ i }}" {% if request.__view__[ view.id ].__filters__.giorno_attivita.EQ == i %}selected{% endif %}>{{ i }}</option>
	{% endfor %}
	</select>
    </div>

    <div class="col-6 col-md-auto">
    <span class="label-top">mese</span>
	<select name="__view__[{{ view.id }}][__filters__][mese_attivita][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
	    <option value="" {% if request.__view__[ view.id ].__filters__.mese_attivita.EQ == "" %}selected{% endif %}>tutti</option>
	{% for idmese, nomemese in etc.select.mesi %}
	    <option value="{{ idmese }}"   {% if request.__view__[ view.id ].__filters__.mese_attivita.EQ == idmese %}selected{% endif %}>{{ nomemese }}</option>
	{% endfor %}
	</select>
    </div>
    <div class="col-6 col-md-auto">
    <span class="label-top">anno</span>
	<select name="__view__[{{ view.id }}][__filters__][anno_attivita][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
	    <option value="" {% if request.__view__[ view.id ].__filters__.anno_attivita.EQ == "" %}selected{% endif %}>tutti</option>
	{% for idanno, nomeanno in etc.select.anni %}
	    <option value="{{ idanno }}" {% if request.__view__[ view.id ].__filters__.anno_attivita.EQ == idanno %}selected{% endif %}>{{ nomeanno }}</option>
	{% endfor %}
	</select>
    </div>
    <div class="col-6 col-md-auto">
    <span class="label-top">operatore</span>
	<select name="__view__[{{ view.id }}][__filters__][id_anagrafica][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
	    <option value="" {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == "" %}selected{% endif %}>tutti</option>
	{% for operatore  in etc.select.operatori %}
	    <option value="{{ operatore.id }}"   {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == operatore.id %}selected{% endif %}>{{ operatore.__label__ }}</option>
	{% endfor %}
	</select>
    </div>
    <div class="col-2">
    <span class="label-top">cliente</span>
	<select name="__view__[{{ view.id }}][__filters__][id_cliente][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm selectpicker" data-live-search="true" >
	    <option value="" {% if request.__view__[ view.id ].__filters__.id_cliente == "" %}selected{% endif %}>tutti</option>
	    {% for cliente in etc.select.clienti %}
		<option value="{{ cliente.id }}" {% if request.__view__[ view.id ].__filters__.id_cliente.EQ == cliente.id %}selected{% endif %} >{{ cliente.__label__ }}</option>
	    {% endfor %}
	</select>
	</div>
	<div class="col-6 col-md-auto">
		<span class="label-top">tipologia</span>
		<select name="__view__[{{ view.id }}][__filters__][id_tipologia][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.id_tipologia.EQ == "" %}selected{% endif %}>tutte</option>
		{% for tipologia in etc.select.tipologie_attivita %}
			<option value="{{ tipologia.id }}"   {% if request.__view__[ view.id ].__filters__.id_tipologia.EQ == tipologia.id %}selected{% endif %}>{{ tipologia.__label__ }}</option>
		{% endfor %}
		</select>
	</div>
<!--
	<div class="col-6 col-md-auto">
		<span class="label-top">tipologia INPS</span>
		<select name="__view__[{{ view.id }}][__filters__][id_tipologia_inps][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.id_tipologia_inps.EQ == "" %}selected{% endif %}>tutte</option>
		{% for tipologia in etc.select.tipologie_attivita_inps %}
			<option value="{{ tipologia.id }}"   {% if request.__view__[ view.id ].__filters__.id_tipologia_inps.EQ == tipologia.id %}selected{% endif %}>{{ tipologia.__label__ }}</option>
		{% endfor %}
		</select>
	</div>
-->
	<div class="col">
		<div class="label-top">ricerca per parola chiave</div>
		<input type="text" class="form-control form-control-sm" name="__view__[{{ view.id }}][__search__]" value="{{ request.__view__[ view.id ].__search__ }}" onchange="$('#pager').val('0');" autofocus>
		</div>
		<div class="col-auto">
		<button type="submit" class="btn btn-secondary btn-sqr btn-sm"><i class="fa fa-search"></i></button>
		{% if view.insert.path %}
		<button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}','_self');"><i class="fa fa-plus"></i></button>
		{% endif %}
	</div>
</div>
