<div class="form-row view-filters d-print-none">
	<div class="col-4 col-md-auto">
		<span class="label-top">stato</span>
		<select name="__view__[{{ view.id }}][__filters__][approvata][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="0" {% if request.__view__[ view.id ].__filters__.approvata.EQ == "0" %}selected{% endif %}>da approvare</option>
			<option value="1" {% if request.__view__[ view.id ].__filters__.approvata.EQ == "1" %}selected{% endif %}>approvato</option>
			<option value="2" {% if request.__view__[ view.id ].__filters__.approvata.EQ == "2" %}selected{% endif %}>rifiutato</option>
			<option value="" {% if request.__view__[ view.id ].__filters__.approvata.EQ is empty %}selected{% endif %}>tutti</option>
		</select>
    </div>

	<div class="col-4 col-md-auto">
		<span class="label-top">tipologia</span>
		<select name="__view__[{{ view.id }}][__filters__][id_tipologia][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.id_tipologia.EQ == "" %}selected{% endif %}>tutte</option>
			{% for o in etc.select.tipologie %}
			<option value="{{ o.id }}" {% if request.__view__[ view.id ].__filters__.id_tipologia.EQ == o.id %}selected{% endif %}>{{ o.__label__ }}</option>
			{% endfor %}
		</select>
	</div>

    <div class="col-4 col-md-auto">
        <span class="label-top">operatore</span>
        <select name="__view__[{{ view.id }}][__filters__][id_anagrafica][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
            <option value="" {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == "" %}selected{% endif %}>tutti</option>
            {% for o in etc.select.operatori %}
            <option value="{{ o.id }}" {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == o.id %}selected{% endif %}>{{ o.__label__ }}</option>
            {% endfor %}
        </select>
    </div>

	<div class="col-4 col-md-auto">
        <span class="label-top">ricerca data</span>
        <input type="date" class="form-control form-control-sm" name="__view__[{{ view.id }}][__filters__][data_inizio][LE]" value="{{ request.__view__[ view.id ].__filters__.data_inizio.LE }}" onchange="$('#pager').val('0'); $('#data_fine_GE').val($(this).val()); submit();" autofocus placeholder="data inizio">
		<input type="date" id="data_fine_GE" class="d-none" name="__view__[{{ view.id }}][__filters__][data_fine][GE]" value="{{ request.__view__[ view.id ].__filters__.data_fine.GE }}">
    </div>
        

    <div class="col">
		<div class="label-top">ricerca per parola chiave</div>
		<input type="text" class="form-control form-control-sm" name="__view__[{{ view.id }}][__search__]" value="{{ request.__view__[ view.id ].__search__ }}" onchange="$('#pager').val('0');" autofocus>
		</div>
		<div class="col-auto">
		<button type="submit" class="btn btn-secondary btn-sqr btn-sm"><i class="fa fa-search"></i></button>
		{% if view.insert.path %}
		<button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}','_self');"><i class="fa fa-plus"></i></button>
		{% endif %}
	</div>
</div>

