{% import '_bin/_default.html' as cms %}

{% extends 'ext/main.html' %}

{% block main %}
<section class="row flex-fill">
    <div class="col-md-8 d-flex flex-column">
        {% if etc.righe %}
        <form id="pagamento" class="carrello d-flex flex-column flex-fill" action="{{ page.url[ localization.language.ietf ] }}" method="post">
            <input type="hidden" name="__pagamenti__[id_carrello]" value="{{ request.__pagamenti__.id_carrello }}">
            <input type="hidden" name="__pagamenti__[id_socio]" value="{{ request.__pagamenti__.id_socio }}">
            <fieldset>
                <legend>documenti da generare per {% if request.__pagamenti__.id_carrello %}il carrello #{{ request.__pagamenti__.id_carrello }}{% elseif request.__pagamenti__.id_socio %}il socio #{{ request.__pagamenti__.id_socio }}{% endif %}</legend>
            </fieldset>
            {% for r in etc.righe %}
            <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][id]" value="{{ r.id }}">
            <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][id_carrello]" value="{{ r.id_carrello }}">
            <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][destinatario_id_anagrafica]" value="{{ r.destinatario_id_anagrafica }}">
            <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][destinatario]" value="{{ r.destinatario }}">
            <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][id_articolo]" value="{{ r.id_articolo }}">
            <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][fatturazione_id_tipologia_documento]" value="{{ r.fatturazione_id_tipologia_documento }}">
            <div class="form-row">
                <div class="col-2">
                    <p>{{ r.destinatario }}</p>
                </div>
                <div class="col-4">
                    <p>{{ r.descrizione }}</p>
                </div>
                <div class="col-1">
                    <p>{{ '%0.2f'|format( r.prezzo_netto_finale ) }}</p>
                </div>
                <div class="col-1">
                    <p>{{ '%0.2f'|format( r.totale_netto_pagato ) }}</p>
                </div>
                <div class="col-1">
                    <label class="label-top">importo</label>
                    <input class="form-control form-control-sm" type="decimal" name="__pagamenti__[righe][{{ loop.index0 }}][importo_netto_totale]" value="{{ r.totale_netto_da_pagare }}" required>
                </div>
                <div class="col d-flex flex-row align-items-stretch">
                    {% for doc in r.documenti_da_stampare %}
                    <button onclick="window.open('/print/0400.documenti/documento.pdf?__documento__={{ doc.id_documento }}','_blank');" class="btn btn-secondary btn-sm no-wrap">{{ doc.documento }}</button>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="form-row">
                <div class="col">
                    <button onclick="$('#pagamento').submit();" class="btn btn-secondary btn-sm btn-block">genera documenti</button>
                </div>
            </div>
        </form>
        {% elseif session.carrello.id %}
        <fieldset>
            <legend>acquisti in corso</legend>
            <p>chiudere il carrello #{{ session.carrello.id }} prima di procedere a registrare il pagamento</p>
        </fieldset>
        {% else %}
        <fieldset>
            <legend>nessun documento da generare</legend>
            <p>effettuare una ricerca per generare una lista di documenti da generare</p>
        </fieldset>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex flex-column">
        <form id="pagamento" class="d-flex flex-column" action="{{ page.url[ localization.language.ietf ] }}" method="post">
            <fieldset>
                <legend>pagamenti per carrello</legend>
                <div class="form-row">
                    <div class="col-10">
                        <label class="label-top">ID carrello</label>
                        <input class="form-control form-control-sm" type="decimal" name="__pagamenti__[id_carrello]" value="">
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-secondary btn-sm btn-block" value="cerca">
                    </div>
                </div>
            </fieldset>
        </form>
	    <fieldset>
            <legend>pagamenti per socio</legend>
        </fieldset>
    </div>
</section>
{% endblock %}
