{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}

{% extends 'ext/main.html' %}

{% block main %}
<section class="row flex-fill">
    <div class="col-md-8 d-flex flex-column">
        {% if etc.righe %}
        <form id="pagamento" class="carrello d-flex flex-column flex-fill" action="{{ page.url[ localization.language.ietf ] }}" method="post">
            <input type="hidden" name="__pagamenti__[id_carrello]" value="{{ request.__pagamenti__.id_carrello }}">
            <input type="hidden" name="__pagamenti__[id_socio]" value="{{ request.__pagamenti__.id_socio }}">
            <fieldset>
                <legend>documenti da generare per {% if request.__pagamenti__.id_carrello %}il carrello #{{ request.__pagamenti__.id_carrello }}{% elseif request.__pagamenti__.id_socio %}il socio #{{ request.__pagamenti__.id_socio }}{% endif %}</legend>
                {% for r in etc.righe %}
                <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][id]" value="{{ r.id }}">
                <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][id_carrello]" value="{{ r.id_carrello }}">
                <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][destinatario_id_anagrafica]" value="{{ r.destinatario_id_anagrafica }}">
                <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][id_pagamento]" value="{{ r.id_pagamento }}">
                <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][destinatario]" value="{{ r.destinatario }}">
                <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][id_articolo]" value="{{ r.id_articolo }}">
                <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][fatturazione_id_tipologia_documento]" value="{{ r.fatturazione_id_tipologia_documento }}">
                <div class="form-row">
                    <div class="col-auto">
                        <div class="form-check">
                            <input type="hidden" name="__pagamenti__[righe][{{ loop.index0 }}][da_fare]" id="" class="" value="0">
                            <input type="checkbox" class="form-check-input">
                        </div>
                    </div>
                    <div class="col-2">
                        <p>{{ r.destinatario }}</p>
                    </div>
                    <div class="col-5">
                        <p>{{ r.descrizione }}</p>
                    </div>
                    {% if r.id_pagamento %}
                    <div class="col-1">
                        <p>{{ '%0.2f'|format( r.importo_lordo_totale ) }}</p>
                    </div>
                    {% else %}
                    <div class="col-1">
                        <p>{{ '%0.2f'|format( r.prezzo_netto_finale ) }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ '%0.2f'|format( r.totale_netto_pagato ) }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ '%0.2f'|format( r.totale_netto_rateizzato ) }}</p>
                    </div>
                    <div class="col">
                        <label class="label-top">da pagare</label>
                        <input class="form-control form-control-sm" type="decimal" name="__pagamenti__[righe][{{ loop.index0 }}][importo_netto_totale]" value="{{ r.totale_netto_da_pagare }}" required>
                    </div>
                    {% endif %}
                    <!--
                    <div class="col d-flex flex-row align-items-stretch">
                        {% for doc in r.documenti_da_stampare %}
                        <button type="button" onclick="window.open('/print/0400.documenti/documento.pdf?__documento__={{ doc.id }}','_blank');" class="btn btn-secondary btn-sm no-wrap mx-1">{{ doc.documento }}</button>
                        {% endfor %}
                    </div>
                    -->
                </div>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>documenti da stampare per {% if request.__pagamenti__.id_carrello %}il carrello #{{ request.__pagamenti__.id_carrello }}{% elseif request.__pagamenti__.id_socio %}il socio #{{ request.__pagamenti__.id_socio }}{% endif %}</legend>
            </fieldset>
            <fieldset class="mt-auto">
                <legend>generazione rate</legend>
                <div class="form-row">
                    <div class="col-4 col-md-auto">
                        <input type="date" class="form-control form-control-sm " name="__pagamenti__[data_rate]" id="data-rate">
                    </div>
                    <div class="col">
                        <button onclick="$('#pagamento').submit();" class="btn btn-secondary btn-sm btn-block">genera rate</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="">
                <legend>generazione documenti</legend>
                <div class="form-row">
                    <div class="col-4 col-md-auto">
                        <select class="form-control form-control-sm hint-toggle" id="tipologia-documento-fatturazione" hint-toggle="tipologia_documento_fatturazione" name="__pagamenti__[fatturazione_id_tipologia_documento]">
                            {% for tdoc in etc.id_tipologia_documenti %}
                            <option value="{{ tdoc.id }}" require="{{ tdoc.require }}" {% if tdoc.id == session.carrello.fatturazione_id_tipologia_documento %}selected{% endif %}>{{ tdoc.__label__ }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 col-md-auto">
                        <select class="form-control form-control-sm hint-toggle" id="strategia-fatturazione" hint-toggle="strategia_fatturazione" name="__pagamenti__[fatturazione_strategia]">
                            {% for strf in etc.strategie_fatturazione %}
                            <option value="{{ strf.id }}" {% if strf.id == session.carrello.fatturazione_strategia %}selected{% endif %}>{{ strf.__label__ }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 col-md-auto">
                        <select class="form-control form-control-sm hint-toggle" id="costo-pagamento" hint-toggle="modalita_pagamento" name="__pagamenti__[provider_pagamento]">
                            {% for cons in ecommerce.profile.provider %}
                            <option value="{{ cons.id }}" min="{{ cons.importo_min }}" max="{{ cons.importo_max }}" prezzo="{{ cons.prezzo }}" relativo="{{ cons.prezzo_relativo }}" {% if cons.id == session.carrello.provider_pagamento %}selected{% endif %}>{{ cons.__label__ }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <button onclick="$('#pagamento').submit();" class="btn btn-secondary btn-sm btn-block">genera documenti</button>
                    </div>
                </div>
            </fieldset>
        </form>
        {% elseif session.carrello.id %}
        <fieldset>
            <legend>acquisti in corso</legend>
            <p>chiudere il carrello #{{ session.carrello.id }} prima di procedere a registrare il pagamento</p>
        </fieldset>
        {% else %}
        <fieldset>
            <legend>nessun documento da generare</legend>
            <p>effettuare una ricerca per generare una lista di documenti da generare</p>
        </fieldset>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex flex-column">
        <form id="pagamento_carrello" class="d-flex flex-column" action="{{ page.url[ localization.language.ietf ] }}" method="post">
            <fieldset>
                <legend>pagamenti per carrello</legend>
                <div class="form-row">
                    <div class="col-10">
                        <label class="label-top">ID carrello</label>
                        <input class="form-control form-control-sm" type="decimal" name="__pagamenti__[id_carrello]" value="">
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-secondary btn-sm btn-block" value="cerca">
                    </div>
                </div>
            </fieldset>
        </form>
        <form id="pagamento_socio" class="d-flex flex-column" action="{{ page.url[ localization.language.ietf ] }}" method="post">
            <fieldset>
                <legend>pagamenti per socio</legend>
                <div class="form-row">
                    <div class="col">
                        <span class="label-top">anagrafica</span>
                        {{ frm.selectBox( '__pagamenti__', '', '', 'id_socio', '', etc.select.anagrafica, request, '', '', 1, '', '', '', '', 'anagrafica', 'id_anagrafica', page, pages, ietf, 'anagrafica' ) }}
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-control-sm hint-toggle" id="" hint-toggle="" name="__pagamenti__[se_famiglia]">
                            <option value="0">persona</option>
                            <option value="1">famiglia</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-secondary btn-sm btn-block" value="cerca">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}
