{% import '_bin/_default.html' as cms %}

{% extends 'ext/main.html' %}

{% block main %}
<section class="row flex-fill">
    <div class="col-md-8 d-flex flex-column">
        {% if session.carrello.id %}
	    <fieldset>
            <legend>carrello <small>#{{ session.carrello.id }}</small></legend>
            {# TODO QUI METTERE GLI ARTICOLI DEL CARRELLO #}
        </fieldset>
	    <fieldset>
            <legend>dati cliente</legend>
            {# TODO QUI METTERE I DATI DELL'INTESTATARIO E DEL DESTINATARIO #}
        </fieldset>
	    <fieldset>
            <legend>azioni</legend>
            {# TODO QUI METTERE I TASTI RICALCOLA E PAGA #}
        </fieldset>
        {% else %}
	    <fieldset>
            <legend>apri un carrello o aggiungi un articolo per iniziare</legend>
            {# TODO QUI MOSTRARE I CARRELLI DA CATTURARE #}
            <p>nessun carrello aperto</p>
        </fieldset>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex flex-column">
	    <fieldset>
            <legend>aggiunta articoli</legend>
            <div class="form-group form-row">
                <div class="col-12 col-md">
                    <button onclick="window.open('{{ pages['articoli.view'].url[ localization.language.ietf ] }}','_self');" class="btn btn-secondary btn-sm btn-block">vai agli articoli</button>
                </div>
            </div>
            {# TODO QUI BOX AGGIUNTA ARTICOLO PER CODICE O MATRICOLA (TENDINA INTELLIGENTE) #}
        </fieldset>
	    <fieldset>
            <legend>articoli frequenti</legend>
            {# TODO QUI BOX ARTICOLI FREQUENTI #}
        </fieldset>
    </div>
</section>
{% endblock %}
