{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/attivita.form.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}

		<input type="hidden" id="continue" name="__continue__" value="">
		<input type="hidden" id="next_step" name="__next_step__" value="">
		<input type="hidden" id="next_label" name="__next_label__" value="">
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

	    {# MODULO PRINCIPALE #}
	    <fieldset>
		<legend>dati generali <small>{{ legend }}</small></legend>

			<div class="form-group form-row">
				<div class="col-12 col-md-auto">
					<span class="label-top">tipologia</span>
                    {% if request.__continue__ %}{% set default = request.__continue__  %}{% else  %}{% set default = '' %}{% endif %}
					{{ frm.select( table, '', '', 'id_tipologia', '', etc.select.id_tipologia, request, default ) }}
				</div>
				<!--
				{% if '0500.mastri' in mods.active.array %}
				<div class="col-12 col-md-2">
					<span class="label-top">scarico</span>
					{% if not request[table].id %}
					{% if not session.__latest__[ table ].id_mastro_provenienza %}{% set default = etc.id_mastro_provenienza %}{% else %}{% set default = session.__latest__[ table ].id_mastro_provenienza %}{% endif %}
					{% endif %}
					{{ frm.select( table, '', '', 'id_mastro_provenienza', '', etc.select.mastri, request, default ) }}
				</div>
				<div class="col-12 col-md-2">
					<span class="label-top">carico</span>
					{% if not request[table].id %}
					{% if not session.__latest__[ table ].id_mastro_destinazione %}{% set default = etc.id_mastro_destinazione %}{% else %}{% set default = session.__latest__[ table ].id_mastro_destinazione %}{% endif %}
					{% endif %}
					{{ frm.select( table, '', '', 'id_mastro_destinazione', '', etc.select.mastri, request, default ) }}
				</div>
				{% endif %}
				-->
				<div class="col">
					<span class="label-top">descrizione</span>
					{% if request.__next_label__ %}{% set default = request.__next_label__ %}{% else %}{% set default = '' %}{% endif %}
					{{ frm.inputRequired( table, '', '', 'nome', '', '', request, default ) }}
				</div>
			</div>
			</fieldset>

			{% if request.attivita.id_todo or ( request.__continue__ and session.__latest__[ table ].id_todo ) or request.__preset__[ table ].id_todo %}
			<fieldset>
				<legend>contesto della to-do {{ etc.todo.nome }}</legend>
				{% if etc.todo.testo %}
				<div class="form-group form-row">
					<div class="col">
						<p>{{ etc.todo.testo }}</p>
					</div>
				</div>
				{% endif %}
				{% if etc.attivita_completate or etc.attivita_programmate %}
				<div class="form-group form-row">
					<div class="col">

						<table class="view-table">
							<tr>
								<th class="table-header-static">data</th>
								<th class="table-header-static">status</th>
								<th class="table-header-static text-left">attività</th>
								<th class="table-header-static text-left">note cliente</th>
							</tr>
							{% for a in etc.attivita_completate %}
							<tr>
								<td>{{ a.data_attivita|date('d/m/Y') }}</td>
								<td>completata</td>
								<td class="text-left"><b>{{ a.nome }}</b> {{ a.note }}</td>
								<td class="text-left">{{ a.note_cliente }}</td>
							</tr>
							{% endfor %}
							{% for a in etc.attivita_programmate %}
							<tr>
								<td>{{ a.data_programmazione|date('d/m/Y') }}</td>
								<td>programmata</td>
								<td class="text-left"><b>{{ a.nome }}</b> {{ a.note_programmazione }}</td>
								<td class="text-left">{{ a.note_cliente }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				{% endif %}
			</fieldset>
			{% elseif request.attivita.id_progetto or ( request.__continue__ and session.__latest__[ table ].id_progetto ) or request.__preset__[ table ].id_progetto %}
			<fieldset>
				<legend>contesto del progetto {{ etc.progetto.nome }}</legend>
				{% if etc.attivita_completate or etc.attivita_programmate %}
				<div class="form-group form-row">
					<div class="col">

						<table class="view-table">
							<tr>
								<th class="table-header-static">data</th>
								<th class="table-header-static">status</th>
								<th class="table-header-static text-left">attività</th>
								<th class="table-header-static text-left">note cliente</th>
							</tr>
							{% for a in etc.attivita_completate %}
							<tr>
								<td>{{ a.data_attivita|date('d/m/Y') }}</td>
								<td>completata</td>
								<td class="text-left"><b>{{ a.nome }}</b> {{ a.note }}</td>
								<td class="text-left">{{ a.note_cliente }}</td>
							</tr>
							{% endfor %}
							{% for a in etc.attivita_programmate %}
							<tr>
								<td>{{ a.data_programmazione|date('d/m/Y') }}</td>
								<td>programmata</td>
								<td class="text-left"><b>{{ a.nome }}</b> {{ a.note_programmazione }}</td>
								<td class="text-left">{{ a.note_cliente }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				{% endif %}
			</fieldset>
			{% endif %}

			{% if not request.__preset__.attivita.data_attivita and not ( request.attivita.data_attivita and not request.attivita.data_programmazione ) %}
			<fieldset>
				<legend>programmazione</legend>
				<div class="form-group form-row">
					<div class="col-6 col-md-auto">
						<span class="label-top">data</span>
						{% if request.__next_step__ %}{% set default = request.__next_step__ %}{% else %}{% set default = '' %}{% endif %}
						{{ frm.date( table, '', '', 'data_programmazione', '', '', request, default ) }}
					</div>
					<div class="col-2 col-md-1">
						<span class="label-top">ora inizio</span>
						{{ frm.time( table, '', '', 'ora_inizio_programmazione', '', '', request) }} 
					</div>
					<div class="col-2 col-md-1">
						<span class="label-top">ora fine</span>
						{{ frm.time( table, '', '', 'ora_fine_programmazione', '', '', request) }} 
					</div>
					<div class="col-2 col-md-1">
						<span class="label-top">ore</span>
						{{ frm.input( table, '', '', 'ore_programmazione', '', '', request, '', 'number', '', '', '','0.25' ) }}
					</div>
					<div class="col-12 col-md">
						<span class="label-top">incaricato</span>
						{{ frm.selectBox( table, '', '', 'id_anagrafica_programmazione', '', etc.select.id_anagrafica_collaboratori, request, session.account.id_anagrafica, '','','','','anagrafica.form','','anagrafica', 'id_anagrafica' , page, pages, ietf,'anagrafica' ) }}
					</div>
				</div>
				<div class="form-group form-row">
					<div class="col-12">
					<span class="label-top">note programmazione</span>
					{{ frm.textarea( table, '', '', 'note_programmazione', '', 2, request ) }}
					</div>
				</div>
			</fieldset>
			{% endif %}

			{% if request.attivita.data_programmazione or request.__preset__.attivita.data_attivita or request.attivita.data_attivita %}
			<fieldset>
				<legend>esecuzione</legend>
				<div class="form-group form-row">
					<div class="col-6 col-md-auto">
						<span class="label-top">data</span>
						{{ frm.date( table, '', '', 'data_attivita', '', '', request ) }}
					</div>
					<div class="col-2 col-md-1">
						<span class="label-top">ora inizio</span>
						{{ frm.time( table, '', '', 'ora_inizio', '', '', request) }} 
					</div>
					<div class="col-2 col-md-1">
						<span class="label-top">ora fine</span>
						{{ frm.time( table, '', '', 'ora_fine', '', '', request) }} 
					</div>
					<div class="col-2 col-md-1">
						<span class="label-top">ore</span>
						{{ frm.input( table, '', '', 'ore', '', '', request, '', 'number', '', '', '','0.25' ) }}
					</div>
					<div class="col-12 col-md">
						<span class="label-top">esecutore</span>
						{% if request.attivita.id_anagrafica_programmazione or request.__preset__.attivita.data_attivita or request.attivita.data_attivita %}{% set id_esecutore = session.account.id_anagrafica %}{% endif %}
						{{ frm.selectBox( table, '', '', 'id_anagrafica', '', etc.select.id_anagrafica_collaboratori, request, id_esecutore, '','','','','anagrafica.form','','anagrafica', 'id_anagrafica' , page, pages, ietf,'anagrafica' ) }}
					</div>

					<!--div class="col-auto">
						<button type="button" style="height: 31px" class="form-control form-control-sm btn btn-sm btn-secondary" onclick="$('#sostituisci-operatore').modal('toggle');">SOSTITUISCI ESECUTORE</button>
					</div-->
				</div>
				<div class="form-group form-row">
					<div class="col-12 col-md-6">
					<span class="label-top">note interne</span>
					{{ frm.textarea( table, '', '', 'note', '', 2, request ) }}
					</div>

					<div class="col-12 col-md-6">
					<span class="label-top">note cliente</span>
					{{ frm.textarea( table, '', '', 'note_cliente', '', 2, request ) }}
					</div>
				</div>
			</fieldset>
			{% endif %}

			<fieldset>
			<legend>attribuzione</legend>

			<div class="form-group form-row">
				<div class="col-12 col-md-6">
					<span class="label-top">cliente</span>
                    {% if request.__continue__ %}{% set default = session.__latest__[ table ].id_cliente %}{% else %}{% set default = '' %}{% endif %}
					{{ frm.selectBox( table, '', '', 'id_cliente', 'cliente', etc.select.id_cliente, request, default, '','','','','anagrafica.form','anagrafica.form','anagrafica', 'id_cliente' , page, pages, ietf,'anagrafica' ) }}
				</div>
				{% if 'V300.immobiliari' in mods.active.array %}
				<div class="col-12 col-md-6">
					<span class="label-top">immobile</span>
					{{ frm.selectBox( table, '', '', 'id_immobile', '', etc.select.immobili, request, '', '','','','','immobili.form','','immobili', 'id_immobile' , page, pages, ietf,'immobili' ) }}
				</div>
				{% endif %}
				{% if '1200.todo' in mods.active.array %}
				<div class="col-12 col-md-6">
					<span class="label-top">todo</span>
                    {% if request.__continue__ %}{% set default = session.__latest__[ table ].id_todo %}{% else %}{% set default = '' %}{% endif %}
					{{ frm.selectBox( table, '', '', 'id_todo', 'todo', etc.select.id_todo, request, default, '','','','','agenda.todo.form','agenda.todo.form','todo', 'id_todo', page, pages, ietf,'todo' ) }}
				</div>
				{% endif %}
				{% if '0900.progetti' in mods.active.array %}
				<div class="col-12 col-md-6">
					<span class="label-top">progetto</span>
                    {% if request.__continue__ %}{% set default = session.__latest__[ table ].id_progetto %}{% else %}{% set default = '' %}{% endif %}
					{{ frm.selectBox( table, '', '', 'id_progetto', 'progetto', etc.select.id_progetto, request, default, '','','','','progetti.produzione.form','','progetti', 'id_progetto', page, pages, ietf,'progetti' ) }}
				</div>
				{% endif %}

				<div class="col-12 col-md-6">
					<span class="label-top">indirizzo</span>
                    {% if request.__continue__ %}{% set default = session.__latest__[ table ].id_indirizzo %}{% else %}{% set default = '' %}{% endif %}
					{{ frm.selectBox( table, '', '', 'id_indirizzo', 'indirizzo', etc.select.indirizzi, request, default, '','','','','indirizzi.form','','indirizzi', 'id_indirizzo', page, pages, ietf,'indirizzi' ) }}
				</div>
				{% if '4110.matricole' in mods.active.array %}
				<!--div class="col-12 col-md-6">
					<span class="label-top">matricola</span>
                    {% if request.__continue__ %}{% set default = session.__latest__[ table ].id_matricola %}{% else %}{% set default = '' %}{% endif %}
					{{ frm.selectBox( table, '', '', 'id_matricola', 'matricola', etc.select.matricole, request, '', '','','','','matricole.form','','matricole', 'id_matricola', page, pages, ietf,'matricole' ) }}
				</div>
				<div class="col-2 col-md-6">
					<span class="label-top">barcode matricola</span>
					{{ frm.input( table, '', '', '__matricola__', '', '', request ) }}
				</div-->
				{% endif %}
			</div>
			</fieldset>

			{# SUBFORM CATEGORIE #}
	    	{# sub.categorie( table, 'attivita_categorie', 'categorie', site, page, pages, ietf, etc, request, session ) #}

			{% if request.__preset__.attivita.data_attivita or request.attivita.data_attivita %}

			{% if etc.procedure %}
			<fieldset>
				<legend>passi successivi nella procedura</legend>
				<div class="form-row">
				{% for b in etc.procedure %}
				<div class="col-2 text-right">
					{% if b.next_step %}{% set nstep = '$("#attivita_data_attivita").prop("required",true);$("#next_step").val( addDays( ( ( $("#attivita_data_attivita").val() != "" ) ? new Date( $("#attivita_data_attivita").val() ) : new Date() ) , "' ~ b.next_step ~ '" ) );' %}{% endif %}
					{% if b.next_label %}{% set nlbl = '$("#next_label").val("' ~ b.next_label ~ '");' %}{% endif %}
					{{ frm.button(  b.nome ,'button','btn btn-secondary btn-sm btn-block', 'submitFormOkay = true; $("#continue").val(' ~ b.id ~ '); ' ~ nstep ~ nlbl ~ ' $("#reset").val(1); $("#form-' ~ table ~ '").submit();','salva e crea una nuova attività/promemoria di tipo '~ b.__label__ ) }}
				</div>
				{% endfor %}
				</div>
			</fieldset>
			{% endif %}

			<fieldset>
				<legend>salva e inserisci una nuova attività di tipo</legend>
				<div class="form-row">
				{% for b in etc.id_tipologia_attivita_new %}
				<div class="col-2 text-right">
			<!--	    <button type="submit" class="btn btn-secondary btn-sm btn-block" onclick="'{{ pages.agenda_gestione.url[ localization.language.ietf ] }}?id_tipologia={{ b.id }}', '_self')">{{ b.__label__ }}</button> -->
					{{ frm.button(  b.__label__ ,'button','btn btn-secondary btn-sm btn-block', 'submitFormOkay = true; $("#continue").val(' ~ b.id ~ '); $("#reset").val(1); $("#form-' ~ table ~ '").submit();','salva e crea una nuova attività/promemoria di tipo '~ b.__label__ ) }}
			
				</div>
				{% endfor %}
				</div>
			</fieldset>

			{% endif %}

			{# BOTTONI E COMANDI DEL MODULO #}
			<fieldset class="form-controls mt-auto">
				{{ def.controls( page, pages, ietf, session, table, request ) }}
			</fieldset>
		</form>
    </div>
</section>



{% endblock %}
