{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/contratti.form.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

        {# MODULO PRINCIPALE #}
        <fieldset>
        <legend>dati generali <small>{{ legend }}</small></legend>
    
        <div class="form-group form-row">
<!--
            <div class="col-3 col-md">
                <span class="label-top">tipologia</span>
                {{ frm.selectRequired( table, '', '', 'id_tipologia', '', etc.select.tipologie, request ) }}
            </div>
            <div class="col-3 col-md">
                <span class="label-top">durata</span>
                {{ frm.selectRequired( table, '', '', 'id_periodicita', '', etc.select.periodicita, request ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">codice</span>
                {{ frm.input( table, '', '', 'codice', '', '', request ) }}
            </div>
-->
            <div class="col-6 col-md-auto">
                <span class="label-top">data inizio</span>
                {{ frm.date( table, '', '', 'data_inizio', '', '', request, 'now'|date('Y-m-d') ) }}
            </div>
            <div class="col-6 col-md-auto">
                <span class="label-top">data fine</span>
                {{ frm.date( table, '', '', 'data_fine', '', '', request ) }}
            </div>
        </div>
<!--
        <div class="form-group form-row">
            <div class="col">
            <span class="label-top">descrizione e note</span>
			{{ frm.textarea( table, '', '', 'note', '', 3, request ) }}
            </div>
        </div>
       
        <legend>riferimenti</legend>
        <div class="form-group form-row">
            {% if '0600.contratti' in mods.active.array %}
            <div class="col-12 col-md">
                <span class="label-top">contratto</span>
                {{ frm.selectBox( table, '', '', 'id_contratto', '', etc.select.contratti, request, '', '', '', '', '', 'contratti.form', 'contratti.form', 'contratti', 'id_contratto', page, pages, ietf, 'contratti' ) }}
            </div>
            {% endif %}
            {% if '0000.licenze' in mods.active.array %}
            <div class="col-12 col-md">
                <span class="label-top">licenza</span>
                {{ frm.selectBox( table, '', '', 'id_licenza', '', etc.select.licenze, request, '', '', '', '', '', 'licenze.form', 'licenze.form', 'licenze', 'id_licenza', page, pages, ietf, 'licenze' ) }}
            </div>
            {% endif %}
            {% if '0900.progetti' in mods.active.array %}
            <div class="col-12 col-md">
                <span class="label-top">progetto</span>
                {{ frm.selectBox( table, '', '', 'id_progetto', '', etc.select.progetti, request, '', '', '', '', '', 'progetti.produzione.form', 'progetti.produzione.form', 'progetti', 'id_progetto', page, pages, ietf, 'progetti' ) }}
            </div>
            {% endif %}
        </div>
-->
    </fieldset>

    {# BOTTONI E COMANDI DEL MODULO #}
    <fieldset class="form-controls mt-auto">
        {{ def.controls( page, pages, ietf, session, table, request ) }}
	</fieldset>
	
	</form>
    </div>
</section>

{% endblock %}
