{% import '_bin/_navigation.html' as nav %}

<!DOCTYPE html>
<html lang="{{ localization.language.ietf }}">

    <head>

        {% include '_inc/_page.head.html' %}

    </head>

    <body>

        {% include '_inc/_page.open.html' %}

        {% if page.template.menu.app|length > 0 %}
        <header class="sticky-top">
            <div class="container-fluid">
                <div class="row">
                    {% block nav %}{% include 'inc/navbar.html' %}{% endblock %}
                    {% block widget %}{% include 'inc/widget.html' %}{% endblock %}
                </div>
            </div>
        </header>
        {% endif %}

        <main class="d-flex flex-column container-fluid">

            {% block title %}
            <div class="row">
                <div class="col">
                    <h1>{{ include( template_from_string( page.h1[ localization.language.ietf ] ) | raw ) }}</h1>
                </div>
            </div>
            {% endblock %}

            {% block subnav %}{% include 'inc/subnav.html' %}{% endblock %}

            {% block main %}{% endblock %}

        </main>

        <footer class="mt-auto">
            <div class="container">
                <div class="row">
                    {% block footerdx %}{% include 'inc/footer.html' %}{% endblock %}
                </div>
            </div>
        </footer>

        {% include '_inc/_page.close.html' %}

        {% block javascript %}{% endblock %}

    </body>
</html>
