{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/documenti.form.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

        {# CAMPI SPECIALI PER MODULO RAPIDO #}
        {% set subtable = 'documenti_articoli' %}
        {{ frm.input( table, subtable, '-1', 'id_documento', '', '', '', request[ table ].id, 'hidden' ) }}
        {{ frm.input( table, subtable, '-1', 'id_tipologia', '', '', '', request[ table ].id_tipologia, 'hidden' ) }}
        {{ frm.input( table, subtable, '-1', '__reset__', '', '', '', '1', 'hidden' ) }}

	    {# MODULO RAPIDO #}
		{% if etc.note %}
		<fieldset>
			<legend>note d'invio dell'ordine</legend>
			<div class="form-group form-row">
				<div class="col">
				{{ etc.note }}
				</div>
			</div>
		</fieldset>
		{% endif %}
	    <fieldset>
			<legend>inserimento rapido riga</legend>
			<div class="form-group form-row">
				<div class="col-1">
					<span class="label-top remove-after-duplicate">quantità</span>
					{{ frm.input( table, subtable, '-1', 'quantita', '', '', request, 1 ) }}
				</div>
				{% if  session.__latest__[ subtable ].id_udm %}
					{% set default_udm = session.__latest__[ subtable ].id_udm %}
				{% endif %}
				<div class="col-auto">
					<span class="label-top remove-after-duplicate">udm</span>
					{{ frm.select( table, subtable, '-1', 'id_udm', '', etc.select.id_udm, request, default_udm ) }}
				</div>
				<div class="col">
					<span class="label-top remove-after-duplicate">articolo</span>
					{{ frm.selectBox( table, subtable, '-1', 'id_articolo', '', etc.select.id_articoli, request, '', '', '', '', 'font-awesome', 'articoli.form', 'articoli.form', 'articoli', 'id_articolo', page, pages, ietf, 'articoli' ) }}
				</div>
				<div class="col">
					<span class="label-top remove-after-duplicate">matricola</span>
					{{ frm.selectBox( table, subtable, '-1', 'id_matricola', '', etc.select.matricole, request, '', '', '', '', 'font-awesome', 'matricole.form', 'matricole.form', 'matricole', 'id_matricola', page, pages, ietf, 'matricole' ) }}
				</div>
			</div>

			{% if '0500.mastri' in mods.active.array %}
			{% if  session.__latest__[ subtable ].id_mastro_provenienza %}
				{% set default_mp = session.__latest__[ subtable ].id_mastro_provenienza %}
			{% endif %}
			<div class="form-group form-row">
				<div class="col-md-6 col">
					<span class="label-top remove-after-duplicate">scarico</span>
					{{ frm.selectBox( table, subtable, '-1', 'id_mastro_provenienza', '', etc.select.id_mastri, request, default_mp, '', '', '', 'font-awesome', 'mastri.form', 'mastri.form', 'mastri', 'id_mastro_provenienza', page, pages, ietf ) }}
				</div>
				{% if  session.__latest__[ subtable ].id_mastro_destinazione %}
					{% set default_md = session.__latest__[ subtable ].id_mastro_destinazione %}
				{% endif %}
				<div class="col-md-6 col">
					<span class="label-top remove-after-duplicate">carico</span>
					{{ frm.selectBox( table, subtable, '-1', 'id_mastro_destinazione', '', etc.select.id_mastri, request, default_md, '', '', '', 'font-awesome', 'mastri.form', 'mastri.form', 'mastri', 'id_mastro_destinazione', page, pages, ietf ) }}
				</div>
			</div>	
			{% endif %}

			<div class="form-group form-row">
				<div class="col-12" >
					<button type="sumbit" class="btn btn-secondary btn-block" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">aggiungi</button>
				</div>
			</div>
		
			<legend>status evasione ordine</legend>

			<div class="form-group form-row">
				<div class="col">
			
					<table class="view-table">
						<tr>
							<th class="table-header-static">codice</th>
							<th class="table-header-static">prodotto</th>
							<th class="table-header-static">richiesto</th>
							<th class="table-header-static">inserito</th>
							<th class="table-header-static">mancante</th>
						</tr>
						{% for row in etc.evasione %}
						<tr>
							<td>{{ row.codice_prodotto }}</td>
							<td>{{ row.prodotto }}</td>
							<td>{{ row.quantita_ordinata }} {{ row.udm }}</td>
							<td>{{ row.quantita_evasa }} {{ row.udm }}</td>
							<td>{% if row.quantita_da_evadere > 0 %}{{ row.quantita_da_evadere }} {{ row.udm }}{% else %}<i class="fa fa-check"></i>{% endif %}</td>
						</tr>
						{% endfor %}
					</table>
			
				</div>
			</div>

			<div class="form-group form-row">
				<div class="col-12" >
					<button type="button" class="btn btn-secondary btn-block" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard" onclick="window.open('{{ pages['ordini.magazzini.form.chiusura'].url[localization.language.ietf] }}?documenti[id]={{ etc.ordine.id }}&__backurl__={{ page.backurl[ ietf ] }}','_self');">concludi evasione ordine</button>
				</div>
			</div>

        </fieldset>

    </form>
</div>
</section>

{% endblock %}
