{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/default.form.pubblicazioni.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
{% set account = session.account.id %}
{% else %}
{% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
{% set method = 'update' %}
{% set activity = 'aggiornamento' %}
{% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
{% set method = 'post' %}
{% set activity = 'inserimento' %}
{% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
        <form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

            {# CAMPI HIDDEN DI BASE #}
            <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
            <input type="hidden" id="documenti_id_tipologia" name="{{ table }}[id_tipologia]" value="3">
            <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
            <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
            <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
            <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
            {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
            <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

            {# MODULO PRINCIPALE #}
            <fieldset>
                <legend>dati generali <small>{{ legend }}</small></legend>
        
                <div class="form-group form-row">
                    <div class="col-auto col-md-auto">
                        <span class="label-top">data</span>
                        {{ frm.date( table, '', '', 'data', '', '', request, 'now'|date('Y-m-d'), '', '1' ) }}
                    </div>
                    <div class="col-4 col-md-1">
                        <span class="label-top">sezionale</span>
                        {{ frm.inputRequired( table, '', '', 'sezionale', '', '', request ) }}
                    </div>
                    {% if not request[ table ].numero %}
                    <div class="col-12 col-md-auto">
                        {{ frm.button(  'OTTIENI NUMERO' ,'button','btn btn-secondary btn-sm btn-block', 'getNumeroDocumento(\'documenti_numero\',$(\'#documenti_id_emittente\').val(),$(\'#documenti_sezionale\').val(),$(\'#documenti_id_tipologia\').val());','ottieni in modo automatico il progressivo' ) }}
                    </div>
                    {% endif %}
                    <div class="col-4 col-md-1">
                        <span class="label-top">numero</span>
                        {{ frm.inputRequired( table, '', '', 'numero', '', '', request ) }}
                    </div>
                    <div class="col-md-auto col-4">
                        <span class="label-top">condizioni pagamento</span>
                        {{ frm.select( table, '', '', 'id_condizione_pagamento', '', etc.select.condizioni_pagamento, request ) }}
                    </div>
                    <div class="col-4 col-md">
                        <span class="label-top">nome</span>
                        {{ frm.inputRequired( table, '', '', 'nome', '', '', request ) }}
                    </div>
					<div class="col-md col">
						<span class="label-top">esigibilità</span>
						{{ frm.selectRequired( table, '', '', 'esigibilita', '', etc.select.esigibilita, request ) }}
					</div>
                </div>

                <div class="form-group form-row">
                    <div class="col-12">
                    <span class="label-top">note</span>
                    {{ frm.textarea( table, '', '', 'note', '', 3, request ) }}
                    </div>
                </div>

                <legend>riferimenti per la pubblica amministrazione</legend>
                <div class="form-group form-row">
                    <div class="col-4 col-md-2">
                        <span class="label-top">CIG</span>
                        {{ frm.input( table, '', '', 'cig', '', '', request ) }}
                    </div>
                    <div class="col-4 col-md-2">
                        <span class="label-top">CUP</span>
                        {{ frm.input( table, '', '', 'cup', '', '', request ) }}
                    </div>
                    <div class="col col-md">
                        <span class="label-top">documento di riferimento</span>
                        {{ frm.input( table, '', '', 'riferimento', '', '', request ) }}
                    </div>
                </div>

                <legend>dati emittente</legend>
                <div class="form-group form-row">
                    <div class="col-12 col-md">
                        <span class="label-top">emittente</span>
                        {{ frm.selectBox( table, '', '', 'id_emittente', '', etc.select.id_emittenti, request, '', '','1','','','anagrafica.form','anagrafica.form','anagrafica', 'id_emittente' , page, pages, ietf,'anagrafica' ) }}
                    </div>
                    {% if request[ table ].id %}
                    <div class="col-12 col-md-8">
                        <span class="label-top">sede mittente</span>
                        {{ frm.selectBox( table, '', '', 'id_sede_emittente', '', etc.select.id_sedi_emittente, request, '', '','','','','indirizzi.form','indirizzi.form','indirizzi', 'id_sede_emittente' , page, pages, ietf ) }}
                    </div>
                    {% endif %}
                </div>

                <legend>dati destinatario</legend>
                <div class="form-group form-row">
                    <div class="col-12 col-md">
                        <span class="label-top">destinatario</span>
                        {{ frm.selectBox( table, '', '', 'id_destinatario', '', etc.select.id_destinatari, request, '', '','1','','','anagrafica.form','anagrafica.form','anagrafica', 'id_destinatario' , page, pages, ietf, 'anagrafica' ) }}
                    </div>
                    {% if request[ table ].id %}
                    <div class="col-12 col-md-8">
                        <span class="label-top">sede destinatario</span>
                        {{ frm.selectBox( table, '', '', 'id_sede_destinatario', '', etc.select.id_sedi_destinatario, request, '', '','','','','indirizzi.form','indirizzi.form','indirizzi', 'id_sede_destinatario' , page, pages, ietf ) }}
                    </div>
                    {% endif %}
                </div>

                {% if '4180.coupon' in mods.active.array %}
                <legend>variazioni</legend>
                <div class="form-group form-row">
                    <div class="col-12 col-md">
                        <span class="label-top">coupon {% if request[table].tipologia == 'documento di reso' %} reso{% else %}sconto{% endif %}</span>
                        {{ frm.selectBox( table, '', '', 'id_coupon', '', etc.select.coupon, request, '', '', '', '', '', 'coupon.form', 'coupon.form', 'coupon', 'id_coupon', page, pages, ietf, 'coupon' ) }}
                    </div>
                </div>
                {% endif %}

                {% if archivium.profile %}
                <legend>fatturazione elettronica</legend>
                <div class="form-group form-row">
                    <div class="col-12 col-md-4">
                        <span class="label-top-disabled">codice archivium</span>
                        {{ frm.inputDisabled( table, '', '', 'codice_archivium', '', '', request ) }}	
                    </div>
                    <div class="col-12 col-md-3">
                        <span class="label-top-disabled">codice sdi</span>
                        {{ frm.inputDisabled( table, '', '', 'codice_sdi', '', '', request ) }}	
                    </div>
                    <div class="col-12 col-md">
                        <span class="label-top{% if request[ table ].codice_archivium %}-disabled{% endif %}">progressivo invio</span>
                        {% if not request[ table ].codice_archivium %}
                        {{ frm.input( table, '', '', 'progressivo_invio', '', '', request ) }}	
                        {% else %}
                        {{ frm.inputDisabled( table, '', '', 'progressivo_invio', '', '', request ) }}	
                        {% endif %}
                    </div>
                    {% if not request[ table ].codice_archivium %}
                    <div class="col-12 col-md-auto">
                        {{ frm.button(  'OTTIENI PROGRESSIVO' ,'button','btn btn-secondary btn-sm btn-block', 'getProgressivoInvioFattura(\'documenti_progressivo_invio\',$(\'#documenti_id_emittente\').val());','ottieni in modo automatico il progressivo' ) }}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            
            </fieldset>

            {# BOTTONI E COMANDI DEL MODULO #}
            <fieldset class="form-controls mt-auto">
                {{ def.controls( page, pages, ietf, session, table, request ) }}
            </fieldset>

        </form>
    </div>
</section>

{% endblock %}