{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/anagrafica.form.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
{% import '_standard.html' as std %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONE TABELLA E IMPORTAZIONE MACRO BASE #}

{% set table = etc.table %}
{% import 'bin/'~table~'.gestione.html' as sub %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}

{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
{% endif %}

{# FORM DI GESTIONE #}

<section class="row">
    <div class="col-md-12">
	<form id="form-{{ table }}" class="" action="{{ page.path[ localization.language.ietf ] }}" method="post">

	    {# CAMPI HIDDEN DI BASE #}

	    <input type="hidden" id="table" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{% if session.account.id %}{{ session.account.id }}{% else %}__null__{% endif %}">
	    {% if request.__backurl__ %}<input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">{% endif %}

	    {# MODULO PRINCIPALE #}

	    <fieldset>
		<legend>dati commerciali</legend>

		<div class="form-group form-row">
		    <label class="d-none d-md-block col-2 col-form-label text-right">agente</label>
		    <div class="col-12 col-md-10">
			{{ std.select( table, '', '', 'id_agente', '', etc.id_agente, request ) }}
		    </div>
		</div>

		<div class="form-group form-row">
		    <div class="col-12">
			{{ std.textarea( table, '', '', 'note_commerciali', 'informazioni commerciali aggiuntive (ad uso interno)', 3, request ) }}
		    </div>
		</div>
	    </fieldset>

	    <fieldset>
		<legend>condizioni di vendita</legend>

		<div class="form-group form-row">
		    <div class="col-12">
			{{ std.textarea( table, '', '', 'condizioni_vendita', 'descrizione delle condizioni di vendita applicate al cliente', 3, request, '', '', 'ckEditor', 200 ) }}
		    </div>
		</div>
	    </fieldset>

	    <fieldset>
		<legend>ranking CRM del cliente</legend>

		<div class="form-group form-row">
		    <div class="col-12">
			{{ std.select( table, '', '', 'id_tipologia_crm', '', etc.id_tipologia_crm, request ) }}
		    </div>
		</div>

	    </fieldset>

	    {{ sub.settori( table, 'anagrafica_settori', 'settori e attività', site, page, pages, localization.language.ietf, etc, request, session ) }}

	    {# BOTTONI E COMANDI DEL MODULO #}

	    <fieldset class="form-controls">
		{{ std.controls( page, pages, localization.language.ietf, session, table, request ) }}
	    </fieldset>

	</form>
    </div>
</section>

{% endblock %}

    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}