{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/anagrafica.form.informazioni.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

	    {# MODULO PRINCIPALE #}
		{% if not ( request.anagrafica.se_cliente or request.anagrafica.se_fornitore ) %}
		<fieldset>
			<legend>dati fiscali</legend>
	
			<div class="form-group form-row">
				<div class="col-12 col-md-6">
					<span class="label-top">codice fiscale</span>
					{{ frm.input( table, '', '', 'codice_fiscale', '', '', request ) }}
					</div>
				<div class="col-12 col-md-6">
					<span class="label-top">partita IVA</span>
					{{ frm.input( table, '', '', 'partita_iva', '', '', request ) }}
				</div>
			</div>
		</fieldset>
		{% endif %}

		<fieldset>
			<legend>data e luogo di nascita</legend>

			<div class="form-group form-row">
				<div class="col-auto">
					<span class="label-top">giorno</span>
					{{ frm.select( table, '', '', 'giorno_nascita', '', etc.select.giorni, request ) }}
				</div>
				<div class="col-auto">
					<span class="label-top">mese</span>
					{{ frm.select( table, '', '', 'mese_nascita', '', etc.select.mesi, request ) }}
				</div>
				<div class="col col-md-1">
					<span class="label-top">anno</span>
					{{ frm.input( table, '', '', 'anno_nascita', '', '', request ) }}
				</div>
				<div class="w-100 d-block d-md-none m-0"></div>
				<div class="col-12 col-md">
					<span class="label-top">luogo</span>
					{{ frm.input( table, '', '', 'luogo_nascita', '', '', request ) }}
				</div>
				<div class="col-12 col-md-4">
					<span class="label-top">stato</span>
					{{ frm.selectBox( table, '', '', 'id_stato_nascita', 'comune', etc.select.stati, request ) }}
				</div>
			</div>
			
<!--
			<div class="form-group form-row">
				<div class="col-12 col-md-6">
					<span class="label-top">codice fiscale</span>
					{{ frm.input( table, '', '', 'codice_fiscale', '', '', request ) }}
					</div>
				<div class="col-12 col-md-6">
					<span class="label-top">partita IVA</span>
					{{ frm.input( table, '', '', 'partita_iva', '', '', request ) }}
				</div>
			</div>
-->
	    </fieldset>

		{# SUBFORM CITTADINANZE #}
	    {{ sub.cittadinanze( table, 'anagrafica_cittadinanze', 'cittadinanze', site, page, pages, ietf, etc, request, session ) }}

	    {# BOTTONI E COMANDI DEL MODULO #}
	    <fieldset class="form-controls mt-auto">
			{{ def.controls( page, pages, ietf, session, table, request ) }}
	    </fieldset>

	</form>
    </div>
</section>

{% endblock %}
