{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI E IMPORTAZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}
{% import 'bin/anagrafica.form.sub.html' as sub %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row">
    <div class="col-md-12">
	<form id="form-{{ table }}" class="" action="{{ page.path[ ietf ] }}" method="post">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{% if session.account.id %}{{ session.account.id }}{% else %}__null__{% endif %}">
	    {% if request.__backurl__ %}<input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">{% endif %}

	    {# MODULO PRINCIPALE #}
	    <fieldset>
		<legend>dati generali <small>aggiornato {{ request[ table ][ 'timestamp_' ~ activity ]|date('Y/m/d H:i:s') }}</small></legend>

		<div class="form-group form-row">
		    <div class="col-auto">
			<span class="label-top">sigla</span>
			{{ frm.select( table, '', '', 'id_tipologia', '', etc.select.tipologie_anagrafica, request ) }}
		    </div>
		    <div class="col-12 col-md-6">
			<span class="label-top">nome</span>
			{{ frm.input( table, '', '', 'nome', 'nome (persone fisiche)', '', request ) }}
		    </div>
		    <div class="col">
			<span class="label-top">cognome</span>
			{{ frm.input( table, '', '', 'cognome', 'cognome (persone fisiche)', '', request ) }}
		    </div>
		    <div class="col-auto">
			<span class="label-top">sesso</span>
			{{ frm.selectRequired( table, '', '', 'sesso', '', etc.select.sesso, request, '', 1 ) }}
		    </div>
		</div>

		<div class="form-group form-row">
		    <div class="col-12 col-md-8">
			<span class="label-top">denominazione</span>
			{{ frm.input( table, '', '', 'denominazione', 'denominazione (persone giuridiche)', '', request ) }}
		    </div>
		    <div class="col-12 col-md-4">
			<span class="label-top">soprannome</span>
			{{ frm.input( table, '', '', 'soprannome', 'soprannome o nome convenzionale', '', request ) }}
		    </div>
		</div>

		<div class="form-group form-row">
		    <div class="col-12">
			<span class="label-top">note</span>
			{{ frm.textarea( table, '', '', 'note', 'informazioni aggiuntive (ad uso interno)', 3, request ) }}
		    </div>
		</div>

	    </fieldset>

	    {# SUBFORM INDIRIZZI E-MAIL #}
	    {{ sub.mail( table, 'mail', 'indirizzi e-mail', site, page, pages, ietf, etc, request, session ) }}

	    {# SUBFORM NUMERI DI TELEFONO #}
	    {{ sub.telefoni( table, 'telefoni', 'numeri di telefono', site, page, pages, ietf, etc, request, session ) }}

	    {# SUBFORM INDIRIZZI #}
	    {{ sub.indirizzi( table, 'indirizzi', 'sedi e indirizzi', site, page, pages, ietf, etc, request, session ) }}

	    {# SUBFORM CATEGORIE #}
	    {{ sub.categorie( table, 'anagrafica_categorie', 'categorie', site, page, pages, ietf, etc, request, session ) }}

	    {# BOTTONI E COMANDI DEL MODULO #}
	    <fieldset class="form-controls">
		{{ def.controls( page, pages, ietf, session, table, request ) }}
	    </fieldset>

	</form>
    </div>
</section>

{% endblock %}
