{% extends 'ext/main.html' %}

{% block main %}
{% if request.__delete__.conferma != 1 %}
<form id="form-delete" class="" action="{{ page.path[ localization.language.ietf ] }}" method="post">

    <input type="hidden" name="__delete__[conferma]" value="1">
    <input type="hidden" name="__delete__[target]" value="{{ request.__delete__.target }}">
    <input type="hidden" name="{{ request.__delete__.table }}[__method__]" value="delete">
    <input type="hidden" name="{{ request.__delete__.table }}[id]" value="{{ request.__delete__.id }}">

    <fieldset>
	<div class="form-group form-row">
	    <div class="col-12 text-center">
		<h4>confermi la cancellazione di:</h4>
		<h4>{{ request.__delete__.table }}</h4>
		<h3>{% if __delete__.__label__ %}{{ __delete__.__label__ }}{% else %}riga #{{ request.__delete__.id }}{% endif %}</h3>
	    </div>
	</div>
    </fieldset>

    <fieldset>
	<div class="form-group form-row">
	    <div class="col-6 text-center">
		<input type="submit" class="btn btn-secondary btn-sm" value="sì">
	    </div>
	    <div class="col-6 text-center">
		<input type="button" class="btn btn-secondary btn-sm" onclick="history.back();" value="no">
	    </div>
	</div>
    </fieldset>

</form>
{% endif %}
{% endblock %}
