{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/default.form.pubblicazioni.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
        <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

		{# MODULO PRINCIPALE #}
	
	    <fieldset>
            <legend>dati generali</legend>
    
            <div class="form-group form-row">
                <div class="col">
                    <span class="label-top">minuto</span>
                    {{ frm.input( table, '', '', 'minuto', '', '', request ) }}
                </div>
                <div class="col">
                    <span class="label-top">ora</span>
                    {{ frm.input( table, '', '', 'ora', '', '', request ) }}
                </div>
                <div class="col">
                    <span class="label-top">giorno/mese</span>
                    {{ frm.input( table, '', '', 'giorno_del_mese', '', '', request ) }}
                </div>
                <div class="col">
                    <span class="label-top">mese</span>
                    {{ frm.input( table, '', '', 'mese', '', '', request ) }}
                </div>
                <div class="col">
                    <span class="label-top">giorno/sett.</span>
                    {{ frm.input( table, '', '', 'giorno_della_settimana', '', '', request ) }}
                </div>
                <div class="col">
                    <span class="label-top">settimana</span>
                    {{ frm.input( table, '', '', 'settimana', '', '', request ) }}
                </div>
                <div class="col">
                    <span class="label-top">iterazioni</span>
                    {{ frm.input( table, '', '', 'iterazioni', '', '', request ) }}
                </div>
                <div class="col">
                    <span class="label-top">delay</span>
                    {{ frm.input( table, '', '', 'delay', '', '', request ) }}
                </div>
                <div class="col-12 col-md-5">
                    <span class="label-top">token</span>
                        {{ frm.input( table, '', '', 'token', '', '', request ) }}
                </div>
            </div>
    
            <div class="form-group form-row">
                <div class="col-12 col-md-8">
                    <span class="label-top">script da eseguire</span>
                    {{ frm.input( table, '', '', 'task', '', '', request ) }}
                </div>
                <div class="col-12 col-md-4">
                <span class="label-top">data e ora esecuzione task</span>
                {{ frm.datetime( table, '', '', 'timestamp_esecuzione', '', '', request ) }}
                </div>
            </div>

            </fieldset>
    
	    {# BOTTONI E COMANDI DEL MODULO #}
	    <fieldset class="form-controls mt-auto">
			{{ def.controls( page, pages, ietf, session, table, request ) }}
	    </fieldset>

	</form>
    </div>
</section>

{% endblock %}