<!DOCTYPE html>
<html lang="{{ localization.language.ietf }}">

    <head>

        {% include '_inc/_page.head.html' %}

    </head>

    <body>

        {% include '_inc/_page.open.html' %}

        <header class="d-flex sticky-top">
            <div class="container d-flex flex-column">
                <div class="row d-flex flex-row flex-fill">
                    {% block headersx %}{% include 'inc/header.1.html' %}{% endblock %}
                    {% block headercn %}{% include 'inc/header.2.html' %}{% endblock %}
                    {% block headerdx %}{% include 'inc/header.3.html' %}{% endblock %}
                </div>
                {% if page.template.menu.landing %}
                <div class="row d-flex flex-row flex-fill">
                    {% block nav %}{% include 'inc/navbar.html' %}{% endblock %}
                </div>
                {% endif %}
            </div>
        </header>

        <main>

            {% block carousel %}{% include 'inc/carousel.html' %}{% endblock %}

            {% block jumbotron %}{% include 'inc/jumbotron.html' %}{% endblock %}

            {% block vantaggi %}{% include 'inc/vantaggi.html' %}{% endblock %}

            {% block abstract %}{% include 'inc/abstract.html' %}{% endblock %}

            {% block video %}{% include 'inc/video.html' %}{% endblock %}

            {% block main %}{% include 'inc/main.html' %}{% endblock %}

            {% block offerta %}{% include 'inc/offerta.html' %}{% endblock %}

            {% block gallery %}{% include 'inc/gallery.html' %}{% endblock %}

            {% block contatti %}{% include 'inc/contatti.html' %}{% endblock %}

            {% block recensioni %}{% include 'inc/recensioni.html' %}{% endblock %}

            {% block garanzia %}{% include 'inc/garanzia.html' %}{% endblock %}

            {% block leads %}{% include 'inc/leads.html' %}{% endblock %}

        </main>

        <footer class="mt-auto">
            <div class="container">
                <div class="row">
                    {% block footersx %}{% include 'inc/footer.1.html' %}{% endblock %}
                    {% block footercn %}{% include 'inc/footer.2.html' %}{% endblock %}
                    {% block footerdx %}{% include 'inc/footer.3.html' %}{% endblock %}
                </div>
            </div>
        </footer>

        {% include '_inc/_page.close.html' %}

        {% block javascript %}{% endblock %}

    </body>
</html>
