{% import '_bin/_default.html' as frm %}

{% extends 'ext/main.html' %}

{% block main %}
<div class="row">
    <div class="col-12 mt-3 d-inline d-flex align-items-center justify-content-center justify-content-md-start">
        <a href='{{ pages["app.audit.controlli.crea"].url[ localization.language.ietf ] }}'
            class="btn btn-secondary">crea controllo</a>
        <div class="row">
            <hr>
            {% for audit in etc.audit %}
            <div class="col-auto">
                <span>{{audit.nome}}</span>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}