body {
    font-family: monospace;
    margin: 0px;
}

main {
    padding: 0.5em;
}

nav {
    background-color: #cccccc;
    padding: 0em;
}

footer {
    margin: 0em;
}

footer > .container > .row > .col {
    min-height: 3em;
}

footer:first-of-type {
    background-color: #cccccc;
    color: #000000;
}

footer:last-of-type {
    background-color: #aaaaaa;
    color: #000000;
}

footer p {
    margin: 0em;
    font-size: 0.8em;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4, h5 {
    font-size: 1em;
}

header {
    background: #aaaaaa;
    color: #ffffff;
}

header > .container > .row {
    min-height: 3em;
}

nav .logo img {
    height: 3em;
}

main > .container > .row {
    margin-top: 1.5em;
	margin-bottom: 1.5em;
}

div.jumbotron {
    min-height: 24em;
}

a, a:visited {
    color: #666666;
}

a:active, a:hover {
    color: #666666;
    text-decoration: underline !important;
}

footer a, a:visited {
    color: #111111;
}

footer a:active, a:hover {
    color: #111111;
    text-decoration: underline !important;
}

a.breadcrumb-link, a.breadcrumb-link:visited {
    color: #ffffff;
}

a.breadcrumb-link:active, a.breadcrumb-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.nav-icons a.nav-link {
    font-size: 1.25em;
}

a.nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

a.nav-link, a.nav-link:visited {
    color: #ffffff;
}

a.nav-link:active, a.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

ul.navbar-nav {
    list-style-type: none;
}

div.row-privacy a {
    font-weight: bold;
}

@media (max-width: 576px) {
    .nav-icons a.nav-link {
        margin-left: .75em;
    }
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}
