<div id="bookmarks" class="slide-info">
    <div class="container" id="list-bookmarks">
        {% for s in session.__work__ %}
        <div class="row">
            <div class="col">
                <h2>{{ s.label }}</h2>
            </div>
        </div>
        <span class="pb-3">
            {% for b,d in s.items %}<div class="bookmarks-row-container row">
                <div class="col"><p>{{ d.label }}</p></div>
            </div>{% endfor %}
        </span>
        {% if s.action %}
        <div class="row">
            <div class="col">
                <p><button onclick="window.open('{% if s.action.url %}{{ s.action.url }}{% else %}{{ pages[ s.action.page ].url[ localization.language.ietf ] }}{% endif %}','_self');" class="btn btn-secondary btn-sm btn-block">{{ s.action.label }}</button></p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
