<div id="jobs" class="slide-info">
    <h2>lavori attivi in foreground</h2>
    {% for job in jobs.foreground %}<div class="foreground-job-container">
        <p>#{{ job.id }} {{ job.nome }}</p>
        <div class="progress">
            <div id="jobs-foreground-{{ job.id }}" class="progress-bar progress-bar-striped progress-bar-animated foreground-job-slider bg-secondary" role="progressbar" aria-valuenow="{{ job.corrente }}" aria-valuemin="0" aria-valuemax="{{ job.totale }}" job-id="{{ job.id }}" style="width: {% if job.totale > 0 %}{{ ( job.corrente / job.totale * 100 ) | round  }}{% else %}0{%endif%}%"></div>
        </div>
    </div>{% endfor %}
</div>
