{% import '_bin/_form.html' as frm %}

<script>
  //window.addEventListener( 'DOMContentLoaded', function(){ CKEDITOR.instances['_testo'].setData('<p>Buongiorno,</p><p></p><p>Cordiali saluti<br>'); });
    formChanged = false;

    function send(){
	formChanged = false;
	var og = encodeURIComponent($('#_oggetto').val());
	var id = $('#_id').val();
	var to = encodeURIComponent($('#_destinatario').val());
	var to_cc = $('#_destinatario_cc').val();
	var to_bcc = $('#_destinatario_bcc').val();
	var from = $('#_mittente').val();
	var t = encodeURIComponent(CKEDITOR.instances['_testo'].getData());
	var file = $('div[id^="file_"]');
	
	

	const attach = [];
	var i = 0;
	file.each( function() {
		    var f = $( this );
		    var id = f.attr('id')+'_path';
			//console.log(id);
			//console.log( $('#_'+id).val() );
			if( $('#_'+id).val() != '' ){
				attach[ i++ ] = $('#_'+id).val();
			}
		});
	
	//invio la mail se tutti i campi sono compilati
	if( og !== '' && to !== '' && t !== '' && from !== ''){

	var par = "__og__="+og+"&__id__="+id+"&__from__="+from+"&__to__="+to;

	if( to_cc != '' ){ par = par + '&__to_cc__=' + to_cc; }
	if( to_bcc != '' ){ par = par + '&__to_bcc__=' + to_bcc; }
	if( attach.length > 0 ){ par += '&__attach__='+JSON.stringify(attach); }

	par = par +"&__t__='"+t+"'";
	
//window.open("{{ session.backurls[page.backurl[localization.language.ietf]]}}?&__send__=1", '_self') 
console.log(par);
	$('#send-btn').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
	getws("{{site.url}}/_src/_api/_task/_mail.send.php",par,window.open("{{ session.backurls[page.backurl[localization.language.ietf]]}}?&__send__=1", '_self') 	);
	}

	// evidezio i campi obbligatori non compilati
	if(t == ''){
	    document.getElementById("_testo").style.borderColor="#FF0000";
	}else{
	    document.getElementById("_testo").style.borderColor = "#ced4da";
	}
	if(og == ''){
	    document.getElementById("_oggetto").style.borderColor="#FF0000";
	}else{
	    document.getElementById("_oggetto").style.borderColor = "#ced4da";
	}
	if(to == ''){
	    document.getElementById("_destinatario").style.borderColor="#FF0000";
	}else{
	    document.getElementById("_destinatario").style.borderColor = "#ced4da";
	}
	if(from == ''){
	    document.getElementById("_mittente").style.borderColor="#FF0000";
	}else{
	    document.getElementById("_mittente").style.borderColor = "#ced4da";
	}
    }

</script>

<div class="modal" tabindex="-1" role="dialog" id="send" >
    <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<h5 class="modal-title">Compila ed invia mail </h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    </div>
	    <div class="modal-body">
		<div class="container-fluid">
		    <div class="form-row">
	    <input type="hidden" id="_id"  value="">

			    <label class="d-none d-md-block col-md-2 col-form-label">Mittente</label>
			<div class="col">
			    {{ frm.input(table, '', '', 'mittente', 'mail', '', request ) }}
			</div>
		    </div>
		    <div class="form-row">
			    <label class="d-none d-md-block col-md-2 col-form-label">Destinatario</label>
			<div class="col">
			    {{ frm.input(table, '', '', 'destinatario', 'mail', '', request ) }}
			</div>
		    </div>
			<div class="form-row">
			    <label class="d-none d-md-block col-md-2 col-form-label">Destinatario cc</label>
			<div class="col">
			    {{ frm.input(table, '', '', 'destinatario_cc', 'mail cc', '', request ) }}
			</div>
		    </div>
			<div class="form-row">
			    <label class="d-none d-md-block col-md-2 col-form-label">Destinatario ccn</label>
			<div class="col">
			    {{ frm.input(table, '', '', 'destinatario_bcc', 'mail bcc', '', request ) }}
			</div>
		    </div>
	        <div class="form-row">
			    <label class="d-none d-md-block col-md-2 col-form-label">Oggetto</label>
			<div class="col-10">
			    {{ frm.input(table, '', '', 'oggetto', '', '', request ) }}
			</div>
		</div>
		    <div class="form-row">
			    <label class="d-none d-md-block col-md-2 col-form-label">Testo</label><!--Buongiorno,<p></p><p>Cordiali saluti<br>'~session.account.utente -->
			    <div class="col-10">
			     <textarea id="_testo" name="w3review" rows="7" class="ckEditor form-control form-control-sm">Buongiorno,<p></p><p>Cordiali saluti<br>{{session.account.utente}}</textarea>
			</div>
		</div>
	    
		
			{% set subtable = 'file' %}
		{% set counter = 0 %}
		<fieldset id="{{ subtable }}">
			{% set require = -1 %}{# normalmente è -1 ma si può settare a 0 per richiedere almeno 1 riga, 1 per 2, eccetera #}
			{{ frm.subformLegend( subtable, 'allegati' ) }}
			{% if request[ table ][ subtable ]|length %}{% set t = request[ table ][ subtable ]|length - 1 %}
			{% else %}{% set t = require %}{% endif %}
			{% for i in -1..t %}
			{% set r = request[ table ][ subtable ][ request[ table ][ subtable ]|keys[ i ] ] %}
			{% if loop.first %}{% set disabled = 1 %}{% set dClasses = ' hidden show-on-duplicate' %}
			{% else %}{% set disabled = null %}{% set dClasses = null %}{% endif %}
			{% if session.account.id %}{% set account = session.account.id %}{% else %}{% set account = '__null__' %}{% endif %}
			{% if request[ table ][ subtable ][ i ].id %}{% set action = 'aggiornamento' %}
			{% else %}{% set action = 'inserimento' %}{% endif %}
			{% set timestamp = 'now'|date('U') %}
			<div id="{{ subtable }}_{{ i }}" class="form-sub{{ dClasses }}">
				{{ frm.input( table, subtable, i, 'id', '', '', request, '', 'hidden', '', '', disabled  ) }}
				{{ frm.input( table, subtable, i, field, '', '', '', '__parent_id__', 'hidden', '', '', disabled  ) }}
				<div class="form-group form-row">
					<div class="col-auto col-md-auto">
						{{ frm.uploader( table, subtable, i, 'path', 'file', '', request, 'var/contenuti/', site, '', pages, lang ) }}

					</div>
					{% if r.id %}
					<div class="col-auto text-right remove-on-duplicate d-print-none">
					{{ frm.trashButton( table, subtable, page, pages, r, lang, request ) }}
					</div>
					<div class="col-auto text-right show-on-duplicate d-print-none hidden">
					{{ frm.button( '<i class="fa fa-trash"></i>', 'button', 'btn-secondary btn-sqr show-on-duplicate hidden', '$( this ).closest( ".form-sub" ).remove();' ) }}
					</div>
					{% else %}
					<div class="col-auto text-right d-print-none">
					{{ frm.button( '<i class="fa fa-minus"></i>', 'button', 'btn-secondary btn-sqr', '$( this ).closest( ".form-sub" ).remove();' ) }}
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</fieldset>


        {% if etc.allegati_mail %}
                    <div class="form-row">
                    <label class="d-none d-md-block col-md-2 col-form-label">Allegati</label>
                    <div class="col-10 ">
                        <textarea id="_allegati" cols="75" rows="{{ etc.allegati_mail|length }}+1" disabled></textarea>
                    </div>
                </div>
        {% endif %}
	    </div>
	    <div class="modal-footer">
		<button type="button" class="btn btn-secondary btn-sm" id="send-btn" onclick="send();">invia</button>
		<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" >annulla</button>
	    </div>
	</div>
    </div>
</div>
