{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/ticket.form.sub.html' as sub %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

	    {# MODULO PRINCIPALE #}
	    <fieldset>
		<legend>dati generali <small>{{ legend }}</small></legend>

		
			<div class="form-group form-row">
				<div class="col-auto">
					<span class="label-top">data apertura</span>
					{{ frm.datetime( table, '', '', 'timestamp_apertura', '', '', request, 'now'|date('Y-m-d\\TH:i') ) }}
				</div>
				<div class="col-auto">
					<span class="label-top">tipologia</span>
					{{ frm.selectRequired( table, '', '', 'id_tipologia', '', etc.select.tipologie, request ) }}
				</div>
				<div class="col-12 col-md">
					<span class="label-top">nome</span>
					{{ frm.inputRequired( table, '', '', 'nome', '', '', request ) }}
				</div>
				<div class="col-12 col-md-4">
					<span class="label-top">responsabile</span>
					{{ frm.selectBox( table, '', '', 'id_anagrafica', '', etc.select.anagrafica_collaboratori, request, '', '','','','','anagrafica.form','','anagrafica', 'id_responsabile' , page, pages, ietf,'anagrafica' ) }}
				</div>
			</div>
	
			<div class="form-group form-row">
				<div class="col-12">
				<span class="label-top">descrizione</span>
				{{ frm.textarea( table, '', '', 'testo', '', 2, request, '', '1' ) }}
				</div>
			</div>
	
			</fieldset>
	
			<fieldset>
				<legend>attribuzione</legend>
		
				<div class="form-group form-row">
					<div class="col-12">
						<span class="label-top">progetto</span>
						{{ frm.selectBox( table, '', '', 'id_progetto', '', etc.select.progetti, request, '', 1,'','','','progetti.produzione.form','','progetti', 'id_progetto' , page, pages, ietf, 'progetti' ) }}
					</div>
				</div>

				{# if request[table].id #}

				<div class="form-group form-row">
					<div class="col col-md-4">
						<span class="label-top">cliente</span>
						{{ frm.selectBox( table, '', '', 'id_cliente', '', etc.select.clienti, request, etc.id_cliente, '','','','','anagrafica.form','','anagrafica', 'id_cliente' , page, pages, ietf,'anagrafica' ) }}
					</div>
					<div class="col-12 col-md">
						<span class="label-top">indirizzo</span>
						{{ frm.selectBox( table, '', '', 'id_indirizzo', '', etc.select.indirizzi, request, etc.id_indirizzo, '','','','','indirizzi.form','','indirizzi', 'id_indirizzo' , page, pages, ietf,'indirizzi' ) }}
					</div>
				</div>	

				{# endif #}

				
			</fieldset>

			{% if request[table].id %}
				{# SUBFORM CATEGORIE #}
	    		{{ sub.categorie( table, 'todo_categorie', 'categorie', site, page, pages, ietf, etc, request, session ) }}
			{% endif %}
		   
	    {# BOTTONI E COMANDI DEL MODULO #}
	    <fieldset class="form-controls mt-auto">
			{{ def.controls( page, pages, ietf, session, table, request ) }}
	    </fieldset>

	</form>
    </div>
</section>

{% endblock %}