{% extends 'ext/login.html' %}

{% block main %}
<div class="row no-gutters flex-fill align-items-center justify-content-center">
    <form action="{{ page.path[ localization.language.ietf ] }}" class="draggable-item col-4" id="form-login"
        method="post">
        <fieldset>
            <legend>gestione dati profilo</legend>
            {% if request.__profile__.__tk_sent__ %}
            <div class="form-group form-row">
                <div class="col-12 text-center col-form-static">
                    {{ request.__profile__.__tk_sent__.testo[ localization.language.ietf ] | raw }}</div>
            </div>
            {% else %}
            {% for e in request.__profile__.__err__ %}
            <div class="form-group form-row">
                <div class="col-12 text-center col-form-static">{{ e.testo[ localization.language.ietf ] | raw }}</div>
            </div>
            {% endfor %}
            {% for e in request.__profile__.__tk_ok__ %}
            <div class="form-group form-row">
                <div class="col-12 text-center col-form-static">{{ e.testo[ localization.language.ietf ] | raw }}</div>
            </div>
            {% endfor %}
            <div class="form-group form-row">
                <label class="d-none d-md-block col-md-2 col-form-label">nome</label>
                <div class="col-12 col-md-10"><input type="text" class="form-control form-control-sm"
                        name="__profile__[nome]" value="{{ request.__profile__.nome }}" placeholder="il tuo nome"
                        required></div>
            </div>
            <div class="form-group form-row">
                <label class="d-none d-md-block col-md-2 col-form-label">cognome</label>
                <div class="col-12 col-md-10"><input type="text" class="form-control form-control-sm"
                        name="__profile__[cognome]" value="{{ request.__profile__.cognome }}"
                        placeholder="il tuo cognome" required></div>
            </div>
            <div class="form-group form-row">
                <label class="d-none d-md-block col-md-2 col-form-label">e-mail</label>
                <div class="col-12 col-md-10"><input type="email" class="form-control form-control-sm"
                        name="__profile__[email]" value="{{ request.__profile__.email }}" placeholder="la tua e-mail"
                        required></div>
            </div>
            {% if google.recaptcha.profile %}
            <div class="form-group form-row">
                <div class="col-12 col-md-10 offset-md-2">
                    <div class="g-recaptcha" style="display: inline-block;"
                        data-sitekey="{{ google.recaptcha.profile.keys.public }}"></div>
                </div>
            </div>
            {% endif %}
            {{ std.checkPrivacy( 'default', registrazione, pages, tr, localization.language.ietf, '', '', '__profile__' ) }}
            <div class="form-group form-row">
                <div class="col-12"><button type="submit" class="btn btn-secondary btn-sm btn-block">aggiorna
                        dati</button></div>
            </div>
            {% endif %}
            {% if '0600.password' in mods.active.array %}
            <div class="form-group form-row">
                <div class="col-12"><a href="{{ pages['password.reset'].path[ localization.language.ietf ] }}"
                        class="btn btn-light btn-sm btn-block">vuoi cambiare la tua password?</a></div>
            </div>
            {% endif %}
            <div class="form-group form-row">
                <div class="col-12"><a href="{{ pages[ site.home ].path[ localization.language.ietf ] }}"
                        class="btn btn-light btn-sm btn-block">torna alla home page</a></div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}