body {
    background: linear-gradient(0deg, #ffffff 50%, #666666 50%);
    font-family: sans-serif;
    margin: 0px;
}

header, nav, main, footer {
    padding: 0em;
}

main > .container > .row {
    margin-top: 0.5em;
}

main p {
    margin: 0.5em 0em;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4, h5 {
    font-size: 1em;
}

.logo img {
    height: 5em;
    padding: 0.5em;
}

div.jumbotron {
    min-height: 16em;
}

a.nav-link, a.nav-link:visited {
    color: #ffffff;
}

a.nav-link:active, a.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

a, a:visited {
    color: #666666;
}

a:active, a:hover {
    color: #666666;
    text-decoration: underline !important;
}

a.breadcrumb-link, a.breadcrumb-link:visited {
    color: #ffffff;
}

a.breadcrumb-link:active, a.breadcrumb-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

main > div.container {
    background-color: #ffffff;
}

nav {
    padding: 0em;
}

.nav-link {
    display: inline;
}

footer {
    font-size: 0.8em;
    padding: 1em 0em;
}

footer p {
    margin: 0em;
}

footer > .container {
    background-color: #666666;
    color: #ffffff;
}

footer > .container > .row > .col {
    min-height: 3em;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
    footer > .container {
        background-color: #ffffff;
        color: #666666;
    }
    
}

@media (min-width: 1200px) {
    
}
