{% import '_bin/_default.html' as cms %}
{% import '_bin/_privacy.html' as prv %}

{% extends 'ext/main.html' %}

{% block main %}

{% if session.carrello.articoli %}
<form id="formCarrello" class="carrello" action="{{ pages['carrello.riepilogo'].url[ localization.language.ietf ] }}" method="post">

    {# BLOCCO ARTICOLI NEL CARRELLO #}
    <fieldset class="articoli">
        <legend>articoli nel carrello</legend>



<!--
    </fieldset>
    -->
    <!--
    -->
    <div class="form-group form-row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>articolo</th>
                    <th>prezzo</th>
                    <th>quantita</th>
                    <th>spedizione</th>
                    <th>totale</th>
                    <th>note</th>
                    <th></th>
                </tr>
                {% for articolo, dati in session.carrello.articoli  %}
                <tr>
                    <input type="hidden" id="a{{ loop.index }}" name="__carrello__[__articoli__][{{ loop.index }}][quantita]" value="{{ dati.quantita }}" />    
                    <input type="hidden" name="__carrello__[__articoli__][{{ loop.index }}][id_iva]" value="{{ dati.id_iva }}" />  
                    <input type="hidden" name="__carrello__[__articoli__][{{ loop.index }}][id_articolo]" value="{{ dati.id_articolo }}" />
    
                    <td>
                        {{ dati.id_articolo }}
                    </td>

                    <td>€ {{ dati.prezzo_lordo_totale|number_format(2, ',', '.') }}</td>
    
                    <td>{{ dati.quantita }}x</td>

                    <td>€ {{ dati.costo_spedizione_lordo|number_format(2, ',', '.') }}</td>

                    {% if dati.sconto_percentuale %}
                    <td>€ {{ dati.prezzo_lordo_finale|number_format(2, ',', '.') }}</s>  € {{ dati.prezzo_lordo_finale|number_format(2, ',', '.') }}</td>
                    {% else %}
                    <td>€ {{ dati.prezzo_lordo_finale|number_format(2, ',', '.') }}</td>
                    {% endif %}

                    <td>{{ dati.note }}</td>

                    <td>
                        {{ cms.formButton( '<i class="fa fa-trash"></i>', 'button', 'btn btn-secondary btn-sm btn-block', 'var forceValid = 1; $("#a' ~ loop.index ~ '").val("0"); $("#formCarrello").attr("action","' ~ page.url[ localization.language.ietf ] ~ '");','', '', 'formCarrello', google.profile.recaptcha, '__carrello__', '', 'Elimina' ~ loop.index, 1 ) }}
                    </td>

                </tr>
                {% endfor %}

                <tr>
                    <td>modalità di pagamento</td>
                    <td colspan="2">
                        <select class="form-control form-control-sm hint-toggle" id="costo-pagamento" hint-toggle="modalita_pagamento" name="__carrello__[provider_pagamento]">
                            {% for cons in ecommerce.profile.provider %}
                            {% if cons.available %}
                            <option value="{{ cons.id }}" min="{{ cons.importo_min }}" max="{{ cons.importo_max }}" prezzo="{{ cons.prezzo }}" relativo="{{ cons.prezzo_relativo }}" {% if cons.id == session.carrello.provider_pagamento %}selected{% endif %}>{{ cons.__label__ }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>modalità di fatturazione</td>
                    <td>
                        <select class="form-control form-control-sm hint-toggle" id="tipologia-documento-fatturazione" hint-toggle="tipologia_documento_fatturazione" name="__carrello__[fatturazione_id_tipologia_documento]">
                            {% for tdoc in etc.id_tipologia_documenti %}
                            <option value="{{ tdoc.id }}" require="{{ tdoc.require }}" {% if tdoc.id == session.carrello.fatturazione_id_tipologia_documento %}selected{% endif %}>{{ tdoc.__label__ }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-control form-control-sm hint-toggle" id="strategia-fatturazione" hint-toggle="strategia_fatturazione" name="__carrello__[fatturazione_strategia]">
                            {% for strf in etc.strategie_fatturazione %}
                            <option value="{{ strf.id }}" {% if strf.id == session.carrello.fatturazione_strategia %}selected{% endif %}>{{ strf.__label__ }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>codice sconto</td>
                    <td colspan="2">
                        <input class="form-control form-control-sm text-right quantita" type="text" id="coupon" name="__carrello__[codice_coupon]" value="{{ session.carrello.codice_coupon }}">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{ cms.formButton( 'APPLICA SCONTO', 'button', 'btn btn-secondary btn-sm btn-block', 'var forceValid = 1; $("#formCarrello").attr("action","' ~ page.url[ localization.language.ietf ] ~ '"); $("#formCarrello").submit();','', '', 'formCarrello', google.profile.recaptcha, '__carrello__', '', 'ApplicaSconto', 1 ) }}
                    </td>
                </tr>

                <tr>
                    <td><b>totale</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>€ {% if session.carrello.sconto_percentuale %}{{ session.carrello.prezzo_lordo_totale|number_format(2, ',', '.') }}{% else %}{{ session.carrello.prezzo_lordo_finale|number_format(2, ',', '.') }}{% endif %}</b></td>
                    <td></td>
                    <td></td>
                </tr>
                {% if session.carrello.sconto_percentuale %}
                <tr>
                    <td><b>sconto </b></td>
                    <td><b>€ {{ (session.carrello.sconto_percentuale * session.carrello.prezzo_lordo_totale / 100)|number_format(2, ',', '.') }}</b></td>
                    <td></td>
                    <td><b>{{ session.carrello.note }}</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>totale scontato</b></td>
                    <td><b>€ {{ session.carrello.prezzo_lordo_finale|number_format(2, ',', '.') }}</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            {{ cms.formButton( 'RICALCOLA CARRELLO', 'button', 'btn btn-secondary btn-sm btn-block', 'var forceValid = 1; $("#formCarrello").attr("action","' ~ page.url[ localization.language.ietf ] ~ '");','', '', 'formCarrello', google.profile.recaptcha, '__carrello__', '', 'Ricalcola', 1 ) }}
        </div>
    </div>

    {# BLOCCO DATI DEL CARRELLO #}
    <fieldset class="dati">
        <legend>intestazione ordine</legend>
        <div class="form-row">
			<div class="col-auto">
			    <label class="label-top">persona</label>
			    <select class="form-control form-control-sm" id="intestazione_id_tipologia_anagrafica" name="__carrello__[intestazione_id_tipologia_anagrafica]" required>
				{% for tana in etc.id_tipologia_anagrafica %}
				<option value="{{ tana.id }}"{% if tana.id == session.carrello.intestazione_id_tipologia_anagrafica %} selected{% endif %}>{{ tana.__label__ }}</option>
				{% endfor %}
			    </select>
			</div>
            <div class="col">
                <label class="label-top">nome</label>
                <input class="form-control form-control-sm" id="intestazione_nome" type="text" name="__carrello__[intestazione_nome]" value="{{ session.carrello.intestazione_nome }}" required>
            </div>
            <div class="col">
                <label class="label-top">cognome</label>
                <input class="form-control form-control-sm" id="intestazione_cognome" type="text" name="__carrello__[intestazione_cognome]" value="{{ session.carrello.intestazione_cognome }}" required>
            </div>
        </div>
        <div class="form-row">
			<div class="col-6">
			    <label class="label-top">ragione sociale (solo aziende)</label>
			    <input class="form-control form-control-sm" id="intestazione_denominazione" type="text" name="__carrello__[intestazione_denominazione]" value="{{ session.carrello.intestazione_denominazione }}">
			</div>
			<div class="col-6 col-md-3">
			    <label class="label-top">codice SDI (solo aziende)</label>
			    <input class="form-control form-control-sm" id="intestazione_sdi" type="text" name="__carrello__[intestazione_sdi]" value="{{ session.carrello.intestazione_sdi }}">
			</div>
			<div class="col-6 col-md-3">
			    <label class="label-top">indirizzo PEC (solo aziende)</label>
			    <input class="form-control form-control-sm" id="intestazione_pec" type="text" name="__carrello__[intestazione_pec]" value="{{ session.carrello.intestazione_pec }}">
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
			    <label class="label-top">codice fiscale</label>
			    <input class="form-control form-control-sm" id="intestazione_codice_fiscale" type="text" name="__carrello__[intestazione_codice_fiscale]" value="{{ session.carrello.intestazione_codice_fiscale }}" required>
			</div>
			<div class="col-6">
			    <label class="label-top">partita IVA</label>
			    <input class="form-control form-control-sm" id="intestazione_partita_iva" type="text" name="__carrello__[intestazione_partita_iva]" value="{{ session.carrello.intestazione_partita_iva }}">
			</div>
	    </div>
	    <div class="form-row">
			<div class="col-9 col-md-5">
			    <label class="label-top">indirizzo</label>
			    <input class="form-control form-control-sm" id="intestazione_indirizzo" type="text" name="__carrello__[intestazione_indirizzo]" value="{{ session.carrello.intestazione_indirizzo }}" required>
			</div>
			<div class="col-3 col-md-1">
			    <label class="label-top">CAP</label>
			    <input class="form-control form-control-sm" id="intestazione_cap" type="text" name="__carrello__[intestazione_cap]" value="{{ session.carrello.intestazione_cap }}" required>
			</div>
			<div class="col-7 col-md-3">
			    <label class="label-top">città</label>
			    <input class="form-control form-control-sm" id="intestazione_citta" type="text" name="__carrello__[intestazione_citta]" value="{{ session.carrello.intestazione_citta }}" required>
			</div>
            {% if session.carrello.intestazione_id_stato == 1 %}
			<div class="col-5 col-md-2">
			    <label class="label-top">provincia</label>
			    <select class="form-control form-control-sm" id="intestazione_id_provincia" name="__carrello__[intestazione_id_provincia]" required>
				{% for prov in etc.id_provincia %}
				<option value="{{ prov.id }}"{% if prov.id == session.carrello.intestazione_id_provincia %} selected{% endif %}>{{ prov.__label__ }}</option>
				{% endfor %}
			    </select>
			</div>
            {% endif %}
			<div class="col-5 col-md">
			    <label class="label-top">nazione</label>
			    <select class="form-control form-control-sm" id="intestazione_id_stato" name="__carrello__[intestazione_id_stato]" onchange="var forceValid = 1; $('#formCarrello').attr('action','{{ page.url[ localization.language.ietf ] }}'); $('#formCarrello').submit();" required>
				{% for stato in etc.id_stato %}
				<option value="{{ stato.id }}"{% if stato.id == session.carrello.intestazione_id_stato %} selected{% endif %}>{{ stato.__label__ }}</option>
				{% endfor %}
			    </select>
			</div>
		</div>
	    <div class="form-row">
			<div class="col-6">
			    <label class="label-top">telefono</label>
			    <input class="form-control form-control-sm" id="intestazione_telefono" type="tel" name="__carrello__[intestazione_telefono]" value="{{ session.carrello.intestazione_telefono }}" required>
			</div>
			<div class="col-6">
			    <label class="label-top">e-mail</label>
			    <input class="form-control form-control-sm" id="intestazione_mail" type="email" name="__carrello__[intestazione_mail]" value="{{ session.carrello.intestazione_mail }}" required>
			</div>
		</div>
	</fieldset>

    {# CHECKBOX CONDIZIONI E PRIVACY #}
    {{ prv.checkConsensi( '__carrello__', '', ecommerce.condizioni.vendita, localization.language.ietf, tr, pages, session ) }}
    {{ prv.checkConsensi( '__carrello__', '', privacy.moduli.ecommerce, localization.language.ietf, tr, pages, session ) }}

    {# CONTROLLI DEL CARRELLO #}
    <fieldset class="conferma">
        <div class="form-row">
            <div class="col">
                {{ cms.formButton( 'CONFERMA ORDINE', 'button', 'btn btn-secondary btn-sm btn-block', '', '', '', 'formCarrello', google.profile.recaptcha, '__carrello__', '' ) }}
            </div>
        </div>
    </fieldset>

</form>
{% else %}
<p>non ci sono articoli nel carrello</p>
{% endif %}

{% endblock %}
