{% import '_bin/_default.html' as cms %}

{% extends 'ext/main.html' %}

{% block main %}

<h2></h2>
{% if etc.esito == 1 %}
    <p>{{ trn.tr({ 'w': 'esito_pagamento_buon_fine', 'l': ietf, 'v': tr.generic }) }}</p>
{% elseif etc.esito == 2 %}
    <p>{{ trn.tr({ 'w': 'ordine_in_lavorazione', 'l': ietf, 'v': tr.generic }) }}!</p>
{% else %}
    <p>{{ trn.tr({ 'w': 'esito_pagamento_negativo', 'l': ietf, 'v': tr.generic }) }}, <a href="{{ pages.carrello.url[ localization.language.ietf ] }}">{{ trn.tr({ 'w': 'torna_carrello_riprova', 'l': ietf, 'v': tr.generic }) }}</a></p>
{% endif %}

{% endblock %}
