{% import '_bin/_default.html' as cms %}

{% extends 'ext/main.html' %}

{% block main %}

{% if etc.esito == session.carrello.id %}
    <h2>ordine piazzato correttamente!</h2>
    {% if session.carrello.provider_pagamento == 'bonifico' %}
    <p>Per completare l'ordine effettuare un bonifico bancario di € <span>{{ session.carrello.prezzo_lordo_finale }}</span> a:</p>
    <ul>
        <li>banca: <span></span></li>
        <li>indirizzo: <span></span></li>
        <li>IBAN: <span></span></li>
        <li>codice SWIFT: <span></span></li>
        <li>causale: <span>ordine #{{ session.carrello.id }}</span></li>
    </ul>
    <p>Per accelerare l'evasione del tuo ordine puoi inviarci una copia della contabile all'indirizzo <span></span>.</p>
    {% endif %}
{% else %}
    <h2>errore nella conferma dell'ordine</h2>
    <p>puoi ritentare tornando al carrello e provando un altro metodo di pagamento oppure contattarci per ottenere supporto</p>
{% endif %}

{% endblock %}
