{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

    <form id="form-filtro" class="form-main form-horizontal d-flex flex-column flex-fill warning-if-changed" action="{{ page.path[ localization.language.ietf ] }}" method="post">
        <div class="form-row view-filters d-print-none">
            <div class="col-12 col-md-auto">
            <span class="label-top">mese</span>
            <select name="__view__[{{ view.id }}][__filters__][mese][EQ]" onchange="$('#pager').val('0'); formChanged=false; submitFormOkay=true; submit();" class="form-control form-control-sm">
            {% for idmese, nomemese in etc.select.mesi %}
                <option value="{{ idmese }}" {% if request.__view__[ view.id ].__filters__.mese.EQ == idmese %}selected{% endif %}>{{ nomemese }}</option>
            {% endfor %}
            </select>
            </div>

            <div class="col-12 col-md-auto">
                <span class="label-top">anno</span>
                <select name="__view__[{{ view.id }}][__filters__][anno][EQ]" onchange="$('#pager').val('0'); formChanged=false; submitFormOkay=true; submit();" class="form-control form-control-sm">
                {% for idanno, nomeanno in etc.select.anni %}
                    <option value="{{ idanno }}" {% if request.__view__[ view.id ].__filters__.anno.EQ == idanno %}selected{% endif %}>{{ nomeanno }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="col-12 col-md-auto">
                <span class="label-top">operatore</span>
                <select name="__view__[{{ view.id }}][__filters__][id_anagrafica][EQ]" onchange="$('#pager').val('0'); formChanged=false; submitFormOkay=true; submit();" class="form-control form-control-sm">
                    <option value="" {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == "" %}selected{% endif %}>&nbsp;</option>
                {% for operatore  in etc.select.operatori %}
                    <option value="{{ operatore.id }}" {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ == operatore.id %}selected{% endif %}>{{ operatore.__label__ }}</option>
                {% endfor %}
                </select>
            </div>

        </div>

        <div class="form-row">
            <div class="col-md-12 text-center table-responsive">
                <table class="view-table cartellini">
                    <thead>
                        <tr>
                            <th>data</th>
                            {% for t in etc.tipologie_attivita_inps %}
                            <th>{{ t.__label__ }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for k,v in etc.ore %}
                        <tr>
                            <td>{{ v.data }}</td>
                            {% for t in etc.tipologie_attivita_inps %}
                            {% if v.tipologie_inps[ t.id ] %}
                             <td style="cursor: pointer" onclick="window.open('{{ pages['attivita.view'].url[ localization.language.ietf ]~'?__view__['~view.id~'][__filters__][giorno][EQ]='~k~'&__view__['~view.id~'][__filters__][mese][EQ]='~request.__view__[ view.id ].__filters__.mese.EQ~'&__view__['~view.id~'][__filters__][anno][EQ]='~request.__view__[ view.id ].__filters__.anno.EQ~'&__view__['~view.id~'][__filters__][id_anagrafica][EQ]='~request.__view__[ view.id ].__filters__.id_anagrafica.EQ~'&__view__['~view.id~'][__filters__][id_tipologia_inps][EQ]='~t.id }}','_self');"> 
                        <!--    <td><a href="{{ pages['attivita.view'].url[ localization.language.ietf ]~'?__view__['~view.id~'][__filters__][giorno][EQ]='~k~'&__view__['~view.id~'][__filters__][mese][EQ]='~request.__view__[ view.id ].__filters__.mese.EQ~'&__view__['~view.id~'][__filters__][anno][EQ]='~request.__view__[ view.id ].__filters__.anno.EQ~'&__view__['~view.id~'][__filters__][id_anagrafica][EQ]='~request.__view__[ view.id ].__filters__.id_anagrafica.EQ }}">    -->
                            <div>{{ v.tipologie_inps[ t.id ] }}</div></a>
                            {% else %}
                            <td><input type="number" class="form-control form-control-sm" step="0.5" name="__cartellini__[{{ k }}_{{ t.id }}]">
                            {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        {# BOTTONI E COMANDI DEL MODULO #}
        {% if request.__view__[ view.id ].__filters__.id_anagrafica.EQ %}
	    <fieldset class="form-controls mt-auto">
            <div class="row no-gutters d-print-none">
                <div class="col-auto col-md-5">
	                <button type="button" class="btn btn-sm btn-secondary" onclick="window.open(&quot;&quot;,&quot;_self&quot;)" placeholder="torna indietro senza salvare le modifiche" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="" data-original-title="torna indietro senza salvare le modifiche"><i class="fa fa-undo"></i></button>
                </div>
                <div class="col col-md-2 text-center"></div>
                <div class="col-auto col-md-5 text-right">
                    <div class="row">
                        <div class="col">
                            <button type="submit" style="width: auto; padding-left: 10px; padding-right: 10px" class="btn btn-sm btn-secondary" onclick="submitFormOkay = true;" placeholder="salva e rimani nella pagina attuale" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="" data-original-title="salva e rimani nella pagina attuale">SALVA CARTELLINO</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {% endif %}
    
    </form>
    </div>
</section>

{% endblock %}
