{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}


{# FORM DI GESTIONE #}

<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

        <div class="form-row mt-2">
            <div class="col-md-12 table-responsive">
                <table class="view-table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>data attività</th>
                            <th>ora inizio</th>
                            <th>ora fine</th>
							<th>progetto</th>
							<th>tipologia inps</th>
							<th>ore complessive</th>
                            <th>ore ordinarie</th>
							<th>ore straordinarie</th>
                            <!--
                                <th>blocchi (es. il cliente non vuole quell'operatore)</th>
                            -->
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for a in etc.attivita %}
                        <tr style="cursor: pointer" onclick="window.open('{{ pages['attivita.form'].path[ ietf ]~'?attivita[id]='~a.id }}{% if page.backurl %}&__backurl__={{ page.backurl[ localization.language.ietf ] }}{% endif %}', '_self');">
                            <td class="text-left">{{ a.id }}</td>
                            <td>{{ a.data_attivita }}</td>
                            <td>{{ a.ora_inizio }}</td>
                            <td>{{ a.ora_fine }}</td>
                            <td>{{ a.progetto }}</td>
							<td>{{ a.tipologia_inps }}</td>
							<td>{{ a.ore }}</td>
							<td>{{ a.ore_ordinarie }}</td>
							<td>{{ a.ore_straordinarie }}</td>         
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

{% endblock %}