{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/ritiro.hardware.sub.html' as sub %}

{% extends 'ext/blank.html' %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{% block header %}
<div class="text-left">
        {% set target = pages.casse.url[ ietf ] %}
        <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open( '{{ target }}', '_self' );" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
</div>
{% endblock %}

{% block main %}


{% set
    trans_day_hash = {
        "Monday": "lunedì", 
        "Tuesday": "martedì", 
        "Wednesday": "mercoledì", 
        "Thursday": "giovedì", 
        "Friday": "venerdì", 
        "Saturday": "sabato", 
        "Sunday": "domenica" 
    }
%}

{% set
    trans_month_hash = {
        "01": "gennaio",
        "02": "febbraio",
        "03": "marzo",
        "04": "aprile",
        "05": "maggio",
        "06": "giugno",
        "07": "luglio",
        "08": "agosto",
        "09": "settembre",
        "10": "ottobre",
        "11": "novembre",
        "12": "dicembre"
    }
%}

<legend>soluzioni</legend>
{% for data,eventi_per_data in etc.agenda_soluzioni %}

<fieldset class="static-history">
<legend>{{ trans_day_hash[data|date('l', "Europe/Rome")] }} {{ data|date('d') }} {{ trans_month_hash[data|date('m')] }} {{ data|date('Y') }}</legend>

    {% for ora,eventi_per_ora in eventi_per_data %}
    {% for e in eventi_per_ora %}
    <div class="form-row agenda-row">
	<div class="col-1 lemma text-right">
	    <p>{% if ora != ora_old %}{{ ora|date(' H:i') }}{% else %}&mdash;{% endif %}</p>
	</div>
	<div class="col">
	    <div class="form-row">
		<div class="col">
		    <p>{{ e.tipologia }} &mdash; {{ e.anagrafica }} <i class="fa fa-comments-o" aria-hidden="true"></i> {{ e.mandante }} {{ e.referente }} </p>
		    {% if e.id_cliente %}<p>cliente: <a href="{{ pages["anagrafica.form"].url[ localization.language.ietf ] }}?anagrafica[id]={{ e.id_cliente }}" target="_blank" > {{ e.cliente }}</a></p>{% endif %}
		    <p>{{ e.nome }}</p>
		    <p>{{ e.testo }}</p>
		</div>

		<div class="col-auto metro">
		    <a onclick="window.open('{{ pages[ "attivita.form" ].url[ localization.language.ietf ] }}?attivita[id]={{ e.id }}&__backurl__={{ page.backurl[ localization.language.ietf ] }}','_self');">
			<div class="media">
			    <div class="media-body">
				<h5 class="media-text">modifica / concludi attività</h5>
			    </div>
			</div>
		    </a>
		</div>


	    </div>
	</div>
    </div>
    {% set ora_old = ora %}
    {% endfor %}
    {% endfor %}

</fieldset>
{% endfor %}

<legend>collaudi</legend>
{% for data,eventi_per_data in etc.agenda_collaudo %}

<fieldset class="static-history">
<legend>{{ trans_day_hash[data|date('l', "Europe/Rome")] }} {{ data|date('d') }} {{ trans_month_hash[data|date('m')] }} {{ data|date('Y') }}</legend>

    {% for ora,eventi_per_ora in eventi_per_data %}
    {% for e in eventi_per_ora %}
    <div class="form-row agenda-row">
	<div class="col-1 lemma text-right">
	    <p>{% if ora != ora_old %}{{ ora|date(' H:i') }}{% else %}&mdash;{% endif %}</p>
	</div>
	<div class="col">
	    <div class="form-row">
		<div class="col">
		    <p>{{ e.tipologia }} &mdash; {{ e.anagrafica }} <i class="fa fa-comments-o" aria-hidden="true"></i> {{ e.mandante }} {{ e.referente }} </p>
		    {% if e.id_cliente %}<p>cliente: <a href="{{ pages.anagrafica_gestione.url[ localization.language.ietf ] }}?anagrafica[id]={{ e.id_cliente }}" target="_blank" > {{ e.cliente }}</a></p>{% endif %}
		    <p>{{ e.nome }}</p>
		    <p>{{ e.testo }}</p>
		</div>

		<div class="col-auto metro">
		    <a onclick="window.open('{{ pages.agenda_gestione.url[ localization.language.ietf ] }}?attivita[id]={{ e.id }}','_self');">
			<div class="media">
			    <div class="media-body">
				<h5 class="media-text">modifica / concludi attività</h5>
			    </div>
			</div>
		    </a>
		</div>


	    </div>
	</div>
    </div>
    {% set ora_old = ora %}
    {% endfor %}
    {% endfor %}

</fieldset>
{% endfor %}

<legend>feedback</legend>
{% for data,eventi_per_data in etc.agenda_feedback %}

<fieldset class="static-history">
<legend>{{ trans_day_hash[data|date('l', "Europe/Rome")] }} {{ data|date('d') }} {{ trans_month_hash[data|date('m')] }} {{ data|date('Y') }}</legend>

    {% for ora,eventi_per_ora in eventi_per_data %}
    {% for e in eventi_per_ora %}
    <div class="form-row agenda-row">
	<div class="col-1 lemma text-right">
	    <p>{% if ora != ora_old %}{{ ora|date(' H:i') }}{% else %}&mdash;{% endif %}</p>
	</div>
	<div class="col">
	    <div class="form-row">
		<div class="col">
		    <p>{{ e.tipologia }} &mdash; {{ e.anagrafica }} <i class="fa fa-comments-o" aria-hidden="true"></i> {{ e.mandante }} {{ e.referente }} </p>
		    {% if e.id_cliente %}<p>cliente: <a href="{{ pages.anagrafica_gestione.url[ localization.language.ietf ] }}?anagrafica[id]={{ e.id_cliente }}" target="_blank" > {{ e.cliente }}</a></p>{% endif %}
		    <p>{{ e.nome }}</p>
		    <p>{{ e.testo }}</p>
		</div>

		<div class="col-auto metro">
		    <a onclick="window.open('{{ pages.agenda_gestione.url[ localization.language.ietf ] }}?attivita[id]={{ e.id }}','_self');">
			<div class="media">
			    <div class="media-body">
				<h5 class="media-text">modifica / concludi attività</h5>
			    </div>
			</div>
		    </a>
		</div>


	    </div>
	</div>
    </div>
    {% set ora_old = ora %}
    {% endfor %}
    {% endfor %}

</fieldset>
{% endfor %}

{% endblock %}