{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/ritiro.hardware.sub.html' as sub %}

{% extends 'ext/blank.html' %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{% block header %}
<div class="text-left">
        {% set target = pages.casse.url[ localization.language.ietf ] %}
        <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open( '{{ target }}', '_self' );" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
</div>
{% endblock %}
{% block line %}
{% if session.contatto  %}
<div class="row d-flex align-items-center" style="color: white; background-color: #343A40; padding: 5px;padding-right: 30px;padding-left: 15px;">
    <div class="col"><h3>{{ session.contatto.nome }}</h3></div>
    <div class="text-right" >
        <button class="btn btn-light" onclick='window.open("{{ pages[ 'contatti.form' ].url[ localization.language.ietf ] }}?contatti[id]={{session.contatto.id }}&__backurl__={{page.backurl[ietf]}}", "_self")'>modifica</button> 
        <button class="btn btn-light" onclick='window.open("{{ pages.contatti.url[ localization.language.ietf ] }}?__unset__", "_self")'>inserisci nuovo</button> 
    </div>
</div>
{% endif %}
{% endblock %}
{% block main %}


{% set
    trans_day_hash = {
        "Monday": "lunedì", 
        "Tuesday": "martedì", 
        "Wednesday": "mercoledì", 
        "Thursday": "giovedì", 
        "Friday": "venerdì", 
        "Saturday": "sabato", 
        "Sunday": "domenica" 
    }
%}

{% set
    trans_month_hash = {
        "01": "gennaio",
        "02": "febbraio",
        "03": "marzo",
        "04": "aprile",
        "05": "maggio",
        "06": "giugno",
        "07": "luglio",
        "08": "agosto",
        "09": "settembre",
        "10": "ottobre",
        "11": "novembre",
        "12": "dicembre"
    }
%}

<fieldset  {% if session.contatto %}style="margin-top: 45px;" {% endif %} >
    <legend>nuovo promemoria</legend>
    <div class="form-row">
	{% for b in etc.id_tipologia_attivita %}
	<div class="col-2 text-right">
	    <button type="button" class="btn btn-secondary btn-sm btn-block" onclick="window.open('{{ pages["agenda.form"].url[ localization.language.ietf ] }}?__preset__[attivita][id_tipologia]={{ b.id }}&__backurl__={{ page.backurl[ localization.language.ietf ] }}', '_self')">{{ b.__label__ }}</button>
	</div>
	{% endfor %}
    </div>
</fieldset>

{% for data,eventi_per_data in etc.agenda %}

<fieldset class="static-history">
{% if data %}
<legend>{{ trans_day_hash[data|date('l', "Europe/Rome")] }} {{ data|date('d') }} {{ trans_month_hash[data|date('m')] }} {{ data|date('Y') }}</legend>
{% else  %}
<legend>da fissare</legend>
{% endif %}
    {% for ora,eventi_per_ora in eventi_per_data %}
    {% for e in eventi_per_ora %}
    <div class="form-row agenda-row" onclick="window.open('{{ pages[ "agenda.form" ].url[ localization.language.ietf ] }}?attivita[id]={{ e.id }}&__backurl__={{ page.backurl[ localization.language.ietf ] }}','_self');" style="cursor: pointer;">
	<div class="col-1 lemma text-right">
	    <p>{% if ora != ora_old %}{{ ora|date(' H:i') }}{% else %}&mdash;{% endif %}</p>
	</div>
	<div class="col">
	    <div class="form-row">
            <div class="col">
                {% if e.id_todo %}<p><b>{{ e.todo }}</b>{% endif %}
                <p>{% if e.tipologia  %}<b>{{ e.tipologia }}</b>: {% endif %}<span >{{ e.nome }}</span> &mdash; <b>{{ e.anagrafica }}</b> <i class="fa fa-comments-o" aria-hidden="true"></i> {{ e.mandante }} {{ e.referente }} 
                {% if e.id_cliente %}<b>{{ e.cliente }}</b></span><span style="font-weight:normal;">{% if e.telefoni %} <i class="fa fa-phone" aria-hidden="true"></i> {{e.telefoni}} {% endif %}{% if e.mail %} <i class="fa fa-envelope" aria-hidden="true"></i> {{e.mail}}{% endif %}</span> </p> {% endif %}
                <p>{{ e.note_programmazione }}</p>
            </div>




	    </div>
	</div>
    </div>
    {% set ora_old = ora %}
    {% endfor %}
    {% endfor %}

</fieldset>
{% endfor %}

{% endblock %}