{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/ritiro.hardware.sub.html' as sub %}

{% extends 'ext/blank.html' %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{% block header %}
<div class="text-left">
        {% set target = pages.casse.url[ localization.language.ietf ] %}
        <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open( '{{ target }}', '_self' );" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
</div>
{% endblock %}

{% block main %}
{% if request[ table ].id %}
{% set method = 'update' %}
{% set activity = 'aggiornamento' %}
{% else %}
{% set method = 'post' %}
{% set activity = 'inserimento' %}
{% endif %}
{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
		<input type="hidden" id="id" name="{{ table }}[id]" value="{{ session.contatto.id }}">
        <input type="hidden" id="nome" name="{{ table }}[nome]" value="contatto in cassa del {{ 'now'|date('d/m/Y') }} alle {{ 'now'|date('H:i') }}">

	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">


       
        <section>
            <legend>provenienza</legend>
            <div class="form-row">
                <div class="col-12 col-md-6 mt-2">
                    <span class="label-top">barcode campagna</span>
                    {{ frm.input( table, '', '', '__barcode__', '', '', '', '', '' ) }}
                </div>

                <div class="col-12 col-md-6  mt-2">
                    <span class="label-top">campagna</span>
                    {{ frm.selectBox( table, '', '', 'id_campagna', '', etc.select.campagne, request, '', '', '1', '', '', '', '', '', '', page, pages, ietf, 'campagne' ) }}
                </div>
            </div>    
            <div class="form-row">

                <div class="col-12 col-md-6 mt-2">
                    <span class="label-top">tipologia</span>
                    {{ frm.selectRequired( table, '', '', 'id_tipologia', '', etc.select.tipologie, request, '1' ) }}
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <span class="label-top">segnalatore</span>
                    {{ frm.selectBox( table, '', '', 'id_segnalatore', '', etc.select.anagrafica, request, '', '', '', '', '', 'anagrafica.form', 'anagrafica.form', 'anagrafica', 'id_segnalatore', page, pages, ietf, 'anagrafica' ) }}
                </div>
            </div>

            <legend>dati contatto</legend>
           
          <div class="form-row">
                <div class="col-6 col-md-auto">
                    <span class="label-top">data</span>
                    {{ frm.date( table, '', '', 'data_contatto', '', '', request, "now"|date('Y-m-d') ) }}
                </div>
                <div class="col-2 col-md-1">
                    <span class="label-top">ora</span>
                    {{ frm.time( table, '', '', 'ora_contatto', '', '', request, "now"|date('H:i')) }} 
                </div>
            <div class="col-12 col-md">
                <span class="label-top">cliente</span>
                {{ frm.selectBox( table, '', '', 'id_anagrafica', '', etc.select.anagrafica, request, etc.id_cliente, '', '', '', '', 'anagrafica.form', 'anagrafica.form', 'anagrafica', 'id_anagrafica', page, pages, ietf, 'anagrafica' ) }}
            </div>
        </div>
        <!--div class="form-row">
            <div class="col-12  mt-2">
                <span class="label-top">nome</span>
                {{ frm.input( table, '', '', 'nome', '', '', request ) }}
            </div>
        </div-->
        <div class="form-row">
            <div class="col-12  mt-2">
            <span class="label-top">note</span>
            {{ frm.textarea( table, '', '', 'note', '', 3, request ) }}
        </div>
        </div>
        </section>

		<fieldset>
			<div class="col-12 mt-3 cassa fixed-bottom d-flex justify-content-between" style="margin-bottom: 1%;" >
                {% if not request[ table ].id %}<div>{% endif %}
                {% if request[ table ].id %}
                <div>

                    {% set progetto = 'progetti.produzione.form' %}
                    <button type="button" class="btn-lg btn-secondary" onclick="window.open('{{ pages[ progetto ].url[ localization.language.ietf ] }}?__preset__[progetti][id_cliente]={{request[ table ].id }}&__backurl__={{ page.backurl[ ietf ] }}', '_self')"  data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">crea progetto</button>	
                    <button type="button" class="btn-lg btn-secondary" onclick="window.open('{{ pages.assistenza.url[ localization.language.ietf ] }}?__contatto__={{request[ table ].id }}', '_self')"  data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">crea assistenza</button>	
                    <button type="button" class="btn-lg btn-secondary" onclick="window.open('{{ pages.fornitura.url[ localization.language.ietf ] }}?__contatto__={{request[ table ].id }}', '_self')"  data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">crea fornitura</button>	
                    <button type="button"  class="btn-lg btn-secondary" onclick="window.open('{{ pages.terminale.url[ localization.language.ietf ] }}?__contatto__={{ request[ table ].id }}', '_self')"  data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">crea scontrino</button>
                </div>
                 <div class="group">
                    {% if session.contatto %}
                    <button type="button" class="btn-lg btn-secondary " onclick="window.open('{{ page.path[ localization.language.ietf ] }}?__unset__', '_self')"  data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">inserisci nuovo</button>
                    {% endif  %}
                    <button type="button" class=" btn-lg btn-secondary" onclick="window.open('{{ pages.delete.path[ localization.language.ietf ] }}?__delete__[table]=contatti&__delete__[id]={{ request[ table ].id  }}&__delete__[target]={{ page.path[ localization.language.ietf ]|url_encode }}&__delete__[rollback]={{page.path[ localization.language.ietf ]|url_encode}}','_self');">elimina</button>
                 </div>               	            
                 {% endif %}
                 {% if not request[ table ].id %}</div>{% endif %}

				<button type="submit" class="btn-lg btn-secondary" onclick="submitFormOkay = true;" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">salva</button>
			</div>
			
		</fieldset>	


	</form>
    </div>
</section>


{% endblock %}