{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}
{% import 'bin/ritiro.hardware.sub.html' as sub %}

{% extends 'ext/blank.html' %}

{# DEFINIZIONI #}

{% set ietf = localization.language.ietf %}
{% set table = 'coupon' %}
{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id or session.coupon %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{% block header %}
<div class="text-left">
        {% set target = pages.casse.url[ localization.language.ietf ] %}
        <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open( '{{ target }}', '_self' );" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
</div>
{% endblock %}
{% block line %}
{% if session.contatto  %}
<div class="row d-flex align-items-center" style="color: white; background-color: #343A40; padding: 5px;padding-right: 30px;padding-left: 15px;">
    <div class="col"><h3>{{ session.contatto.nome }}</h3></div>
    <div class="text-right" >
        <button class="btn btn-light" onclick='window.open("{{ pages[ 'contatti.form' ].url[ localization.language.ietf ] }}?contatti[id]={{session.contatto.id }}&__backurl__={{page.backurl[ietf]}}", "_self")'>modifica</button> 
        <button class="btn btn-light" onclick='window.open("{{ pages.contatti.url[ localization.language.ietf ] }}?__unset__", "_self")'>inserisci nuovo</button> 
    </div>
</div>
{% endif %}
{% endblock %}
{% block main %}
<form  {% if session.contatto %}style="margin-top: 45px;"{% endif %} id="form-filtro" class="form-main form-horizontal " action="{{ page.path[ localization.language.ietf ] }}" method="post">
    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
   
<section>

    <legend>genera coupon</legend>
   
    <div class="form-group form-row">
        <div class="col-12 col-md-2">
            <span class="label-top">coupon</span>
            {{ frm.inputRequired( table, '', '', 'id', '', '', request, 'CPON.'~now|date('U') ) }}
        </div>
        <div class="col-12 col-md">
            <span class="label-top">nome</span>
            {{ frm.inputRequired( table, '', '', 'nome', '', '', request, 'coupon generato in cassa il '~now|date('d/m/Y') ~ ' alle ' ~now|date('H:i') ) }}
        </div>
            {{ frm.input( table, '', '', 'timestamp_inizio', '', '', request, 'now'|date('U'), '', '', 'hidden' ) }}
    </div>	
        
    

    <div class="form-group form-row">

        <div class="col-12 col-md-2">
            <span class="label-top">sconto %</span>
            {{ frm.input( table, '', '', 'sconto_percentuale', '', '', request ) }}
        </div>
        
        <div class="col-12 col-md-2">
            <span class="label-top">sconto &euro;</span>
            {{ frm.input( table, '', '', 'sconto_fisso', '', '', request ) }}
        </div>
        {{ frm.checkbox( table, '', '', 'se_globale', '', '', request, 1,  'hidden'  ) }}
    </div>



<div class="form-group form-row">
 <div class="col-12 col-md">
            <span class="label-top">note</span>
            {{ frm.textarea( table, '', '', 'note','', 2, request ) }}
        </div>
    </div>
</fieldset>
<div class="col mt-3 cassa d-flex justify-content-between" style="margin-bottom: 1%;" >
     

    
    <div>
        {% if request[table].id %}
        <button type="button" class="btn btn-lg btn-secondary " onclick="window.open('{{ page.path[ localization.language.ietf ] }}?__unset__', '_self')"  data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">inserisci nuovo</button>
        <button type="button" class="btn btn-lg btn-secondary" onclick="window.open('{{ site.url }}_mod/_4100.prodotti/_src/_api/_print/_stampa.coupon.pdf.php?id={{ request[table].id }}', '_blank')">stampa</button>
        {% endif %}
    </div>
    <div>
        {% if request[table].id %}
        <button type="button" class="btn btn-secondary btn-lg" onclick="window.open('{{ pages.delete.path[ localization.language.ietf ] }}?__delete__[table]=coupon&__delete__[id]={{ session.coupon }}&__delete__[target]={{ page.path[ localization.language.ietf ]|url_encode }}&__delete__[rollback]={{page.path[ localization.language.ietf ]|url_encode}}','_self');"><i class="fa fa-trash"></i></button>
        {% endif %}
    </div>
    <div>
        <button class="btn btn-lg btn-secondary">salva</button>
    </div>
</div>
<!--
<legend>reso</legend>
{# SUBFORM GRUPPI #}
{{ sub.righe( 'documenti', 'documenti_articoli', 'articoli reso', site, page, pages, ietf, etc, request, session, '', etc.mastro ) }}
-->
</form>

  

</section>

<section>
<legend>reso articoli</legend>

    {% set table = 'documenti' %}

    {# TIPO DI METODO E ATTIVITA' SVOLTA #}
    {% if request[ table ].id  %}
        {% set method = 'update' %}
        {% set activity = 'aggiornamento' %}
        {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
    {% else %}
        {% set method = 'post' %}
        {% set activity = 'inserimento' %}
        {% set legend = 'inserimento nuovo oggetto' %}
    {% endif %}
    <form  style="margin-top: 10px;" id="form-reso" class="form-main form-horizontal " action="{{ page.path[ localization.language.ietf ] }}" method="post">
        {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
		<input type="hidden" id="id" name="{{ table }}[id]" value="{{request.documenti.id}}">
		<input type="hidden" id="id_todo" name="{{ table }}[id_todo]" value="{{ request.todo.id }}">
		<input type="hidden" id="numero" name="{{ table }}[numero]" value="{{ etc.numero }}">
		<input type="hidden" id="id_tipologia" name="{{ table }}[id_tipologia]" value="{{ etc.id_tipologia }}">
		<input type="hidden" id="id_emittente" name="{{ table }}[id_emittente]" value="{{ etc.id_emittente }}">
		<input type="hidden" id="id_contatto" name="{{ table }}[id_contatto]" value="{{ session.contatto.id }}">
		<input type="hidden" id="id_destinatario" name="{{ table }}[id_destinatario]" value="{{ request.todo.id_cliente }}">
	    <input type="hidden" id="coupon" name="{{ table }}[coupon]" value="{{ session.coupon }}">
		<input type="hidden" id="data" name="{{ table }}[data]" value="{{ 'now'|date('Y-m-d')}}">
		
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">
        {% if not request.documenti.id %}
        <div class="col-12 col-md mb-3">
            <span class="label-top">cliente</span>
            {{ frm.selectBox( table, '', '', 'id_destinatario', '', etc.select.id_destinatari, request, '', '','1','','','anagrafica.form','anagrafica.form','anagrafica', 'id_destinatario' , page, pages, ietf, 'anagrafica' ) }}
        </div>
        {% else %}
        <div class="form-group form-row col">
            <h3>{{ request.documenti.__label__ }}</h3>
        </div>
        {% endif %}
		{# SUBFORM GRUPPI #}
	    {{ sub.righe( table, 'documenti_articoli', 'articoli reso', site, page, pages, ietf, etc, request, session, '' , etc.mastro, -1, 1 ) }}
	

        <div class="col mt-3 cassa d-flex justify-content-between" style="margin-bottom: 1%;" >   
        <div>
            {% if request[table].id %}
            <button type="button" class="btn btn-lg btn-secondary " onclick="window.open('{{ page.path[ localization.language.ietf ] }}?__unset_reso__', '_self')"  data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">inserisci nuovo</button>
             {% endif %}
        </div>
        <div>
            {% if request[table].id %}
            <button type="button" class="btn btn-secondary btn-lg" onclick="window.open('{{ pages.delete.path[ localization.language.ietf ] }}?__delete__[table]=documenti&__delete__[id]={{ request[table].id }}&__delete__[target]={{ page.path[ localization.language.ietf ]~'?__unset_reso__'|url_encode }}&__delete__[rollback]={{ page.path[ localization.language.ietf ]~'?__unset_reso__'|url_encode}}','_self');"><i class="fa fa-trash"></i></button>
            {% endif %}
        </div>
        <div>
            <button class="btn btn-lg btn-secondary" onclick="submitFormOkay = true;">salva</button>
        </div>
    </div>
    <!--
    <legend>reso</legend>
    {# SUBFORM GRUPPI #}
    {{ sub.righe( 'documenti', 'documenti_articoli', 'articoli reso', site, page, pages, ietf, etc, request, session, '', etc.mastro ) }}
    -->
    </form>
    
</section>
{% endblock %}