{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends 'ext/blank.html' %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <div class="text-left">
        {% set target = pages.casse.url[ localization.language.ietf ] %}
        <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open( '{{ target }}', '_self' );" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>

    </div>

{% endblock %}

{% block line %}
{% if session.contatto  %}
<div class="row d-flex align-items-center" style="color: white; background-color: #343A40; padding: 5px;padding-right: 30px;padding-left: 15px;">
    <div class="col"><h3>{{ session.contatto.nome }}</h3></div>
    <div class="text-right" >
        <button class="btn btn-light" onclick='window.open("{{ pages[ 'contatti.form' ].url[ localization.language.ietf ] }}?contatti[id]={{session.contatto.id }}&__backurl__={{page.backurl[ietf]}}", "_self")'>modifica</button> 
        <button class="btn btn-light" onclick='window.open("{{ pages.contatti.url[ localization.language.ietf ] }}?__unset__", "_self")'>inserisci nuovo</button> 
    </div>
</div>
{% endif %}
{% endblock %}

{% block main %}


{% set cassa = pages.terminale.url[ localization.language.ietf ] %}
<div>

</div>
<form  {% if session.contatto %}style="margin-top: 45px;"{% endif %} id="form-{{ table }}" class="{% if session.contatto  %}mt-5{% endif %}form-main d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

    {# CAMPI HIDDEN DI BASE #}
    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
    <input type="hidden" id="id_emittente" name="{{ table }}[id_emittente]" value="{{ etc.id_emittente }}">
    <input type="hidden" id="id_contatto" name="{{ table }}[id_contatto]" value="{{ session.contatto.id }}">
    <input type="hidden" id="dato" name="{{ table }}[data]" value="{{ 'now'|date('Y-m-d') }}">
    <input type="hidden" id="numero" name="{{ table }}[numero]" value="{{ 'now'|date('U') }}">
    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
    {% if not request[table].id %}
    <input type="hidden" id="tipologia" name="{{ table }}[id_tipologia]" value="{{ etc.default_tipologia }}">
    {% endif %}

    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">


{% if  request.documenti.id  %}

    <div class="container-fluid pannello-cassa">
        <div class="row">
            <div class="col-5 align-items-center">
                <legend>documento</legend>
                    <div class="row">
                        <div class="col-12 ">
                            <span class="label-top">tipologia</span>
                            {{ frm.select( table, '', '', 'id_tipologia', '', etc.select.tipologie_documenti, request,  etc.default_tipologia, '', '1', '1' ) }}
                        </div>
                        <div class="col-12 mt-2">
                            <span class="label-top">cliente</span>
                            {{ frm.selectBox( table, '', '', 'id_destinatario', '', etc.select.anagrafica, request, session.contatto.id_anagrafica, '', '', '', '', 'anagrafica.form', 'anagrafica.form', 'anagrafica', 'id_destinatario', page, pages, ietf, 'anagrafica' ) }}
                        </div>
                        <div class="col-12">
                            {% if etc.righe %}
                            <div id="bot" class=" table-responsive box">
                                <table class="view-table">
                                    <thead>
                                        <tr>
                                        <th class="text-left"><span class="d-print-inline ">articolo</span></th>
                                        <th class="text-right"><span class="d-print-inline">reparto</span></th>
                                        <th class="text-right"><span class="d-print-inline">prezzo</span></th>
                                        <th class="text-right"><span class="d-print-inline">quantità</span></th>
                                        <th class="text-right"><span class="d-print-inline">sub totale</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="col-12" >
                                        {% for riga in etc.righe %}
                                        <tr>
                                        <td class="{{ view.class[key] }}"><span onclick="$('#documenti___comando__').val('{{riga.id_articolo}}')">{{ riga.id_articolo }}</span> {% if riga.matricola %}<br>{{ riga.label_matricola  }}{% endif %}{% if riga.ore %}<br><a href="{{ pages[ 'attivita.form' ].url[ localization.language.ietf ] }}?attivita[id]={{ riga.id_attivita }}" target="_blank">+{{ riga.ore }}h su {{ riga.progetto  }}</a> <button type="button" class="btn btn-sm btn-secondary" onclick="window.open('{{ pages.delete.path[ localization.language.ietf ] }}?__delete__[table]=attivita&__delete__[id]={{riga.id_attivita }}&__delete__[target]={{ page.path[ localization.language.ietf ]|url_encode }}&__delete__[rollback]={{page.path[ localization.language.ietf ]|url_encode}}','_self');">elimina attività</button>{% endif %}</td>
                                        <td class="text-right">{{ riga.reparto }}</td>
                                        <td class="text-right">€ {{ riga.importo_netto_totale }}</td>
                                        <td class="text-right">{{ riga.quantita }}</td>
                                        <td class="text-right">€ {{ (riga.importo_netto_totale * riga.quantita)|number_format(2, ',', '.') }}</td>  
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                
                                    </table>
                            </div>
                            {% endif %}
                            <table style="width:100%;">      
                                    {% if etc.totale %}
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td class="text-right"><h3>imponibile</h3></td>
                                                <td class="text-right"><h3>€ {{ etc.totale|number_format(2, ',', '.')  }}</h3></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td class="text-right"><h3>IVA</h3></td>
                                                <td class="text-right"><h3>€ {{ etc.totale_iva|number_format(2, ',', '.')  }}</h3></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td class="text-right"><h3>Totale</h3></td>
                                                <td class="text-right"><h3>€ {{ (etc.totale + etc.totale_iva )|number_format(2, ',', '.')  }}</h3></td>
                                            </tr>
                                            {% if request[table].coupon %}
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td class="text-right"><h3>Sconto</h3></td>
                                                <td class="text-right"><h3>€ {{ etc.sconto|number_format(2, ',', '.')  }}</h3></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td class="text-right"><h3>Totale scontato</h3></td>
                                                <td class="text-right"><h3>€ {% if (etc.totale + etc.totale_iva - etc.sconto) > 0 %}{{ (etc.totale + etc.totale_iva - etc.sconto)|number_format(2, ',', '.')  }}{% else %} 0,00{% endif %}</h3></td>
                                            </tr> 
                                            {% endif %}                                        
                                    {% endif %}
                                        </table>

</div>
                </div>  

            </div>
            <div class="col-5 align-items-center">
                <legend>comando</legend>
                    <div class="form-row row"> 
                                <div class="col ">
                                    {{ frm.input( table, '', '', '__comando__', '', '', '', '', '', '', 'focus-on-load' ) }}
                                </div>
                                <!--input type="submit" hidden-->
                                <div class="col-auto">
                                    {{ frm.select( table, '', '', '__reparto__', '', etc.select.reparti, request, '', '', 1, 1  ) }}
                                </div>
                                <div class="col-auto ">
                                    {{ frm.select( table, '', '', '__operazione__', '', etc.select.operazioni, request, '', '', 1,1  ) }}
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-secondary" data-placement="bottom" data-delay="1000" title="invio">esegui</button>
                                </div>
                    </div>
                    {% if session.coupon and not request[table].coupon %}
                    <div class="form-row row">
                        <div class="form-row media-body p-3" onclick="window.open('{{ cassa }}?__cpon__={{session.coupon}}','_self' )">
                            <div class="col-auto"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            <div class="col">
                            <h3>è presente un coupo in sessione, fai clic qui per aggiungerlo allo scontrino</h3>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if request[table].coupon %}
                    <div class="form-row row">
                        <div class="form-row media-body p-3" onclick="window.open('{{ cassa }}?__del_cpon__={{session.coupon}}','_self' )">
                        <div class="col-auto"><i class="fa fa-trash" aria-hidden="true"></i></div>
                        <div class="col">
                            <h3>elimina coupon dallo scontrino</h3>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-row row">
                      
                        <!--div class="col-6 mt-3 cassa">
                            <button type="button" class="btn-lg btn-secondary  btn-block btn-lg" id="pagamento-contanti" value="1" clicked onclick="clickPagamento(this)" data-toggle="button" aria-pressed="false" data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-money" aria-hidden="true"></i> contanti</button>
                        </div>
                        <div class="col-6 mt-3 cassa">
                            <button type="button" class="btn-lg btn-secondary  btn-block btn-lg" id="pagamento-elettronico" value="5" onclick="clickPagamento(this)" data-toggle="button" aria-pressed="false"  data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-credit-card" aria-hidden="true"></i> pagamento elettronico</button>
                        </div-->
                        {% if request[ table ].id %}  
                        {{ frm.input( table, 'scadenze', '0', 'id', '', '', request, '', 'hidden') }}
                        {{ frm.input( table, 'scadenze', '0', 'id_documento', '', '', '','__parent_id__' , 'hidden' ) }}
                        {{ frm.input( table, 'scadenze', '0', 'nome', '', '', request,'pagamento pronto scontrino','','', 'hidden' ) }}
                        {{ frm.input( table, 'scadenze', '0', 'data', '', '', request, 'now'|date('Y-m-d'),'','', 'hidden' ) }}
                        {{ frm.input( table, 'scadenze', '0', 'id_modalita_pagamento', '', '', request, '','','', 'hidden' ) }}
                        {{ frm.input( table, 'scadenze', '0', 'se_pagato', '', '', request, '1','','', 'hidden' ) }}
                        {% endif %}
                    </div>
                    <div class="mt-3 col-10 fixed-bottom " style="margin-bottom: 2%;" >
                    <div>
                        <div class="col-12"><legend>chiusura scontrino</legend></div>
                        
                        <div class="col-12 mt-3 cassa form-row">
                      
                            <div class="col-6  cassa">
                                <button type="button" class="btn-lg btn-secondary  btn-block btn-lg" id="pagamento-contanti" value="1" clicked onclick="clickPagamento(this)" data-toggle="button" aria-pressed="false" data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-money" aria-hidden="true"></i> contanti</button>
                            </div>
                            <div class="col-6 cassa">
                                <button type="button" class="btn-lg btn-secondary  btn-block btn-lg" id="pagamento-elettronico" value="5" onclick="clickPagamento(this)" data-toggle="button" aria-pressed="false"  data-placement="bottom" data-delay="1000" title="torna alla dashboard"><i class="fa fa-credit-card" aria-hidden="true"></i> pagamento elettronico</button>
                            </div>
                        </div>  

                      
                        <div class="col-12 cassa ">
                            <button type="button" class="btn-lg btn-secondary btn-sqr btn-block" onclick="anteprima()" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">stampa</button>
                        </div>

                        <div class="col-12 mt-2 cassa">
                            <button type="button" class="btn-lg btn-secondary btn-sqr btn-block" onclick="window.open('{{ pages.delete.path[ localization.language.ietf ] }}?__delete__[table]=documenti&__delete__[id]={{request.documenti.id }}&__delete__[target]={{ page.path[ localization.language.ietf ]|url_encode }}?__delete__[documenti][id]={{ request.documenti.id }}&__delete__[rollback]={{page.path[ localization.language.ietf ]|url_encode}}','_self');">elimina</button>
                        </div>
                    </div>
                    </div>
            </div>


            <div class="col-2 align-items-center"  >
                <legend>articoli frequenti</legend>
            <div class="box" style="height: 85vh;" >
                {% for articolo in etc.articoli_frequenti %}
                <a href="{{ cassa }}?__art__={{ articolo.id }}">
                <div class="media">
                   
                    <div class="media-body p-3">
                      <h3 class="mt-0">{{ articolo.__label__ }}</h3>
                      <p>{{ articolo.testo|raw }}</p>
                      
                    </div>
                  </div>
                  </a>
                  {% endfor %}
                </div>
                </div>
        </div>
    </div>

    {% else %}
    <div class="col-12 mt-3 cassa" >
        <button type="sumbit" class="btn btn-secondary btn-sqr btn-block" data-toggle="tooltip" data-placement="bottom" data-delay="1000" title="torna alla dashboard">apri</button>
    </div>

    {% endif %}
</form>
{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script language="javascript" type="text/javascript">

$( document ).ready(function() {

    if( $("#documenti_scadenze_0_id_modalita_pagamento").val() == 1 ){ 
        $('#pagamento-contanti').attr('class', 'btn-lg btn-dark btn-block'); 
        $('#pagamento-elettronico').attr('class', 'btn-lg btn-secondary btn-block');
    } 
    if( $("#documenti_scadenze_0_id_modalita_pagamento").val() == 5 ){ 
        $('#pagamento-elettronico').attr('class', 'btn-lg btn-dark btn-block'); 
        $('#pagamento-contanti').attr('class', 'btn-lg btn-secondary btn-block');
    }
  //  $("#documenti___comando__ ").focus();
    $("#documenti___operazione__").val('{{ etc.default_operazione }}');
    $("#documenti___reparto__").val('{{ etc.default_reparto }}');
 //   $("#documenti_id_tipologia").val('{{ etc.default_tipologia }}');
    //$("#documenti_id_tipologia").val('{{ etc.tipologia }}');
});

/*$( "#form-documenti" ).submit(function( event ) {
  alert( "Handler for .submit() called." );
});*/

    function anteprima(){
       
       
       // console.log('{{ pages[anteprima.documento].url[ localization.language.ietf ] }}?id={{ request.documenti.id }}');
       if( $("#documenti_scadenze_0_id_modalita_pagamento").val() == 1 || $("#documenti_scadenze_0_id_modalita_pagamento").val() == 5 ){ 
       window.open( "{{ pages['anteprima.documento'].url[  ietf ] }}?__documenti__[id]={{ request.documenti.id }}", '_self' );
       
        } else {
           alert("devi selezionare un metodo di pagamento per poter stampare lo scontrino");
       }
      
    }
    
   function clickPagamento(b){
        
        var id = b.id;
        $("#documenti_scadenze_0_id_modalita_pagamento").val( $('#'+id).val()  );
        console.log( $("#documenti_scadenze_0_id_modalita_pagamento").val());
        if( $('#'+id).val() == 1 ){ 
            $('#pagamento-contanti').attr('class', 'btn-lg btn-dark btn-block'); 
            $('#pagamento-elettronico').attr('class', 'btn-lg btn-secondary btn-block');
        } else {
            $('#pagamento-elettronico').attr('class', 'btn-lg btn-dark btn-block'); 
            $('#pagamento-contanti').attr('class', 'btn-lg btn-secondary btn-block');
         }
         
         $( "#form-documenti" ).submit();
        //$("#documenti___comando__ ").focus();
   }
</script>

{% endblock %}
