<div class="form-row view-filters d-print-none">
	<div class="col-12 col-md-auto">
		<span class="label-top">destinatario</span>
		<select name="__view__[{{ view.id }}][__filters__][id_destinatario][EQ]" onchange="$('#pager').val('0'); submit();" class="form-control form-control-sm">
			<option value="" {% if request.__view__[ view.id ].__filters__.id_destinatario.EQ == "" %}selected{% endif %}>tutti</option>
			{% for destinatario in etc.select.id_destinatari %}
			<option value="{{ destinatario.id }}" {% if request.__view__[ view.id ].__filters__.id_destinatario.EQ == destinatario.id %}selected{% endif %}>{{ destinatario.__label__ }}</option>
			{% endfor %}
		</select>
	</div>
    <div class="col">
		<span class="label-top">cerca</span>
	<input type="text" class="form-control form-control-sm" name="__view__[{{ view.id }}][__search__]" value="{{ request.__view__[ view.id ].__search__ }}" onchange="$('#pager').val('0');" autofocus>
    </div>
    <div class="col-auto">
	<button type="submit" class="btn btn-secondary btn-sqr btn-sm"><i class="fa fa-search"></i></button>
	{% if view.insert.path %}
	<button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}','_self');"><i class="fa fa-plus"></i></button>
	{% endif %}
    </div>
</div>
