{% import '_bin/_default.html' as cms %}

{% extends 'ext/main.html' %}

{% block main %}

{# CICLO SOTTO CATEGORIE #}

{% for p in page.children.id %}
{% if pages[ p ].metadati.id_categoria_prodotti %}
{% set p = pages[ p ] %}
<h2><a href="{{ p.url[ localization.language.ietf ] }}">{{ p.h1[ localization.language.ietf ] }}</a></h2>
{% endif %}
{% endfor %}

{# CONTENUTO PRINCIPALE DELLA PAGINA #}

{{ include( template_from_string( page.content[ localization.language.ietf ] ) | raw ) }}

{# CICLO PRODOTTI DELLA CATEGORIA #}

{% for p in page.children.id %}
{% if pages[ p ].metadati.id_prodotto %}
{% set p = pages[ p ] %}
<p><a href="{{ p.url[ localization.language.ietf ] }}">{{ p.h1[ localization.language.ietf ] }}</a></p>
{% endif %}
{% endfor %}

{% endblock %}