{% import '_bin/_default.html' as cms %}
{% import '_bin/_form.html' as frm %}

{% extends 'ext/main.html' %}

{% block main %}
{% set table = '__account__' %}
<form action="" method="post" id="formAccount">
    <fieldset>
        <legend>i tuoi dati</legend>
        <div class="form-row">
            <div class="col-12 col-md">
                <span class="label-top">nome</span>
                {{ frm.input( table, '', '', 'nome', '', '', request ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">cognome</span>
                {{ frm.input( table, '', '', 'cognome', '', '', request ) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md">
                <span class="label-top">e-mail</span>
                {{ frm.input( table, '', '', 'mail', '', '', request ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">telefono</span>
                {{ frm.input( table, '', '', 'telefono', '', '', request ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">cellulare</span>
                {{ frm.input( table, '', '', 'cellulare', '', '', request ) }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>cambio password per l'utente {{ session.username }}</legend>
        <div class="form-row">
            <div class="col-12 col-md">
                <span class="label-top">password corrente</span>
                {{ frm.input( table, '', '', 'password0', '', '', '', '', 'password', '', '', '', '', '', 'also-required="__account___password1,__account___password2"' ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">nuova password</span>
                {{ frm.input( table, '', '', 'password1', '', '', '', '', 'password', '', '', 1, '', '', 'required-equals="__account___password1,__account___password2"' ) }}
            </div>
            <div class="col-12 col-md">
                <span class="label-top">nuova password (ripetere)</span>
                {{ frm.input( table, '', '', 'password2', '', '', '', '', 'password', '', '', 1, '', '', 'required-equals="__account___password1,__account___password2"' ) }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-row">
            <div class="col">
                <!-- <button type="submit" class="btn btn-sm btn-secondary btn-block">modifica dati</button> -->
                {{ cms.formButton( 'registrati', 'button', 'btn btn-secondary btn-sm btn-block', '', '', '', 'formAccount', google.profile.recaptcha, '__account__', '' ) }}
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
