{% import '_bin/_default.html' as cms %}

{% extends "ext/main.html" %}

{% block main %}
<div class="row no-gutters flex-fill align-items-center justify-content-center">
    <form action="{{ page.path[ localization.language.ietf ] }}" class="draggable-item col-6" id="form-login" method="post">
    <input type="hidden" name="pg" value="{{ page.id }}">
		<fieldset>
			<legend>richiedi il cambio password</legend>
			{% if request.__pwreset__.__ok__ %}
			<div class="form-group form-row">
			<div class="col-12 text-center col-form-static">{{ request.__pwreset__.__ok__.testo[ localization.language.ietf ] | raw }}</div>
			</div>
			{% elseif request.__pwreset__.__tk_sent__ %}
			<div class="form-group form-row">
			<div class="col-12 text-center col-form-static">{{ request.__pwreset__.__tk_sent__.testo[ localization.language.ietf ] | raw }}</div>
			</div>
			{% elseif request.__pwreset__.__tk_ok__ %}
			<input type="hidden" name="tk" value="{{ request.tk }}">
			<div class="form-group form-row">
			<label class="d-none d-md-block col-md-4 col-form-label">password</label>
			<div class="col-12 col-md-8"><input type="password" class="form-control form-control-sm" name="__pwreset__[password]" value="{{ request.__pwreset__.password }}" placeholder="la nuova password" required></div>
			</div>
			<div class="form-group form-row">
			<div class="col-12"><button type="submit" class="btn btn-secondary btn-sm btn-block">richiedi cambio password</button></div>
			</div>
			{% else %}
			{# for e in request.__pwreset__.__err__ #}
			{% if request.__pwreset__.__err__ %}
			<div class="form-group form-row">
			<div class="col-12 text-center col-form-static">{{ request.__pwreset__.__err__.testo[ localization.language.ietf ] | raw }}</div>
			</div>
			{% endif %}
			{# endfor #}
		    <div class="form-group form-row">
			<label class="d-none d-md-block col-md-4 col-form-label">e-mail</label>
			<div class="col-12 col-md-8"><input type="email" class="form-control form-control-sm" name="__pwreset__[email]" value="{{ request.__pwreset__.email }}" placeholder="la tua e-mail" required></div>
			</div>
			{% if google.profile.recaptcha %}
			<div class="form-group form-row">
			<div class="col-12 col-md-8"><div class="g-recaptcha" style="display: inline-block;" data-sitekey="{{ google.profile.recaptcha.keys.public }}"></div></div>
			</div>
			{% endif %}
			<div class="form-group form-row">
			<div class="col-12"><button type="submit" class="btn btn-secondary btn-sm btn-block">richiedi cambio password</button></div>
			</div>
			{% endif %}
			<div class="form-group form-row">
			<div class="col-12"><a href="{{ pages[ site.home ].path[ localization.language.ietf ] }}" class="btn btn-light btn-sm btn-block">torna alla home page</a></div>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}
