{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

        {# MODULO PRINCIPALE #}

        {{ frm.input( table, '', '', 'timestamp_scalamento', '', '', request, '', 'hidden' ) }}

        <fieldset>
            <legend>dati generali <small>{{ legend }}</small></legend>
        
            <div class="form-group form-row">
                <div class="col">
                <span class="label-top ">etichetta</span>
                    {{ frm.inputRequired( table, '', '', 'nome', '', '', request ) }}
                </div>
<!--
                <div class="col-2 col-md-1">
                    <span class="label-top ">anno</span>
                    {{ frm.input( table, '', '', 'anno', '', '', request ) }}
                </div>
-->
            </div>
        </fieldset>

        <fieldset>
            <legend>file immagine <small>immagine aggiornata il {{ request[ table ].timestamp_aggiornamento|date('Y/m/d H:i:s') }}{% if request[ table ].timestamp_scalamento %} ridimensionata il {{ request[ table ].timestamp_scalamento|date('Y/m/d H:i:s') }}{% endif %}</small></legend>
        
            <div class="form-group form-row">
                <div class="col">
                    {{ frm.uploader( table, '', '', 'path', '', '', request, '', site ) }}
                </div>
                <div class="col-auto">
                    {{ frm.select( table, '', '', 'orientamento', '', etc.select.orientamenti, request, 1, '', '', 1) }}
                </div>
                <div class="col-auto">
                    {{ frm.select( table, '', '', 'taglio', '', etc.select.tagli, request ) }}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>file alternativo</legend>
            <div class="form-group form-row">
                <div class="col">
                    {{ frm.uploader( table, '', '', 'path_alternativo', '', '', request, 'var/contenuti/', site ) }}
                </div>
            </div>		
        </fieldset>
       
        {% if request[ table ].path %}
	    <fieldset>
            <legend>anteprima immagine</legend>

            <div class="form-group form-row">
                <div class="col-12 col-md-6 text-center">
                    <a href="{{ site.root }}{{ request[ table ].path }}" target="_blank"><img src="{{ site.root }}{{ request[ table ].path }}" class="img-fluid"></a>
                </div>
                <div class="col-12 col-md-6 text-left">
                    <p><strong>formati disponibili:</strong></p>
                    {% if etc.formats %}
                    <ul>
                        {% for l,f in etc.formats %}
                        <li><strong><a href="{{ site.root }}{{ f.path }}" target="_blank">{{ l }}</a></strong> ({{ f.size }})</li>
                        {% endfor %}
                    <ul>
                    {% endif %}
                </div>
            </div>
	    </fieldset>
        {% endif %}

        {# BOTTONI E COMANDI DEL MODULO #}
        <fieldset class="form-controls mt-auto">
            {{ def.controls( page, pages, ietf, session, table, request ) }}
        </fieldset>
	
	</form>
    </div>
</section>

{% endblock %}
