{% import '_bin/_form.html' as frm %}
{% import 'bin/default.html' as def %}

{% extends "ext/main.html" %}

{% block main %}

{# DEFINIZIONI #}
{% set table = form.table %}
{% set ietf = localization.language.ietf %}

{# ACCOUNT #}
{% if session.account.id %}
    {% set account = session.account.id %}
{% else %}
    {% set account = '__null__' %}
{% endif %}

{# TIPO DI METODO E ATTIVITA' SVOLTA #}
{% if request[ table ].id %}
    {% set method = 'update' %}
    {% set activity = 'aggiornamento' %}
    {% set legend = 'aggiornato ' ~ request[ table ][ 'timestamp_aggiornamento' ]|date('Y/m/d H:i:s') %}
{% else %}
    {% set method = 'post' %}
    {% set activity = 'inserimento' %}
    {% set legend = 'inserimento nuovo oggetto' %}
{% endif %}

{# FORM DI GESTIONE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">
	<form id="form-{{ table }}" class="form-main warning-if-changed d-flex flex-column flex-fill" action="{{ page.path[ ietf ] }}" method="post" autocomplete="off">

	    {# CAMPI HIDDEN DI BASE #}
	    <input type="hidden" id="id" name="{{ table }}[id]" value="{{ request[ table ].id }}">
	    <input type="hidden" id="method" name="{{ table }}[__method__]" value="{{ method }}">
	    <input type="hidden" id="reset" name="{{ table }}[__reset__]" value="">
	    <input type="hidden" id="timestamp" name="{{ table }}[timestamp_{{ activity }}]" value="{{ 'now'|date('U') }}">
	    <input type="hidden" id="account" name="{{ table }}[id_account_{{ activity }}]" value="{{ account }}">
	    {% if request.__backurl__ %}{# TODO VEDERE SE FUNZIONA ANCHE COSÌ FUORI DALL'IF #}{% endif %}
	    <input type="hidden" id="backurl" name="__backurl__" value="{{ request.__backurl__ }}">

        {# MODULO PRINCIPALE #}
        {# NOTA fino al 2026-10-01 qui c'era una copia commentata della maschera delle zone, e la scheda non aveva campi #}
        <fieldset>
        <legend>a cosa si applica</legend>
        <div class="form-group form-row">
            <div class="col-12 col-md-4">
                <span class="label-top">tipologia</span>
                {{ frm.select( table, '', '', 'id_tipologia', '', etc.select.tipologie_spedizioni, request ) }}
            </div>
            <div class="col-12 col-md-8">
                <span class="label-top">zona</span>
                {{ frm.select( table, '', '', 'id_zona', '', etc.select.zone, request ) }}
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-12 col-md-4">
                <span class="label-top">categoria di prodotti</span>
                {{ frm.select( table, '', '', 'id_categoria_prodotti', '', etc.select.categorie_prodotti, request ) }}
            </div>
            <div class="col-12 col-md-4">
                <span class="label-top">prodotto</span>
                {{ frm.select( table, '', '', 'id_prodotto', '', etc.select.prodotti, request ) }}
            </div>
            <div class="col-12 col-md-4">
                <span class="label-top">articolo</span>
                {{ frm.select( table, '', '', 'id_articolo', '', etc.select.articoli, request ) }}
            </div>
        </div>
        </fieldset>

        <fieldset>
        <legend>costo e tempi</legend>
        <div class="form-group form-row">
            <div class="col-12 col-md-2">
                <span class="label-top">pezzi per spedizione</span>
                {{ frm.input( table, '', '', 'lotto_spedizione', '', '', request, '', 'number' ) }}
            </div>
            <div class="col-12 col-md-2">
                <span class="label-top">importo netto</span>
                {{ frm.input( table, '', '', 'importo_netto', '', '', request, '', 'number', '', '', '', '0.01' ) }}
            </div>
            <div class="col-12 col-md-2">
                <span class="label-top">valuta</span>
                {{ frm.select( table, '', '', 'id_valuta', '', etc.select.valute, request ) }}
            </div>
            <div class="col-12 col-md-2">
                <span class="label-top">IVA</span>
                {{ frm.select( table, '', '', 'id_iva', '', etc.select.iva, request ) }}
            </div>
            <div class="col-12 col-md-2">
                <span class="label-top">giorni per la spedizione</span>
                {{ frm.input( table, '', '', 'giorni_spedizione', '', '', request, '', 'number' ) }}
            </div>
            <div class="col-12 col-md-2">
                <span class="label-top">giorni per la consegna</span>
                {{ frm.input( table, '', '', 'giorni_consegna', '', '', request, '', 'number' ) }}
            </div>
        </div>
        </fieldset>

        {# BOTTONI E COMANDI DEL MODULO #}
        <fieldset class="form-controls mt-auto">
            {{ def.controls( page, pages, ietf, session, table, request ) }}
        </fieldset>
	
	</form>
    </div>
</section>

{% endblock %}
